<!--component html goes here -->
<h3 *ngIf="isBusy">Loading available dashboards ...</h3>
<div
  *ngIf="!isBusy && errorMessage !== ''"
  style="border: 1px solid gray; padding: 4px; color: darkred"
>
  <span class="fa fa-warning"></span> {{ errorMessage }}
</div>
<div *ngIf="!isBusy && errorMessage === ''">
  <div class="row">
    <div
      *ngFor="let dashboard of dashboards"
      class="card-item col-md-4 col-sm-4 col-lg-4 col-xs-12"
    >
      <a (click)="viewDashboard(dashboard)">
        <div class="thumbnail dashboard-card" style="padding: 4px">
          <div class="caption">
            <h4>{{ dashboard.title }}</h4>
            <hr class="intro-divider dashboard-divider" />
            <span class="fa fa-3x {{ dashboard.icon }} fa-fw"></span>
            <h5>{{ dashboard.description }}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
