<div class="col-md-12">
  <drafted-form-nav></drafted-form-nav>
</div>
<!-- <add-to-cohort-dialog *ngIf="showingAddToCohort" [(patient)]="patient" [allowCohortEdit]="true"
                      (dialogClosed)="onAddingToCohortClosed()">
</add-to-cohort-dialog> -->
<transfer-care-dialog (dialogClosed)="closeDialog()"
                      *ngIf="manageProgramEnrollment"></transfer-care-dialog>
<div
  class="container-fluid patient-banner-partially hidden-sm hidden-md hidden-lg hidden-xl  {{ patient.person.dead ? 'banner-danger' : 'banner-info' }}"
  *ngIf="patient" style="padding: 4px 26px;">
  <div class="pull-left">
    <div class="row clearfix">
      <span style="font-weight: bold;font-size:20px">{{ patient?.person.display}}</span>
      <span>{{ patient?.person.gender}}</span>
      <span>{{ birthdate }} <span *ngIf="birthdate">({{ patient?.person.age }} yo)</span></span>
      <span *ngIf="patient?.person.dead">Died on <strong>{{ patient?.person.deathDate | date: 'dd-MM-yyyy'}}</strong></span>
    </div>
    <div class="row">
		<span style="margin-left:0px;">
			<span *ngIf="searchIdentifiers?.ampathMrsUId"> <span class="id-label">MUI:</span> {{ searchIdentifiers?.ampathMrsUId }} &nbsp;&nbsp;&nbsp;&nbsp; </span>
		<span *ngIf="searchIdentifiers?.amrsMrn"> <span class="id-label">MRN:</span> {{ searchIdentifiers?.amrsMrn }} &nbsp;&nbsp;&nbsp;&nbsp; </span>
    <span *ngIf="searchIdentifiers?.cCC"> <span class="id-label">CCC:</span> {{ searchIdentifiers?.cCC }} </span>
    <span *ngIf="attributes?.value"> <span class="id-label">Test Patient:</span> {{ attributes?.value }} </span>
		</span>
    </div>
  </div>
  <div class="pull-right">
    <a (click)="showTransferCareModal()" class="pull-right"
       style="margin-left:15px;display: inline-block;"> <span
      style="display: inline-block;margin-right:5px; height: 43px;line-height: 43px !important;"
      class="icon-i-family-practice"></span>Manage Enrollment</a>
    <!-- <a (click)="addToCohort()" class="pull-right" style="display: inline-block;"> <span
      style="display: inline-block;margin-right:5px; height: 43px;line-height: 43px !important;"
      class="fa fa-plus"></span>Add to Patient List</a> -->
    <span class="clear"></span>
  </div>
</div>
<div
  class="container-fluid patient-banner-partially hidden-xs {{ patient.person.dead ? 'banner-danger' : 'banner-info' }}"
  *ngIf="patient" style="padding: 12px 26px;">
  <div class="pull-left">
    <div class="row clearfix">
      <span style="font-weight: bold;font-size:20px">{{ patient?.person.display}}</span>
      <span>{{ patient?.person.gender}}</span>
      <span>{{ birthdate }} <span *ngIf="birthdate">({{ patient?.person.age }} yo)</span></span>
      <span *ngIf="patient?.person.dead">Died on <strong>{{ patient?.person.deathDate | date: 'dd-MM-yyyy'}}</strong></span>
      <span style="margin-left:0px;">
			<span *ngIf="searchIdentifiers?.ampathMrsUId"> <span class="id-label">MUI:</span> {{ searchIdentifiers?.ampathMrsUId }} &nbsp;&nbsp;&nbsp;&nbsp; </span>
		<span *ngIf="searchIdentifiers?.amrsMrn">  <span class="id-label">MRN:</span> {{ searchIdentifiers?.amrsMrn }} &nbsp;&nbsp;&nbsp;&nbsp; </span>
    <span *ngIf="searchIdentifiers?.cCC">  <span class="id-label">CCC:</span> {{ searchIdentifiers?.cCC }} </span>
    <span *ngIf="attributes?.value"> <span class="id-label">Test Patient:</span> {{ attributes?.value }} </span>
		</span>
    </div>
  </div>
  <div class="pull-right">
    <a (click)="showTransferCareModal()" class="pull-right"
       style="margin-left:15px; display: inline-block;"> <span
      style="display: inline-block;margin-right:5px; height: 43px;line-height: 43px !important;"
      class="icon-i-family-practice"></span>Manage Enrollment</a>
    <!-- <a (click)="addToCohort()" class="pull-right" style="display: inline-block;"> <span
      style="display: inline-block;margin-right:5px;height: 43px;line-height: 43px !important;"
      class="fa fa-plus"></span>Add to Patient List</a> -->
    <span class="clear"></span>
  </div>
</div>
<div class="margin-bottom-5 clear clear-fix">&nbsp;</div>
