<busy *ngIf="programsBusy" [message]="'Loading patient care programs.........'"></busy>
<div class="programs" *ngIf="availablePrograms.length > 0 && !hasError">
  <h4 class="component-title">Patient Care Program Snapshots
  </h4>
  <div class="program">
    <ng-container *ngFor="let row of availablePrograms; ">
      <div class="enrolled" *ngIf="row.isEnrolled">
        <div class="program-header-wrapper">
          <h2 class="program-header pull-left">{{row.program.display}} (Enrolled on {{row.dateEnrolledView}})
          </h2>
          <div class="clear"></div>
        </div>
        <div class="dropdown" [ngClass]="{'open': row.isEdit}">
          <a *ngIf="!row.isEdit" class="dropdown-toggle pull-right" type="button" (click)="toggleDropDown(row)">
            <i class="fa fa-pencil"></i>Edit/Complete
          </a>
          <a *ngIf="row.isEdit" class="dropdown-toggle pull-right" type="button" (click)="toggleDropDown(row)">
            <i class="fa fa-times"></i>Close
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <em class="text-danger" *ngIf="hasValidationErrors">{{row.validationError}}</em>
            <div class="form-inline form-group">
              <div class="input-group">
                <label>Date Enrolled:</label>
                <div class="ui-grid-col-10">
                  <input [(ngModel)]="row.dateEnrolled" type="date" [value]="row.dateEnrolled" />
                </div>
              </div>
              <div class="input-group">
                <label>Date Completed:</label>
                <div class="ui-grid-col-10">
                  <input [(ngModel)]="row.dateCompleted" type="date" [value]="row.dateCompleted" />
                </div>
              </div>
              <div class="input-group">
                <label>Location Enrolled:</label>
                <div class="ui-grid-col-10" >
                  <select class="form-control" [ngModel]="row.enrolledProgram.openmrsModel.location?.uuid" (ngModelChange)="getSelectedLocationToEdit($event)">
                    <option *ngFor="let c of locations" [ngValue]="c.value">{{c.label}}</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <label class="buttons"></label>
                <div class="ui-grid-col-12 buttons">
                  <a class="btn btn-primary" *ngIf="row.isEnrolled" [ngClass]="{'btn-primary': !row.isFocused, 'btn-info': row.isFocused}"
                    (click)="editPatientEnrollment(row)">
                    <span *ngIf="!row.isFocused">Edit/Complete Program</span>
                    <span *ngIf="row.isFocused && row.dateCompleted">Completing Program.....</span>
                    <span *ngIf="row.isFocused && !row.dateCompleted">Editing Program.....</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="program-body" [ngClass]="{'pink': addPinkBackground}">
          <div *ngIf="row.isEnrolled" class="program-info">
            <div class="program-snapshot">
              <div [ngSwitch]="row.baseRoute">
                <hiv-snapshot (addPinkBackground)="onAddPinkBackground($event)" *ngSwitchCase="'hiv'" [patient]="patient">
                </hiv-snapshot>
              </div>
            </div>
            <div class="clear clear-fix">&nbsp;</div>
          </div>
        </div>
        <div class="program-footer">
          <div class="input-group">
            <div class="ui-grid-col-12 buttons">
              <a class="btn btn-primary" routerLink="{{row.buttons.landing.url}}" *ngIf="row.isEnrolled">{{row.buttons.landing.display}}</a>
              <a class="btn btn-info" routerLink="{{row.buttons.visit.url}}" *ngIf="row.isEnrolled">{{row.buttons.visit.display}}</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="program non-enrolled">
    <h4 class="component-title">Enroll Patient to Program</h4>
    <div class="program-body">
      <em class="text-danger" *ngIf="hasValidationErrors">{{currentError}}</em>
      <div class="container-fluid">
        <div class="row" style="padding:4px">
          <div class="col-md-4 cell">
            <label for="programs">Select Program:</label>
            <div>
              <select class="form-control" id="programs" [(ngModel)]="program" type="date">
              <ng-container *ngFor="let row of availablePrograms">
                <option *ngIf="!row.isEnrolled" value="{{row.program.uuid}}">
                  {{row.program.display}}
                </option>
              </ng-container>
            </select>
            </div>
          </div>
          <div class="col-md-4 cell">
            <label for="enrolledDate">Date Enrolled:</label>
            <div>
              <input class="form-control" id="enrolledDate" [(ngModel)]="dateEnrolled" type="date" />
            </div>
          </div>
          <div class="col-md-4 cell">
            <label>Location Enrolled:</label>
            <select class="form-control" [ngModel]="selectedLocation" (ngModelChange)="getSelectedLocation($event)">
              <option *ngFor="let c of locations" [ngValue]="c.value">{{c.label}}</option>
            </select>
          </div>
          <div class="col-md-4 cell enroll-button">
            <label class="buttons"></label>
            <div class="buttons" style="width:100%">
              <a class="btn" [ngClass]="{'btn-primary': !isFocused, 'btn-info': isFocused}" (click)="enrollPatientToProgram()">
              <span *ngIf="!isFocused">Enroll</span>
              <span *ngIf="isFocused">Enrolling.....</span>
            </a>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="clear clear-fix">&nbsp;</div>-->
    </div>
  </div>
</div>
<div class="errors" *ngIf="errors.length > 0">
  <p class="alert" *ngFor="let error of errors;">
    <em class="text-danger">{{error.message}}</em>
  </p>
</div>
