<div class="shr-renderer-layout">
  <ng-container *ngIf="shrBundle">
    <ng-container *ngIf="shrBundle.entry">
       <div class="panel-group">
        <ng-container *ngFor="let entry of shrBundle.entry">

      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" [href]="'#'+ entry.resource.id">
            <ng-container [ngSwitch]="entry.resource.resourceType">
                 <ng-container *ngSwitchCase="'Patient'">
                  {{ entry?.resource?.meta?.lastUpdated | date:'medium'}} : Patient
                 </ng-container>
                  <ng-container *ngSwitchCase="'ServiceRequest'">
                  {{ (entry?.resource?.authoredOn || entry?.resource?.occurrenceDateTime) | date:'medium'}} : Service Request
                  </ng-container>
                   <ng-container *ngSwitchCase="'Condition'">
                  {{ entry?.resource?.recordedDate | date:'medium'}} : Condition
                   </ng-container>
                    <ng-container *ngSwitchCase="'Encounter'">
                  {{ entry?.resource?.period.start | date:'medium'}} : Encounter
                   </ng-container>
            </ng-container>
          </a>
        </h4>
      </div>
      <div [id]="entry.resource.id" class="panel-collapse collapse">
        <div class="panel-body">
              <ng-container [ngSwitch]="entry.resource.resourceType">
               <ng-container *ngSwitchCase="'Patient'">
                       <app-shr-patient [shrPatient]="entry.resource"></app-shr-patient>
               </ng-container>
                <ng-container *ngSwitchCase="'ServiceRequest'">
                       <app-shr-service-request [shrServiceRequest]="entry.resource"></app-shr-service-request>
               </ng-container>
               <ng-container *ngSwitchCase="'Condition'">
                       <app-shr-condition [shrCondition]="entry.resource"></app-shr-condition>
               </ng-container>
                <ng-container *ngSwitchCase="'Encounter'">
                       <app-shr-encounter [shrEncounter]="entry.resource"></app-shr-encounter>
               </ng-container>
        </ng-container>
        </div>
      </div>
    </div>
    </ng-container>
    </div>
  </ng-container>
  </ng-container>
</div>
