.shr-renderer-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.section-header {
  background: #87ceeb;
  color: #214a5f;
  font-weight: 800;
  padding: 8px;
}
