<div class="loader" *ngIf="isLoadingPatientList">
  <span><i class="fa fa-spinner fa-spin"></i>Loading Patient List...</span>
</div>
<patient-list [data]="patientData" [extraColumns]="extraColumns"></patient-list>
<div *ngIf="!hasLoadedAll">
  <div class="button">
    <button
      class="btn btn-primary"
      data-size="xs"
      data-color="blue"
      (click)="loadMore.emit()"
    >
      <span class=""></span>Load More...
    </button>
  </div>
</div>
<div *ngIf="hasLoadedAll">
  <p class="bg-info" style="padding: 4px">
    <b>
      <span style="color: green" class="glyphicon glyphicon-ok"
        >All records loaded {{ patientData?.length }}</span
      ></b
    >
  </p>

  <p></p>
</div>
