<div class="banner-info alert alert-info col-sm-12 col-md-12" *ngIf="patient">
	<div class="patient-details col col-sm-12 col-md-6">
    <h2>Patient Demographics</h2>
    <hr />
		<p>Names : {{ patient?.person.display}}</p>
		<p>Gender : {{ patient?.person.gender }}</p>
		<p>Age : {{ birthdate }} ( {{ patient?.person.age }} Yrs )</p>
	</div>
	<div class="patient-identifiers col col-sm-12 col-md-6">
    <h2>Patient Identifiers</h2>
    <hr />
		<p>
			<span class="identifier">MUI : </span>
			<span *ngIf="searchIdentifiers?.ampathMrsUId"> {{ searchIdentifiers?.ampathMrsUId }}</span>
			<span *ngIf="searchIdentifiers?.ampathMrsUId == null"> Not Available</span>
		</p>
		<p>
			<span class="identifier">MRN : </span>
			<span *ngIf="searchIdentifiers?.amrsMrn"> {{ searchIdentifiers?.amrsMrn }}</span>
			<span *ngIf="searchIdentifiers?.amrsMrn == null"> Not Available</span>
		</p>
		<p>
			<span class="identifier">NID : </span>
			<span *ngIf="searchIdentifiers?.kenyaNationalId"> {{ searchIdentifiers?.kenyaNationalId }}</span>
			<span *ngIf="searchIdentifiers?.kenyaNationalId == null"> Not Available</span>
		</p>
	</div>
  <div class="clear">&nbsp;</div>
</div>
<div class="clear">&nbsp;</div>

