<div class="panel panel-info">
  <div class="panel-heading">
	  <div class="banner-info" *ngIf="patient">
		  <div class="inline banner-detail" id="name">{{patient.fullName}}</div>
		  <div class="inline banner-detail" id="gender">	{{ patient.gender }}</div>
		  <div class="inline banner-detail" id="dob">	{{ patient.dob | date:'dd-MM-yyyy' }} (	{{ patient.age }})</div>
		  <div class="inline banner-detail" id="identifier">	{{ patient.ampathMrsUId }}</div>
		  <div class="inline banner-detail" id="identifier">	{{ patient.amrsMrn }}</div>
		  <div class="inline banner-detail" id="identifier">	{{ patient.kenyaNationalId }}</div>
	  </div>
		<div *ngIf="!patient">
			<p>Nothing to show</p>
		</div>
	</div>
</div>