.banner-info {
    color: #214a5f;
    width: 100%;
    background-color: #d9edf7;
    padding: 15px;
}

.banner-danger {
  color: #fff;
  width: 100%;
  background-color: #d9534f;
  padding: 15px;
}

@media screen and (max-width: 767px ) and (min-width: 480px ) {
    .banner-left {
        float: left;
        width: 50%;
    }
    .banner-right {
        float: right;
        width: 50%;
    }
}
.banner-detail {
    background-color: white;
}
.badge {
    display: none;
}
.btn-banner {
    background-color: white;
    margin: 1px;
}
.badge {
    display: unset;
}
.button {
    border: 2px solid;
}
@media screen and (max-width: 768px) {

    .attributes {
        width: 100%;
    }
}

.dots {
  margin: 40px auto;
}

.dot {
  margin: 0 2px;
  padding-left: 20px;
  position: relative;
  padding-top: 2px;
}
.dot.dot-success:before,.dot.dot-warning:before,.dot.dot-danger:before {
  background-color: #449D44;
  content: "";
  position: absolute;
  left: 0;
   top: 2px;
  display: block;
  width: 15px;
  height: 15px;
   border-radius: 50%;

}
.dot.dot-warning:before {
  background-color: #F0AD4E;
}
.dot.dot-danger:before {
  background-color: #D9534F;
}
.dot.dot-sm {
  height: 10px;
  width: 10px;
}
.dot.dot-lg {
  margin: 0 4px;
  height: 20px;
  width: 20px;
}
.super { vertical-align: super;
}