.banner-info {
    color: #214a5f;
    width: 100%;
    background-color: #d9edf7;
    padding: 1%;
}

@media screen and (max-width: 767px ) and (min-width: 480px ) {
    .banner-left {
        float: left;
        width: 50%;
    }
    .banner-right {
        float: right;
        width: 50%;
    }
}
