.badge-info {
  background-color: #3a87ad;
}
.button-wrapper {
  text-align: right;
  margin-top: 12px;
  display: block;
}

.input-group-btn {
}

.input-group-btn > .btn {
  margin-left: 5px;
}
.input-wrapper {
  width: 100%;
  margin-right: 0;
}
.alert {
  color: #999;
}

.alert .text-bold {
  color: #333;
}

.input-group-btn:last-child > .btn {
  border-radius: 3px;
}

.ladda-button {
  border-radius: 3px;
  padding: 11px 16px 10px 16px;
}

.ladda-button[data-size='xs'] .ladda-label {
  font-size: 18px !important;
}

.form-control:focus {
  border-color: #f1f1f1;
}

patient-relationship-search {
  display: block;
}

button {
  font-size: initial !important;
  margin-left: 7px !important;
}

button i {
  font-size: 18px;
}
