<p>
  daily-schedule works!
</p>

<p-tabView>
  <p-tabPanel header="Appointments">
    <div [ngBusy]="{busy:[loadingDailyAppointments],message:'Loading daily visits.........'}"></div>
    <div *ngIf='!loadingDailyAppointments' class="panel panel-primary">
      <div class="panel panel-default">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Given Name</th>
              <th>Middle Name</th>
              <th>Family Name</th>
              <th>Identifiers</th>
              <th>Gender</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor: pointer;" *ngFor="let appointment of dailyAppointments">
              <td>{{appointment.given_name}}</td>
              <td>{{appointment.middle_name}}</td>
              <td>{{appointment.family_name}}</td>
              <td>{{appointment.identifiers}}</td>
              <td>{{appointment.gender}}</td>
              <td>{{appointment.age}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </p-tabPanel>
  <p-tabPanel header="Visits">
    <div *ngIf='!loadingDailyVisits' class="panel panel-primary">
      <div class="panel panel-default">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Given Name</th>
              <th>Middle Name</th>
              <th>Family Name</th>
              <th>Identifiers</th>
              <th>Gender</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor: pointer;" *ngFor="let dailyVisit of dailyVisits">
              <td>{{dailyVisit.given_name}}</td>
              <td>{{dailyVisit.middle_name}}</td>
              <td>{{dailyVisit.family_name}}</td>
              <td>{{dailyVisit.identifiers}}</td>
              <td>{{dailyVisit.gender}}</td>
              <td>{{dailyVisit.age}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Has Not Returned" (click)="loadNotReturned()">
    <div *ngIf='!loadingHasNotReturned' class="panel panel-primary">
      <div class="panel panel-default">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Given Name</th>
              <th>Middle Name</th>
              <th>Family Name</th>
              <th>Identifiers</th>
              <th>Gender</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor: pointer;" *ngFor="let notReturned of dailyHasNotReturned">
              <td>{{notReturned.given_name}}</td>
              <td>{{notReturned.middle_name}}</td>
              <td>{{notReturned.family_name}}</td>
              <td>{{notReturned.identifiers}}</td>
              <td>{{notReturned.gender}}</td>
              <td>{{notReturned.age}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>

<div class="wrapper">
  <!--<div [ngBusy]="{busy:[loadingDailyVisits],message:'Loading daily visits.........'}"></div>-->

  <!--<div *ngFor="let error of errors" class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error.message}}
    </div>-->


</div>


<!--<p-growl [value]="msgs" sticky="sticky"></p-growl>
<p-tabView>
  <p-tabPanel header="Report Filter Demo">
    <report-filter
      [enabledControls]="['indicatorsControl','endDateControl', 'genderControl', 'startDateControl', 'locationsControl', 'ageRangeControl', 'formsControl']"
      (onGenerateReport)="onGenerateReport($event)" [(reportFilterModel)]="reportFilter"
      [buttonName]="'Generate Report'" [showButton]="true"
      [reportFilterTitle]="'Report Filter'" [enableDiagnostic]="true" [reportName]="'hiv-summary-monthly-report'">
    </report-filter>

    <p-fieldset legend="This should change when ReportFilterComponent changes:">
      <strong>{{diagnostic}}</strong>
    </p-fieldset>


  </p-tabPanel>
  <p-tabPanel header="Tab Panel 2">
    content 3
  </p-tabPanel>
  <p-tabPanel header="Tab Panel 3">
    Content 3
  </p-tabPanel>
</p-tabView>-->
