<h4 class="component-title" style="color: green">
  <span class="fa fa-bar-chart"></span> Patient Gains and Loses
</h4>
<div class="">
  <div class="row">
    <app-gains-and-losses-report-filters
      [startDate]="startMonth"
      (filterSet)="filterSet($event)"
    >
    </app-gains-and-losses-report-filters>
  </div>
  <div *ngIf="isDraftReport" class="alert alert-warning">
    <strong>Viewing a draft Version of the Gains and Losses Report. </strong>
    This report is not officially released, and is likely to change without
    warning.
  </div>
  <div class="row" *ngIf="locationUuids">
    <div class="col-sm-12">
      <div class="loader" *ngIf="isLoadingReport">
        <span><i class="fa fa-spinner fa-spin"> </i>Loading...</span>
      </div>
    </div>
  </div>

  <div class="alert alert-danger fade in" *ngIf="encounteredError">
    <a class="close" data-dismiss="alert">&times;</a>
    <h4>
      <strong><span class="glyphicon glyphicon-warning-sign"></span> </strong>
      An error occurred while trying to load the report. Please try again.
    </h4>
    <p>
      <small>{{ errorMessage }}</small>
    </p>
  </div>
  <div class="row" *ngIf="patientGainAndLoseSummaryData?.ending_active">
    <div class="card-item col-md-3 col-sm-3 col-lg-3 col-xs-12">
      <a>
        <div class="thumbnail dashboard-card" style="padding: 4px">
          <div class="caption">
            <span class="fa fa-1x fa-fw"
              >{{ patientGainAndLoseSummaryData?.startingMonth }}(active)</span
            >
            <hr class="intro-divider dashboard-divider" />
            <h4>
              <a
                (click)="onIndicatorSelected('starting_active', 'Active')"
                class="numbers_link numbers_text"
                >{{ patientGainAndLoseSummaryData?.starting_active }}</a
              >
            </h4>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <table class="table table-striped">
                  <th>On ART</th>
                  <th>Not On ART</th>
                  <tr>
                    <td class="numbers_link">
                      <h4>
                        <a
                          (click)="
                            onIndicatorSelected('on_art_starting', 'On ART')
                          "
                        >
                          {{
                            patientGainAndLoseSummaryData?.on_art_starting
                          }}</a
                        >
                      </h4>
                    </td>
                    <td class="numbers_link">
                      <h4>
                        <a
                          (click)="
                            onIndicatorSelected(
                              'not_on_art_starting',
                              'Not on ART'
                            )
                          "
                          >{{
                            patientGainAndLoseSummaryData?.not_on_art_starting
                          }}</a
                        >
                      </h4>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-item col-md-2 col-sm-2 col-lg-2 col-xs-12">
      <a>
        <div class="thumbnail dashboard-card" style="padding: 4px">
          <div class="caption">
            <span class="gain-text-color">Gained</span>
            <hr class="intro-divider dashboard-divider" />
            <h4 class="gain-text-color numbers_text">
              +{{
                patientGainAndLoseSummaryData?.return_to_care +
                  patientGainAndLoseSummaryData?.transferred_in +
                  patientGainAndLoseSummaryData?.newly_enrolled +
                  patientGainAndLoseSummaryData?.gained_other
              }}
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div class="card-item col-md-2 col-sm-2 col-lg-2 col-xs-12">
      <a>
        <div class="thumbnail dashboard-card" style="padding: 4px">
          <div class="caption">
            <span class="loss-text-color">Lost</span>
            <hr class="intro-divider dashboard-divider" />
            <h4 class="loss-text-color numbers_text">
              -{{
                patientGainAndLoseSummaryData?.transfer_out +
                  patientGainAndLoseSummaryData?.dead +
                  patientGainAndLoseSummaryData?.defaulter +
                  patientGainAndLoseSummaryData?.ltfu
              }}
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div class="card-item col-md-2 col-sm-2 col-lg-2 col-xs-12">
      <a>
        <div class="thumbnail dashboard-card" style="padding: 4px">
          <div class="caption">
            <span
              [ngClass]="{
                'loss-text-color': netGainLoss < 0,
                'gain-text-color': netGainLoss > 0
              }"
              >{{ netGainLoss > 0 ? 'Net Gain' : 'Net Loss' }}</span
            >
            <hr class="intro-divider dashboard-divider" />
            <h4
              class="numbers_text"
              [ngClass]="{
                'loss-text-color': netGainLoss < 0,
                'gain-text-color': netGainLoss > 0
              }"
            >
              {{
                patientGainAndLoseSummaryData?.ending_active -
                  patientGainAndLoseSummaryData?.starting_active
              }}
            </h4>
          </div>
        </div>
      </a>
    </div>
    <div class="card-item col-md-3 col-sm-3 col-lg-3 col-xs-12">
      <a>
        <div class="thumbnail dashboard-card" style="padding: 4px">
          <div class="caption">
            <span class="fa fa-1x fa-fw"
              >{{ patientGainAndLoseSummaryData?.endingMonth }}(Active)</span
            >
            <hr class="intro-divider dashboard-divider" />
            <h4>
              <a
                class="numbers_link numbers_text"
                (click)="onIndicatorSelected('ending_active', 'Ending Active')"
                >{{ patientGainAndLoseSummaryData?.ending_active }}</a
              >
            </h4>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <table class="table table-striped">
                  <th>On ART</th>
                  <th>Not On ART</th>
                  <tr>
                    <td class="numbers_link">
                      <h4>
                        <a
                          (click)="
                            onIndicatorSelected('on_art_ending', 'On ART')
                          "
                          >{{ patientGainAndLoseSummaryData?.on_art_ending }}</a
                        >
                      </h4>
                    </td>
                    <td class="numbers_link">
                      <h4>
                        <a
                          (click)="
                            onIndicatorSelected(
                              'not_on_art_ending',
                              'Not on ART'
                            )
                          "
                          >{{
                            patientGainAndLoseSummaryData?.not_on_art_ending
                          }}</a
                        >
                      </h4>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="row">
      <div
        class="col-lg-9 col-sm-9 col-md-9 col-xs-12"
        style="padding-left: 7.5rem"
      >
        <div class="panel-mod panel-default panel-table">
          <div class="panel-heading"></div>

          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <h3 class="analysis-title">
                  Analysis of Gains in
                  {{ patientGainAndLoseSummaryData?.endingMonth }}
                  {{ patientGainAndLoseSummaryData?.end }}
                </h3>
                <hr class="intro-divider" />
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="report-indicators">Newly Enrolled</td>
                      <td class="numbers_link report-indicators">
                        <a
                          (click)="
                            onIndicatorSelected(
                              'newly_enrolled',
                              'New enrolled'
                            )
                          "
                          >{{
                            patientGainAndLoseSummaryData?.newly_enrolled
                          }}</a
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="report-indicators">Transferred in</td>
                      <td class="numbers_link report-indicators">
                        <a
                          (click)="
                            onIndicatorSelected('transferred_in', 'Transfer In')
                          "
                          >{{
                            patientGainAndLoseSummaryData?.transferred_in
                          }}</a
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="report-indicators">Returned to Care</td>
                      <td class="numbers_link report-indicators">
                        <a
                          (click)="
                            onIndicatorSelected(
                              'return_to_care',
                              'Returned to Care'
                            )
                          "
                          >{{
                            patientGainAndLoseSummaryData?.return_to_care
                          }}</a
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="report-indicators">Other</td>
                      <td class="numbers_link report-indicators">
                        <a
                          (click)="
                            onIndicatorSelected('gained_other', 'Others')
                          "
                          >{{ patientGainAndLoseSummaryData?.gained_other }}</a
                        >
                      </td>
                    </tr>

                    <tr>
                      <th class="report-indicators"><b>Gains</b></th>
                      <td class="numbers_link report-indicators">
                        <a
                          (click)="
                            onIndicatorSelected('starting_not_active', 'Gains')
                          "
                          ><b>{{
                            patientGainAndLoseSummaryData?.starting_not_active
                          }}</b></a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                  <h3 class="analysis-title">
                    Analysis of losses in
                    {{ patientGainAndLoseSummaryData?.endingMonth }}
                  </h3>
                  <hr class="intro-divider" />
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="report-indicators">Transferred Out</td>
                        <td class="numbers_link report-indicators">
                          <a
                            (click)="
                              onIndicatorSelected(
                                'transfer_out',
                                'Transfer out'
                              )
                            "
                            >{{
                              patientGainAndLoseSummaryData?.transfer_out
                            }}</a
                          >
                        </td>
                      </tr>
                      <tr>
                        <td class="report-indicators">Dead</td>
                        <td class="numbers_link report-indicators">
                          <a (click)="onIndicatorSelected('dead', 'Dead')">{{
                            patientGainAndLoseSummaryData?.dead
                          }}</a>
                        </td>
                      </tr>
                      <tr>
                        <td class="report-indicators">Ltfu/IIT</td>
                        <td class="numbers_link report-indicators">
                          <a
                            (click)="
                              onIndicatorSelected('defaulter', 'LFTU/IIT')
                            "
                            >{{ patientGainAndLoseSummaryData?.defaulter }}</a
                          >
                        </td>
                      </tr>
                      <tr>
                        <th class="report-indicators"><b>Still Active</b></th>
                        <td class="numbers_link report-indicators">
                          <a
                            (click)="
                              onIndicatorSelected('still_active', 'Active')
                            "
                            >{{
                              patientGainAndLoseSummaryData?.still_active
                            }}</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <div class="thumbnail dashboard-card" style="padding: 4px">
          <div class="caption">
            <span class="gain-text-color">Proxy Retention</span>
            <hr class="intro-divider dashboard-divider" />
            <h5 class="gain-text-color numbers_text">{{ proxyRetention }} %</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="row"></div>
    </div>
  </div>
</div>
