<div >
  <ul class="list-group">
    <li class="list-group-item" style="font-size:medium" >County:{{patients.person.preferredAddress?.address1}}</li>
    <li class="list-group-item" style="font-size:medium" >Sub County: {{patients.person.preferredAddress?.address2}} </li>
    <li class="list-group-item" style="font-size:medium" >Estate/Landmark: {{patients.person.preferredAddress?.address3}} </li>
    <li class="list-group-item" style="font-size:medium"> Town/Village: {{patients.person.preferredAddress?.cityVillage}}
    </li>
    <li class="list-group-item" style="font-size:medium" >State/Province: {{patients.person.preferredAddress?.stateProvince}} </li>

  </ul>
</div>
