<div class="col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10 col-sm-12 col-xs-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td>County</td>
         <td>:{{address1}}</td>
         <td>Sub County</td>
         <td>:{{address2}}</td>
       </tr>
       <tr>
         <td>Estate/Landmark</td>
         <td>:{{address3}}</td>
         <td>Town/Village</td>
         <td>:{{address3}}</td>
       </tr>
       <tr>
         <td>State/Province</td>
         <td>{{stateProvince}}</td>
         <td></td>
         <td></td>
       </tr>
    </tbody>
  </table>
</div>

