<div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td><strong>County :</strong> {{address1}}</td>
         <td><strong>Sub County :</strong>{{address2}}</td>
       </tr>
       <tr>
         <td><strong>Estate/Landmark :</strong>{{address3}}</td>
         <td><strong>Town/Village : </strong>{{address3}}</td>
       </tr>
       <tr>
         <td><strong>State/Province : </strong> {{stateProvince}}</td>
         <td></td>
       </tr>
    </tbody>
  </table>
</div>

