<div >
  <ul class="list-group">
    <li class="list-group-item" style="font-size:medium" >Phone Number: {{patient.person.contacts.patientPhoneNumber}} </li>
    <li class="list-group-item" style="font-size:medium" >Alternative Phone Number: {{patient.person.contacts.alternativePhoneNumber}}  </li>
    <li class="list-group-item" style="font-size:medium" >Spouse Phone Number: {{patient.person.contacts.patnerPhoneNumber}}</li>
    <li class="list-group-item" style="font-size:medium"> Next of Kin phone number: {{patient.person.contacts.nextofkinPhoneNumber}}
    </li>
  </ul>
</div>
