<div class="col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10 col-sm-12 col-xs-12">
  <table class="table table-striped" *ngIf="patient">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td>Phone Number</td>
         <td>: {{patientPhoneNumber}}</td>
         <td>Alternative Phone Number</td>
         <td>: {{alternativePhoneNumber}}</td>
       </tr>
       <tr>
         <td>Spouse Phone Number</td>
         <td>: {{patnerPhoneNumber}}</td>
         <td>Next of Kin phone number</td>
         <td>: {{nextofkinPhoneNumber}}</td>
       </tr>
    </tbody>
  </table>
</div>
<div *ngFor="let error of errors" class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error.message}}
</div>
