<dl *ngIf="patient">
  <dt *ngIf="patient.person.display" >Name</dt>
  <dd *ngIf="patient.person.display" >{{patient.person.display | uppercase}}</dd>
  <dt *ngIf="patient.person.age" >Age</dt>
  <dd *ngIf="patient.person.age" >{{patient.person.age}}</dd>
  <dt *ngIf="patient.person.birthdate" >DOB</dt>
  <dd *ngIf="patient.person.birthdate" >{{patient.person.birthdate | stringToDate : 'DD-MM-YYYY'}}</dd>
  <dt>Deceased</dt>
  <dd><span *ngIf="patient.person.dead">Yes</span> <span *ngIf="!patient.person.dead">No</span></dd>
</dl>
