<div class="wrapper">
	<p-growl [value]="msgs"></p-growl>
	<p-accordion>
		<p-accordionTab header=" Demographics " [selected]="true">
			<patient-demographics></patient-demographics>
		</p-accordionTab>
    <p-accordionTab>
      <p-header>
        Contacts
        <button pButton type="button" (click)="timer.showDialog()"
                class="ui-button-info" label="Edit" style="float: right"></button>
      </p-header>
      <edit-contacts-info #timer>
      </edit-contacts-info>

      <contacts-info>

      </contacts-info>
    </p-accordionTab>
		<p-accordionTab header=" Address " [selected]="false">
			<address></address>
		</p-accordionTab>
		<p-accordionTab header=" Identifiers " [selected]="false">
			<patient-identifier [identifiers]="patient?._identifier"></patient-identifier>
		</p-accordionTab>
		<p-accordionTab header=" Relationships " [selected]="false">
			<patient-relationships></patient-relationships>
		</p-accordionTab>
	</p-accordion>
</div>
