
<div class="col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10 col-sm-12 col-xs-12">
  <table class="table table-striped" *ngIf="patient">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td>Name </td>
         <td>: {{patient.person.display | uppercase}}</td>
         <td>Age </td>
         <td>: {{patient.person.age}}</td>
       </tr>
       <tr>
         <td>DOB </td>
         <td>: {{patient.person.birthdate | stringToDate : 'DD-MM-YYYY'}}</td>
         <td class="{{ patient.person.dead ? 'text-danger' : '' }}">Deceased</td>
         <td>: <span *ngIf="patient.person.dead" class="{{ patient.person.dead ? 'text-danger' : '' }}"><strong>Yes</strong></span><span *ngIf="!patient.person.dead">No</span></td>
       </tr>
       <tr>
         <td>Death Date</td>
         <td>: {{patient.person.deathDate | date: 'dd-MM-yyyy'}}</td>
         <td>Cause of Death</td>
         <td>: {{patient.person.causeOfDeath}}</td>
       </tr>
         <tr>
         <td>Gender</td>
         <td>: {{patient.person.deathDate | date: 'dd-MM-yyyy'}}</td>
         <td>Health Center</td>
         <td>: {{patient.person.healthCenter}}</td>
       </tr>
    </tbody>
  </table>
</div>