<section>
  <h3><b class="">OTZ Register</b></h3>
  <ul class="collapsible-list">
    <li>
      <div class="item-details">
        <div class="prescriptionform" style="padding: 12px">
          <p-tabView>
            <div>
              <p-tabPanel header="Monthly" leftIcon="fa-calendar-o">
                <report-filters
                  [enabledControls]="enabledControls"
                  [monthString]="_month"
                  (onMonthChange)="onMonthChange($event)"
                  [reportName]="reportName"
                  (generateReport)="generateReport()"
                >
                </report-filters>
              </p-tabPanel>
            </div>
          </p-tabView>
          <div class="table-responsive" style="overflow-x: auto">
            <table class="medication-list">
              <thead>
                <tr>
                  <th colspan="3" rowspan="4" style="width: 5%">
                    <b>Serial Counter</b>
                  </th>
                  <th colspan="12" style="text-align: center; min-width: 400px">
                    <h4><b>Registration Details</b></h4>
                  </th>
                  <th colspan="9" style="text-align: center; min-width: 400px">
                    <b>Status at Enrollment into OTZ</b>
                  </th>
                  <th
                    colspan="3"
                    style="text-align: center; min-width: 100px"
                  ></th>
                  <th
                    colspan="12"
                    rowspan="2"
                    style="text-align: center; min-width: 400px"
                  >
                    <b>ART Regimen Switch Post Enrolment into OTZ</b>
                  </th>
                  <th
                    colspan="36"
                    rowspan="2"
                    style="text-align: center; min-width: 400px"
                  >
                    <b>Viral Load Post Enrolment into OTZ</b>
                  </th>
                  <th
                    colspan="6"
                    rowspan="2"
                    style="text-align: center; min-width: 200px"
                  >
                    <b>Transition/Attrition</b>
                  </th>
                  <th
                    colspan="2"
                    rowspan="3"
                    style="text-align: center; min-width: 200px"
                  >
                    <b>OTZ Modules Completion Tracker</b>
                  </th>
                  <th
                    colspan="2"
                    rowspan="5"
                    style="text-align: center; min-width: 200px"
                  >
                    <b>Remarks</b>
                  </th>
                </tr>
                <tr>
                  <td colspan="2" rowspan="3">
                    Date of enrollment to OTZ (dd/mm/yyyy)
                  </td>
                  <td colspan="2" rowspan="2" style="border-bottom: none">
                    Date of Birth (dd/mm/yyyy)
                  </td>
                  <td colspan="2" rowspan="3">
                    Unique Patient Number (CCC Number)
                  </td>
                  <td colspan="2" rowspan="2">ART Start Date</td>
                  <td colspan="2">Patient's Name</td>
                  <td
                    colspan="2"
                    rowspan="3"
                    style="
                      text-align: center;
                      width: 5%;
                      min-width: 20px !important;
                    "
                  >
                    Sex (M/F)
                  </td>
                  <td colspan="6">Most Current Viral load</td>
                  <td colspan="3">Most Current ART Regimen</td>
                  <td colspan="3" rowspan="3">
                    Current Regimen Line(1st/2nd/3rd)
                  </td>
                </tr>
                <tr>
                  <td colspan="2">First Name, Middle Name</td>
                  <td colspan="3">VL Results (copies/ml)</td>
                  <td colspan="3" rowspan="2">
                    VL Done Within 6 months (Yes/No)
                  </td>
                  <td colspan="3">ART Regimen</td>
                  <td colspan="2">1st Regimen Switch</td>
                  <td colspan="2">Date</td>
                  <td colspan="2">Reasons</td>
                  <td colspan="2">3rd Regimen Switch</td>
                  <td colspan="2">Date</td>
                  <td colspan="2">Reasons</td>
                  <ng-container *ngFor="let i of counterArray">
                    <td colspan="2">Viral load Results (copies/ml)</td>
                  </ng-container>
                  <td colspan="6" style="width: 30px">
                    Outcomes (Transfer Out, LTFU, Dead,Opt Out,Transition to
                    Adult Care)
                  </td>
                </tr>
                <tr>
                  <td colspan="2">Age at enrolment (in completed years)</td>
                  <td colspan="2">Original ART Regimen</td>
                  <td colspan="2">Last (Surname)</td>
                  <td colspan="3">Date Done</td>
                  <td colspan="3">Date Started on Current Regimen</td>
                  <td colspan="2">2nd Regimen Switch</td>
                  <td colspan="2">Date</td>
                  <td colspan="2">Reasons</td>
                  <td colspan="2">4th Regimen Switch</td>
                  <td colspan="2">Date</td>
                  <td colspan="2">Reasons</td>
                  <ng-container *ngFor="let i of counterArray">
                    <td colspan="2">Date of VL</td>
                  </ng-container>
                  <td colspan="6">Date</td>
                  <td colspan="2">Tick for each session completed</td>
                </tr>
                <tr class="alphabets">
                  <td colspan="3">(a)</td>
                  <td colspan="2">(b)</td>
                  <td colspan="2">(c)</td>
                  <td colspan="2">(d)</td>
                  <td colspan="2">(e)</td>
                  <td colspan="2">(f)</td>
                  <td colspan="2">(g)</td>
                  <td colspan="3">(h)</td>
                  <td colspan="3">(i)</td>
                  <td colspan="3">(j)</td>
                  <td colspan="3">(k)</td>
                  <td colspan="12">(l)</td>
                  <td colspan="36">(m)</td>
                  <td colspan="6">(n)</td>
                  <td colspan="2">(o)</td>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of otzData; let i = index">
                  <tr>
                    <td colspan="3" rowspan="2" style="width: 10%">
                      {{ i + 1 }}
                    </td>
                    <td colspan="2" rowspan="2" style="text-align: center">
                      {{ data.date_enrolled_to_otz }}
                    </td>
                    <td colspan="2" style="width: 20%; text-align: center">
                      {{ data.birth_date }}
                    </td>

                    <td
                      colspan="2"
                      rowspan="2"
                      style="width: 20%; text-align: center"
                    >
                      {{ data.identifiers }}
                    </td>
                    <td
                      colspan="2"
                      rowspan="2"
                      style="width: 20%; text-align: center"
                    >
                      2022-01-01
                    </td>
                    <td colspan="2" style="width: 20%; text-align: center">
                      {{ data.firstname_middlename }}
                    </td>
                    <td
                      colspan="2"
                      rowspan="2"
                      style="width: 10%; text-align: center"
                    >
                      {{ data.gender }}
                    </td>
                    <td colspan="3" style="text-align: center">
                      {{ data.vl_result_at_otz_enrollment }}
                    </td>
                    <td
                      colspan="3"
                      rowspan="2"
                      style="width: 20%; text-align: center"
                    >
                      1990-05-15
                    </td>

                    <td colspan="3" style="width: 20%; text-align: center">
                      {{ data.art_regimen_at_otz_enrollment }}
                    </td>
                    <td
                      colspan="3"
                      rowspan="2"
                      style="width: 20%; text-align: center"
                    >
                    {{ data.art_regimen_line_at_otz_enrollment }}
                    </td>
                    <td colspan="2">{{ data.first_regimen_switch }}</td>
                    <td colspan="2">{{ data.first_regimen_switch_date }}</td>
                    <td colspan="2">gm</td>
                    <td colspan="2">{{ data.third_regimen_switch }}</td>
                    <td colspan="2">{{ data.third_regimen_switch_date }}</td>
                    <td colspan="2">pppprrr</td>
                    <ng-container *ngFor="let i of counterArray">
                      <td colspan="2">rrrr</td>
                    </ng-container>
                    <td colspan="6"></td>
                    <td colspan="2" rowspan="2">gx</td>
                    <td colspan="2" rowspan="2">gy</td>
                  </tr>
                  <tr>
                    <td colspan="2">{{ data.age_at_enrollment }} years</td>
                    <td colspan="2">{{ data.last_name }}</td>
                    <td colspan="3">{{ data.vl_result_date_at_otz_enrollment }}</td>
                    <td colspan="3">{{ data.art_regimen_start_date_at_otz_enrollment }}</td>
                    <td colspan="2">{{ data.second_regimen_switch }}</td>
                    <td colspan="2">{{ data.second_regimen_switch_date }}</td>
                    <td colspan="2">xxx</td>
                    <td colspan="2">{{ data.fourth_regimen_switch }}</td>
                    <td colspan="2">{{ data.fourth_regimen_switch_date }}</td>
                    <td colspan="2">yyy</td>
                    <ng-container *ngFor="let i of counterArray">
                      <td colspan="2">gg</td>
                    </ng-container>
                    <td colspan="6">gggg</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="exportToExcelBtn">
            <button
              (click)="(exportToExcel)"
              class="btn btn-danger pull-right btn-sm fa fa-download"
            >
              Export Form to Excel
            </button>
          </div>
        </div>
      </div>
      <br />
    </li>
  </ul>
</section>
