.cohort-field {
    margin: 4px;
    margin-top: 8px;
    font-weight: bold;
}

.selectable-field-wrapper {
    border: 1px solid lightblue;
    padding: 4px;
}

#add-cohort-member-container {
    max-height: 500px;
    overflow-y: scroll;
}


@media screen and (min-width: 768px) {
   #add-cohort-member-container {
    max-height: 500px;
   }

}