<div class="wrapper">
    <busy *ngIf="isBusy && !errorFlag" [message]="'Loading patient summary...'"></busy>
  <div>
    <div class="panel panel-info">

      <div class="panel-heading" style="min-height: 50px!important">
       <div class="row">
          <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4 clinical-summary-col">
            <div class="text-primary text-bold">
					      <span class="fa fa-file-pdf-o"></span>
                HIV Patient Clinical Summary
            </div>
          </div>
          <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
                <div class="btn-group pull-right text-right" style="padding-left:0px; padding-right:0px;">
                    <button class="btn  btn-primary" style="float: none;" (click)="printSummary()" [disabled]="!pdfMakeProxy">
                      <i class="fa fa-print"></i> Print Summary
                    </button>
                    <button class="btn btn-primary" style="float: none;" (click)="downloadPdf()" [disabled]="!pdfMakeProxy">
                      <i class="fa fa-download"></i> Download Pdf
                    </button>
                </div>
          </div>
       </div>
       


      </div>
      <div class="panel-body" style="background-color: #ECF0F5">
        <pdf-viewer [src]="pdfSrc"
                    [(page)]="page"
                    (after-load-complete)="afterLoadCompletes($event)"
                    [original-size]="false"
                    style="display: block;"
                    [render-text]="false"
                    [show-all]="false"
        >

        </pdf-viewer>
        <div *ngIf="errorFlag" class="alert alert-warning">
          <strong>Patient summary not available,</strong> please contact your system administrator
          if you consider this an error
        </div>
        <!--<object  type="application/pdf" width="100%" height="800" [data]="securedUrl" type="application/pdf"></object>-->
      </div>
      <div class="panel-footer" style="min-height: 50px">
        <button class="btn btn-default pull-left" (click)="prevPage()"
                [disabled]="!pdfMakeProxy || page<2">
          <i class="fa fa-arrow-circle-o-left">
          </i> Previous Page
        </button>
        <button class="btn btn-default pull-right" (click)="nextPage()"
                [disabled]="!pdfMakeProxy">
          Next Page <i class="fa fa-arrow-circle-o-right">
        </i>
        </button>
      </div>
    </div>

  </div>

</div>
