<p-dialog
  header="Edit patient identifiers"
  [(visible)]="display"
  closable="true"
  styleClass="edit-identifier-dialog"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div
          class="alert alert-success"
          *ngIf="showSuccessAlert"
          style="margin-top: 10px"
        >
          <strong>Done!</strong> {{ successAlert }}
        </div>
        <div
          class="alert alert-danger"
          *ngIf="showErrorAlert"
          style="margin-top: 10px"
        >
          <strong>{{ errorTitle }}</strong> {{ errorAlert }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Patient Identifier Type:</label>
          <input
            type="text"
            [ngModel]="identifierType.label"
            class="form-control"
            [disabled]="true"
            name=""
          />
          <div ng-messages="personForm.identifierType.$error">
            <div class="help-block" ng-message="required">
              Identifier Type is required.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Patient Identifier</label>
          <span
            class="badge btn pull-right"
            *ngIf="checkUniversal"
            (click)="generatePatientIdentifier()"
            >Generate</span
          >
          <div [hidden]="showGeneralTexBox">
            <input
              type="text"
              id="patientIdentifier"
              class="form-control"
              [(ngModel)]="patientIdentifier"
              name=""
              (ngModelChange)="setPatientIdentifier(patientIdentifier)"
            />
          </div>
          <div [hidden]="!showNationalIdTexBox">
            <input
              type="number"
              id="patientId"
              class="form-control"
              [(ngModel)]="patientIdentifier"
              name=""
              (ngModelChange)="setPatientIdentifier(patientIdentifier)"
              (keypress)="_keyPress($event)"
            />
          </div>
          <div *ngIf="identifierValidity">
            <span style="color: red"
              ><i class="glyphicon glyphicon-exclamation-sign"></i>
              {{ identifierValidity }}</span
            >
          </div>
          <div ng-messages="patientIdentifier.$error">
            <div class="help-block" ng-message="required">
              Identifier is required.
            </div>
          </div>
          <div *ngIf="hasError" style="margin-bottom: 10px">
            <span class="text-danger">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
              {{ errorMessage }}</span
            >
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Preferred</label>
          <select
            class="form-control"
            [ngModel]="preferredIdentifier"
            (ngModelChange)="setPreferredIdentifier($event)"
          >
            <option *ngFor="let c of preferOptions" [ngValue]="c.value">
              {{ c.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Identifier Location</label>
          <ng-select
            class="sharp-corners"
            id="selectedDevice"
            (change)="seIdentifierLocation($event)"
            [placeholder]="'Select a location or type to search...'"
            [(ngModel)]="selectedDevice"
            [items]="locations"
          >
          </ng-select>
          <div *ngIf="invalidLocationCheck">
            <span
              style="color: red"
              class="glyphicon glyphicon-exclamation-sign"
            >
              {{ invalidLocationCheck }}</span
            >
          </div>
        </div>
      </div>

      <div
        class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
        style="margin-bottom: 15px"
      >
        <div class="form-group">
          <button
            ng-disabled="personForm.patientIdentifier.$invalid &&
                personForm.identifierType.$invalid && personForm.selectedLocation.selected.$invalid"
            class="btn btn-primary"
            type="button"
            (click)="updatePatientIdentifier()"
          >
            <span>Save</span>
          </button>
          <button
            class="btn btn-danger pull-right"
            type="button"
            (click)="dismissDialog()"
          >
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<!--ADD VERIFY DIALOG -->
<p-dialog
  header="Add Patient Verification Identifiers"
  [(visible)]="addVerifyDialog"
  closable="true"
  styleClass="edit-identifier-dialog"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div
          class="alert alert-success"
          *ngIf="showSuccessAlert"
          style="margin-top: 10px"
        >
          <strong>Done!</strong> {{ successAlert }}
        </div>
        <div
          class="alert alert-danger"
          *ngIf="showErrorAlert"
          style="margin-top: 10px"
        >
          <strong>{{ errorTitle }}</strong> {{ errorAlert }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Patient Identifier Type:</label>
          <select
            required
            class="form-control"
            [ngModel]="identifierType"
            (ngModelChange)="selectIdentifierType($event)"
          >
            <option value=""></option>
            <option *ngFor="let c of verificationIdentifierTypes" [ngValue]="c">
              {{ c.label }}
            </option>
          </select>
          <div ng-messages="personForm.identifierType.$error">
            <div class="help-block" ng-message="required">
              Identifier Type is required.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Patient Identifier</label>
          <span
            class="badge btn pull-right"
            *ngIf="checkUniversal"
            (click)="generatePatientIdentifier()"
            >Generate</span
          >
          <div [hidden]="showGeneralTexBox">
            <input
              type="text"
              id="patientIdentifier"
              class="form-control"
              [(ngModel)]="patientIdentifier"
              name=""
              (ngModelChange)="setPatientIdentifier(patientIdentifier)"
            />
          </div>
          <div [hidden]="!showNationalIdTexBox">
            <input
              type="number"
              id="patientId"
              class="form-control"
              [(ngModel)]="patientIdentifier"
              name=""
              (ngModelChange)="setPatientIdentifier(patientIdentifier)"
              (keypress)="_keyPress($event)"
            />
          </div>
          <div *ngIf="identifierValidity">
            <span
              style="color: red"
              class="glyphicon glyphicon-exclamation-sign"
              >{{ identifierValidity }}</span
            >
          </div>
          <div ng-messages="patientIdentifier.$error">
            <div class="help-block" ng-message="required">
              Identifier is required.
            </div>
          </div>
          <div *ngIf="hasError" style="margin-bottom: 10px">
            <span class="text-danger">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
              {{ errorMessage }}</span
            >
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Preferred</label>
          <select
            class="form-control"
            [ngModel]="preferredIdentifier"
            (ngModelChange)="setPreferredIdentifier($event)"
          >
            <option *ngFor="let c of preferOptions" [ngValue]="c.value">
              {{ c.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Identifier Location</label>
          <ng-select
            class="sharp-corners"
            id="selectedDevice"
            (change)="seIdentifierLocation($event)"
            [placeholder]="'Select a location or type to search...'"
            [(ngModel)]="selectedDevice"
            [items]="locations"
          >
          </ng-select>
          <div *ngIf="invalidLocationCheck">
            <span
              style="color: red"
              class="glyphicon glyphicon-exclamation-sign"
            >
              {{ invalidLocationCheck }}</span
            >
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Phone Number</label>
          <input
            type="text"
            id="telNumber"
            class="form-control"
            [(ngModel)]="telNumber"
            name=""
            (ngModelChange)="setTelNumber(telNumber)"
          />
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label for="birthDate"
            >Birthdate <span>(Format: mm/dd/yyyy)</span>
            <span *ngIf="!birthDate" class="required"> * </span></label
          ><br />
          <date-time-picker
            tabindex="0"
            [modelValue]="birthDate"
            [id]="'birthDate'"
            (onDateChange)="updateBirthDate($event)"
          ></date-time-picker>
          <div *ngIf="birthError">
            <span class="required">{{ birthError }}</span>
          </div>
          <div *ngIf="errors && !birthDate" class="required">
            <span class="help-block" style="color: red"
              >Birth Date is required!</span
            >
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Country</label>
          <input
            type="text"
            id="country"
            class="form-control"
            [(ngModel)]="country"
            name=""
            (ngModelChange)="setCountry(country)"
          />
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">County</label>
          <input
            type="text"
            id="county"
            class="form-control"
            [(ngModel)]="county"
            name=""
            (ngModelChange)="setCounty(county)"
          />
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Sub County</label>
          <input
            type="text"
            id="subCounty"
            class="form-control"
            [(ngModel)]="subCounty"
            name=""
            (ngModelChange)="setSubCounty(subCounty)"
          />
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Village/Estate</label>
          <input
            type="text"
            id="village"
            class="form-control"
            [(ngModel)]="village"
            name=""
            (ngModelChange)="setVillage(village)"
          />
        </div>
      </div>

      <div
        class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
        style="margin-bottom: 15px"
      >
        <div class="form-group">
          <button
            ng-disabled="personForm.patientIdentifier.$invalid &&
                personForm.identifierType.$invalid && personForm.selectedLocation.selected.$invalid"
            class="btn btn-primary"
            type="button"
            (click)="updatePatientVerificationInfo()"
          >
            <span>Save</span>
          </button>
          <button
            class="btn btn-danger pull-right"
            type="button"
            (click)="dismissDialog()"
          >
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<!-- Add Patient Identifiers dialog -->
<p-dialog
  header="Add Patient Identifiers"
  [(visible)]="addDialog"
  closable="true"
  styleClass="edit-identifier-dialog"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div
          class="alert alert-success"
          *ngIf="showSuccessAlert"
          style="margin-top: 10px"
        >
          <strong>Done!</strong> {{ successAlert }}
        </div>
        <div
          class="alert alert-danger"
          *ngIf="showErrorAlert"
          style="margin-top: 10px"
        >
          <strong>{{ errorTitle }}</strong> {{ errorAlert }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Patient Identifier Type:</label>
          <select
            required
            class="form-control"
            [ngModel]="identifierType"
            (ngModelChange)="selectIdentifierType($event)"
          >
            <option value=""></option>
            <option *ngFor="let c of commonIdentifierTypes" [ngValue]="c">
              {{ c.label }}
            </option>
          </select>
          <div ng-messages="personForm.identifierType.$error">
            <div class="help-block" ng-message="required">
              Identifier Type is required.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Patient Identifier</label>
          <span
            class="badge btn pull-right"
            *ngIf="checkUniversal"
            (click)="generatePatientIdentifier()"
            >Generate</span
          >
          <div [hidden]="showGeneralTexBox">
            <input
              type="text"
              id="patientIdentifier"
              class="form-control"
              [(ngModel)]="patientIdentifier"
              name=""
              (ngModelChange)="setPatientIdentifier(patientIdentifier)"
            />
          </div>
          <div [hidden]="!showNationalIdTexBox">
            <input
              type="number"
              id="patientId"
              class="form-control"
              [(ngModel)]="patientIdentifier"
              name=""
              (ngModelChange)="setPatientIdentifier(patientIdentifier)"
              (keypress)="_keyPress($event)"
            />
          </div>
          <div *ngIf="identifierValidity">
            <span
              style="color: red"
              class="glyphicon glyphicon-exclamation-sign"
              >{{ identifierValidity }}</span
            >
          </div>
          <div ng-messages="patientIdentifier.$error">
            <div class="help-block" ng-message="required">
              Identifier is required.
            </div>
          </div>
          <div *ngIf="hasError" style="margin-bottom: 10px">
            <span class="text-danger">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
              {{ errorMessage }}</span
            >
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Preferred</label>
          <select
            class="form-control"
            [ngModel]="preferredIdentifier"
            (ngModelChange)="setPreferredIdentifier($event)"
          >
            <option *ngFor="let c of preferOptions" [ngValue]="c.value">
              {{ c.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Identifier Location</label>
          <ng-select
            class="sharp-corners"
            id="selectedDevice"
            (change)="seIdentifierLocation($event)"
            [placeholder]="'Select a location or type to search...'"
            [(ngModel)]="selectedDevice"
            [items]="locations"
          >
          </ng-select>
          <div *ngIf="invalidLocationCheck">
            <span
              style="color: red"
              class="glyphicon glyphicon-exclamation-sign"
            >
              {{ invalidLocationCheck }}</span
            >
          </div>
        </div>
      </div>

      <div
        class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
        style="margin-bottom: 15px"
      >
        <div class="form-group">
          <button
            ng-disabled="personForm.patientIdentifier.$invalid &&
                personForm.identifierType.$invalid && personForm.selectedLocation.selected.$invalid"
            class="btn btn-primary"
            type="button"
            (click)="updatePatientIdentifier()"
          >
            <span>Save</span>
          </button>
          <button
            class="btn btn-danger pull-right"
            type="button"
            (click)="dismissDialog()"
          >
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
