<p-dialog
  header="Edit patient identifiers"
  [(visible)]="display"
  closable="true"
  styleClass="edit-identifier-dialog"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div
          class="alert alert-success"
          *ngIf="showSuccessAlert"
          style="margin-top: 10px"
        >
          <strong>Done!</strong> {{ successAlert }}
        </div>
        <div
          class="alert alert-danger"
          *ngIf="showErrorAlert"
          style="margin-top: 10px"
        >
          <strong>{{ errorTitle }}</strong> {{ errorAlert }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Patient Identifier Type:</label>
          <input
            type="text"
            [ngModel]="identifierType.label"
            class="form-control"
            [disabled]="true"
            name=""
          />
          <div ng-messages="personForm.identifierType.$error">
            <div class="help-block" ng-message="required">
              Identifier Type is required.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Patient Identifier</label>
          <span
            class="badge btn pull-right"
            *ngIf="checkUniversal"
            (click)="generatePatientIdentifier()"
            >Generate</span
          >
          <div [hidden]="showGeneralTexBox">
            <input
              type="text"
              id="patientIdentifier"
              class="form-control"
              [(ngModel)]="patientIdentifier"
              name=""
              (ngModelChange)="setPatientIdentifier(patientIdentifier)"
            />
          </div>
          <div [hidden]="!showNationalIdTexBox">
            <input
              type="number"
              id="patientId"
              class="form-control"
              [(ngModel)]="patientIdentifier"
              name=""
              (ngModelChange)="setPatientIdentifier(patientIdentifier)"
              (keypress)="_keyPress($event)"
            />
          </div>
          <div *ngIf="identifierValidity">
            <span style="color: red"
              ><i class="glyphicon glyphicon-exclamation-sign"></i>
              {{ identifierValidity }}</span
            >
          </div>
          <div ng-messages="patientIdentifier.$error">
            <div class="help-block" ng-message="required">
              Identifier is required.
            </div>
          </div>
          <div *ngIf="hasError" style="margin-bottom: 10px">
            <span class="text-danger">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
              {{ errorMessage }}</span
            >
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Preferred</label>
          <select
            class="form-control"
            [ngModel]="preferredIdentifier"
            (ngModelChange)="setPreferredIdentifier($event)"
          >
            <option *ngFor="let c of preferOptions" [ngValue]="c.value">
              {{ c.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Identifier Location</label>
          <ng-select
            class="sharp-corners"
            id="selectedDevice"
            (change)="seIdentifierLocation($event)"
            [placeholder]="'Select a location or type to search...'"
            [(ngModel)]="selectedDevice"
            [items]="locations"
          >
          </ng-select>
          <div *ngIf="invalidLocationCheck">
            <span
              style="color: red"
              class="glyphicon glyphicon-exclamation-sign"
            >
              {{ invalidLocationCheck }}</span
            >
          </div>
        </div>
      </div>

      <div
        class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
        style="margin-bottom: 15px"
      >
        <div class="form-group">
          <button
            ng-disabled="personForm.patientIdentifier.$invalid &&
                personForm.identifierType.$invalid && personForm.selectedLocation.selected.$invalid"
            class="btn btn-primary"
            type="button"
            (click)="updatePatientIdentifier()">
            <span>Save</span>
          </button>
          <button
            class="btn btn-danger pull-right"
            type="button"
            (click)="dismissDialog()">
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<!--ADD VERIFY DIALOG -->
<p-dialog
  header="Add Patient Verification Identifiers"
  [(visible)]="addVerifyDialog"
  closable="true"
  styleClass="edit-identifier-dialog"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div
          class="alert alert-success"
          *ngIf="showSuccessAlert"
          style="margin-top: 10px"
        >
          <strong>Done!</strong> {{ successAlert }}
        </div>
        <div
          class="alert alert-danger"
          *ngIf="showErrorAlert"
          style="margin-top: 10px"
        >
          <strong>{{ errorTitle }}</strong> {{ errorAlert }}
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <label class="control-label">Country:</label>
            <ng-select
              [typeahead]="countrySuggest"
              class="sharp-corners select"
              [items]="countries"
              name="countryInput"
              [(ngModel)]="countrySearchParam"
              #countryInput="ngModel"
              required
            ></ng-select>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <label class="control-label">Verification Identifier Type:</label>
            <select
              required
              class="form-control"
              [ngModel]="identifierType"
              (ngModelChange)="selectIdentifierType($event)"
            >
              <option value=""></option>
              <option
                *ngFor="let c of verificationIdentifierTypes"
                [ngValue]="c"
              >
                {{ c.label }}
              </option>
            </select>
            <div ng-messages="personForm.identifierType.$error">
              <div class="help-block" ng-message="required">
                Verification Type is required.
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <label class="control-label">Value</label>
            <div [hidden]="showGeneralTexBox">
              <input
                type="text"
                id="patientIdentifier"
                class="form-control"
                [(ngModel)]="patientIdentifier"
                name=""
                (ngModelChange)="setPatientIdentifier(patientIdentifier)"
              />
            </div>
            <div [hidden]="!showNationalIdTexBox">
              <input
                type="number"
                id="patientId"
                class="form-control"
                [(ngModel)]="patientIdentifier"
                name=""
                (ngModelChange)="setPatientIdentifier(patientIdentifier)"
                (keypress)="_keyPress($event)"
              />
            </div>
            <div *ngIf="identifierValidity">
              <span
                style="color: red"
                class="glyphicon glyphicon-exclamation-sign"
                >{{ identifierValidity }}</span
              >
            </div>
            <div ng-messages="patientIdentifier.$error">
              <div class="help-block" ng-message="required">
                Identifier is required.
              </div>
            </div>
            <div *ngIf="hasError" style="margin-bottom: 10px">
              <span class="text-danger">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                {{ errorMessage }}</span
              >
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <button
              style="margin-top: 27px; font-size: 10px"
              ng-disabled="personForm.patientIdentifier.$invalid &&
                  personForm.identifierType.$invalid && personForm.selectedLocation.selected.$invalid"
              class="btn btn-primary"
              type="button"
              (click)="verifyPatient()"
            >
              <span>Search Registry</span>
            </button>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="unsavedUpi.length != 0">
        <label style="color: blue">{{ searchResult }} </label>
      </div>
      <div class="row">
        <div
          class="col-md-6 col-lg-6 col-sm-6 col-xs-6"
          style="margin-left: 15px"
        >
          <div class="form-group">
            <button
              [disabled]="unsavedUpi.length == 0"
              class="btn btn-success"
              type="button"
              (click)="openRegistrationPage()"
            >
              <span>Verify Patient</span>
            </button>
          </div>
        </div>
        <div
          class="col-md-4 col-lg-4 col-sm-4 col-xs-4"
          style="margin-right: 15px"
        >
          <div class="form-group" *ngIf="createDataExists == 1">
            <button
              class="btn btn-warning"
              type="button"
              (click)="openUserFeedback()"
            >
              <span>Contact Support</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<!-- Add Patient Identifiers dialog -->
<p-dialog
  header="Add Patient Identifiers"
  [(visible)]="addDialog"
  closable="true"
  styleClass="edit-identifier-dialog">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div
          class="alert alert-success"
          *ngIf="showSuccessAlert"
          style="margin-top: 10px">
          <strong>Done!</strong> {{ successAlert }}
        </div>
        <div
          class="alert alert-danger"
          *ngIf="showErrorAlert"
          style="margin-top: 10px">
          <strong>{{ errorTitle }}</strong> {{ errorAlert }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Patient Identifier Type:</label>
          <select
            required
            class="form-control"
            [ngModel]="identifierType"
            (ngModelChange)="selectIdentifierType($event)"
          >
            <option value=""></option>
            <option *ngFor="let c of commonIdentifierTypes" [ngValue]="c">
              {{ c.label }}
            </option>
          </select>
          <div ng-messages="personForm.identifierType.$error">
            <div class="help-block" ng-message="required">
              Identifier Type is required.
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Patient Identifier</label>
          <span
            class="badge btn pull-right"
            *ngIf="checkUniversal"
            (click)="generatePatientIdentifier()"
            >Generate</span
          >
          <div [hidden]="showGeneralTexBox">
            <input
              type="text"
              id="patientIdentifier"
              class="form-control"
              [(ngModel)]="patientIdentifier"
              name=""
              (ngModelChange)="setPatientIdentifier(patientIdentifier)"
            />
          </div>
          <div [hidden]="!showNationalIdTexBox">
            <input
              type="number"
              id="patientId"
              class="form-control"
              [(ngModel)]="patientIdentifier"
              name=""
              (ngModelChange)="setPatientIdentifier(patientIdentifier)"
              (keypress)="_keyPress($event)"
            />
          </div>
          <div *ngIf="identifierValidity">
            <span
              style="color: red"
              class="glyphicon glyphicon-exclamation-sign"
              >{{ identifierValidity }}</span
            >
          </div>
          <div ng-messages="patientIdentifier.$error">
            <div class="help-block" ng-message="required">
              Identifier is required.
            </div>
          </div>
          <div *ngIf="hasError" style="margin-bottom: 10px">
            <span class="text-danger">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
              {{ errorMessage }}</span
            >
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Preferred</label>
          <select
            class="form-control"
            [ngModel]="preferredIdentifier"
            (ngModelChange)="setPreferredIdentifier($event)"
          >
            <option *ngFor="let c of preferOptions" [ngValue]="c.value">
              {{ c.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label class="control-label">Identifier Location</label>
          <ng-select
            class="sharp-corners"
            id="selectedDevice"
            (change)="seIdentifierLocation($event)"
            [placeholder]="'Select a location or type to search...'"
            [(ngModel)]="selectedDevice"
            [items]="locations"
          >
          </ng-select>
          <div *ngIf="invalidLocationCheck">
            <span
              style="color: red"
              class="glyphicon glyphicon-exclamation-sign"
            >
              {{ invalidLocationCheck }}</span
            >
          </div>
        </div>
      </div>

      <div
        class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
        style="margin-bottom: 15px"
      >
        <div class="form-group">
          <button
            ng-disabled="personForm.patientIdentifier.$invalid &&
                personForm.identifierType.$invalid && personForm.selectedLocation.selected.$invalid"
            class="btn btn-primary"
            type="button"
            (click)="updatePatientIdentifier()"
          >
            <span>Save</span>
          </button>
          <button
            class="btn btn-danger pull-right"
            type="button"
            (click)="dismissDialog()"
          >
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
