<div class="shr-encounters-layout">
  <div class="loader" *ngIf="showLoader">
    <span> <i class="fa fa-spinner fa-spin"></i>{{ loadingMessage }} </span>
  </div>
  <ng-container *ngIf="messageObj.message">
    <div
      class="alert alert-danger"
      [ngClass]="{
        'alert-danger': messageObj.type === 'Error',
        'alert-success': messageObj.type === 'Success'
      }"
    >
      {{ messageObj.message }}
    </div>
  </ng-container>
  <ng-container *ngIf="clientConsentGiven; else noConsent">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
      <ng-container *ngIf="patientFhirBundle; else noShirData">
        <app-shir-renderer [shrBundle]="patientFhirBundle"></app-shir-renderer>
      </ng-container>
      <ng-template #noShirData>
        <div class="form-group">
          <button
            (click)="fetchShrData()"
            id="fetch-shr-bundle-btn"
            class="btn btn-primary"
          >
            Fetch Client SHR Data
          </button>
        </div>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #noConsent>
    <div class="hie-client-verification">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <button
            id="searchHieBtn"
            class="btn btn-primary"
            (click)="displayHieOtpDialog()"
            style="margin-left: 20px; margin-top: 23px"
          >
            <i class="fa fa-lock fa-fw"></i>Get Client Consent
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-container *ngIf="showOtpVericationDialog">
    <app-otp-verification
      [source]="source"
      [show]="showOtpVericationDialog"
      (hideVerifyOtpDialog)="hideHieOtpDialog()"
    ></app-otp-verification>
  </ng-container>
</div>
