blockquote {
  border-left: 0;
  margin-bottom: 0;
  padding-top: 0;
}
blockquote footer:before {
  padding-left:20px;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.panel.panel-info {
  border: 1px solid #bce8f1;
  margin-top: 12px;
}
