<h4 class="component-title"><span class="fa fa-medkit"></span> Oncology Summary</h4>
<div>
  <p-tabView>
    <p-tabPanel header="Program Summary">
      <oncology-summary-latest></oncology-summary-latest>
    </p-tabPanel>
    <p-tabPanel header="Medication History">
      <oncology-medication-history></oncology-medication-history>
    </p-tabPanel>
    <p-tabPanel header="Diagnosis History">
      <oncology-diagnosis-history></oncology-diagnosis-history>
    </p-tabPanel>
  </p-tabView>
</div>
