<table class='table table-hover table-striped table-responsive'>
  <thead>
  <tr>
    <th></th>
    <th>Date</th>
    <th>BP</th>
    <th>Pulse</th>
    <th>Temperature</th>
    <th>Oxygen Sat</th>
    <th>Height</th>
    <th>Weight</th>
    <th>BMI</th>
  </tr>
  </thead>
  <tr *ngFor="let encounter of encounters">
    <td>
        <span class="glyphicon glyphicon-warning-sign text-danger"
              *ngIf="(encounter.systolic_bp && (encounter.systolic_bp <= 80 || encounter.systolic_bp >= 140))
                  || (encounter.diastolic_bp && (encounter.diastolic_bp <= 50 || encounter.diastolic_bp >= 90)) || (encounter.pulse && encounter.pulse >= 100)
                  || (encounter.temperature && (encounter.temperature <= 35.0 || encounter.temperature >= 38.0)) || (encounter.oxygen_sat && encounter.oxygen_sat <= 89)
                  || (encounter.BMI && (encounter.BMI <= 18 || encounter.BMI >= 30))" >
                </span>
    <td>{{(encounter.encounter_datetime | date:'dd-MM-yyyy')  || '&nbsp;'}}</td>
    <td>
      <span style="{{(encounter.systolic_bp && (encounter.systolic_bp <= 80 || encounter.systolic_bp >= 140)) ? 'color:red;':''}}" >{{encounter.systolic_bp && encounter.systolic_bp + "/"}}</span>
      <span style="{{(encounter.diastolic_bp && (encounter.diastolic_bp <= 50 || encounter.diastolic_bp >= 90)) ? 'color:red;':''}}">{{(encounter.diastolic_bp && encounter.diastolic_bp)  || '&nbsp;'}}</span>
    </td>
    <td>
      <span style="{{(encounter.pulse && encounter.pulse >= 100)?'color:red;':''}}">{{encounter.pulse  || '&nbsp;'}}</span>
    </td>
    <td>
      <span style="{{(encounter.temperature && (encounter.temperature <= 35.0 || encounter.temperature >= 38.0)) ? 'color:red;':''}}" >{{encounter.temperature  || '&nbsp;'}}</span>
    </td>
    <td>
      <span style="{{(encounter.oxygen_sat && encounter.oxygen_sat <= 89)? 'color:red;':''}}">{{encounter.oxygen_sat  || '&nbsp;'}}</span>
    </td>
    <td>{{encounter.height  || '&nbsp;'}}</td>
    <td>{{encounter.weight  || '&nbsp;'}}</td>
    <td>
      <span style="{{(encounter.BMI && (encounter.BMI <= 18 || encounter.BMI >= 30))? 'color:red;':''}}" >{{encounter.BMI || '&nbsp;'}}</span>
    </td>
  </tr>
</table>
<div *ngIf='experiencedLoadingError'>
  <p class="alert alert-error">
    <b>
      <span [style.color]="red" class="glyphicon glyphicon-exclamation-sign"></span>An error occured while loading. Please try again.</b>
  <p>
</div>
<div *ngIf='!dataLoaded'>
  <button class="btn btn-info" (click)="loadMoreVitals()">
    <span class="glyphicon glyphicon-refresh"></span>Load More</button>
</div>
<div [ngBusy]="isBusy"></div>
