 <div class="menu_section">         
                <ul class="nav side-menu">
                  <li (click)="toggleSideBarDropDown($event)" (click)="viewChildRoutes(route)" class="parent-side-menu-item"
            *ngFor='let route of routes'><a><i class="fa fa-info"></i>{{route.label}}<span class="fa fa-chevron-down"></span></a>
                   <ul class="nav child_menu">
                      <li routerLinkActive="active" *ngFor='let childRoute of selectedRoute.childRoutes'>
                           <a routerLink="/{{childRoute.url}}">
                               <i class="{{childRoute.renderingInfo.icon}}" aria-hidden="true"></i> {{childRoute.label}}
                          </a>
                      </li>
                   </ul>
                  </li>
               </ul>
               
</div>


