<div class="loader" *ngIf="startedVisit"><span><i class="fa fa-spinner fa-spin">
      </i>Starting Visit...please wait</span></div>
<div class="location-filter-border">
  <location-filter [locationUuids]="selectedLocations" [showLabel]="false"
  [disable-county]="true" [multiple]="false" (onLocationChange)="onLocationChanged($event)">
  </location-filter>
</div>
<div *ngIf="error !== ''" class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error}}
</div>
<div *ngIf="duplicateVisit" class="alert alert-danger alert-dismissible">
   Similar visit has been started.Kindly refresh page and confirm
</div>
<div *ngIf="isBusy">
  Loading
</div>
<div *ngIf="!isBusy" class="list-group">
  <div id="allowedVisitList" class="list-group-item" *ngFor="let visitType of visitTypes">
    <div class="visit-area">
          <a class="question-tooltip pull-right" *ngIf="visitType.message"><i class="glyphicon glyphicon-question-sign"></i></a>
          <a id="startVisitButton" style="width:100%; text-align: left;" (click)="startVisit(visitType.uuid,$event)" class="btn btn-default btn-lg">

            Start {{visitType.name}} <i class="glyphicon glyphicon-circle-arrow-right pull-right"></i>
          </a>

          <div class="visit-info col-md-12 col-lg-12 col-sm-12" *ngIf="visitType.message">
             {{visitType.message}}
          </div>
          <div class="info-spacing" *ngIf="visitType.message">
          </div>
    </div>
  </div>
</div>
