.form-row {
  display: block;
  width: auto;
  /* position: absolute; */
  left: 20px;
}
form-renderer {
  z-index: 0;
}
.loader {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9;
  box-sizing: border-box;
  background-color: #fff;
  color: #fff;
  opacity: 0.8;
}

.loader .fa:before {
  margin-right: 12px;
  display: inline-block;
}

.loader span {
  padding: 12px;
  background-color: #0d6aad;
  border-radius: 6px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

.fa-spin {
  width: 16px;
  margin-right: 8px;
}

#formentry-submit-btn {
  margin-right: 10px;
}

label {
  font-weight: 400 !important;
}
.mat-radio-button {
  margin-left: 15px;
  font-weight: 400;
}

@media only screen and (max-width: 960px) {
  .question {
    font-weight: 600;
    margin-top: 25px;
    margin-left: 10px;
  }
}
