<div *ngIf="form && selectedEncounter && !error" id="encounter" >
  <div *ngIf="fromLocatorMap">
    <app-locator-pretty-viewer [locatorData]="locatorData"></app-locator-pretty-viewer>
  </div>
  <div *ngIf="!fromLocatorMap">
    <encounter-renderer
    [encounter]="selectedEncounter"
    [form]="form"
   > 
</encounter-renderer>
  </div>
</div>
<div *ngIf="error" class="text-center">
  {{ errorMessage }}
</div>
<div *ngIf="showLoader" class="text-center">
  <button class="btn btn-primary">
    <i class="fa fa-spinner fa-spin" style="color: #fff"></i> {{ loaderText }}
  </button>
</div>
