<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Clinic Flow</span>
            </div>
            <div class="panel-body">
              <md-tab-group [selectedIndex]="selectedTab" >
                <md-tab label="Summary">
                  <clinic-flow-summary></clinic-flow-summary>
                </md-tab>
                <md-tab label="Visits">
                  <clinic-flow-visits></clinic-flow-visits>
                </md-tab>
                <md-tab label="Provider Statistics">
                  <clinic-flow-provider-stats></clinic-flow-provider-stats>
                </md-tab>
                <md-tab label="Location Statistics">
                  <clinic-flow-location-stats></clinic-flow-location-stats>
                </md-tab>
                <router-outlet></router-outlet>
              </md-tab-group>

                <br>
            </div>
        </div>
    </div>
</div>
