.user-menu > .dropdown-menu {
  width: 250px;
}

.user-menu .dropdown-menu>li>a {
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-menu li.dropdown-header {
  font-size: 15px;
  padding-top: 15px;
}

.user-menu li.dropdown-header span:first-child {
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
}
a img {
  width: 100%;
}
@media screen and (max-width: 767px) {
    .main-header a.logo {
      background-color: #ecf0f5;
    }
    a.logo {
      height: 80px;
      margin: 0 auto;
      background: url("../../assets/img/ampath.png") no-repeat center;
      background-size: contain;
    }
    a img {
      display: none;
    }
}