.user-menu > .dropdown-menu {
  width: 250px;
}

.user-menu .dropdown-menu>li>a {
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-menu li.dropdown-header {
  font-size: 15px;
  padding-top: 15px;
}

.user-menu li.dropdown-header span:first-child {
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-bottom-color: #ddd;
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}


a img {
  width: 100%;
}

.main-header .sidebar-toggle:hover{
  color: #23527c;
}
.main-header .sidebar-toggle {
  max-width:230px;
}

.sidebar-toggle > .logo-img{
  display: block;
  width: 150px;
  margin-left: 40px;
  margin-top: -5px;
}
.main-header .sidebar-toggle:before {
  position: absolute;
  left:15px;
  top:10px;
  font-size: 24px;
}
.sidebar-mini.sidebar-collapse .sidebar-toggle .logo-img,.sidebar-mini .main-header .logo{
  display: none;
}

.main-footer {
  position: fixed;
  bottom:0;
  margin-left: 0;
  left:0;
  width:100%;
}

.content {
  margin-bottom: 60px;
}

.btn.btn-info {
  margin-left:15px;
  margin-bottom:15px;
}

.btn.btn-info span {
  display: inline-block;
  margin-right: 12px;
}

dl {
  margin-bottom: 7px;
}

.alert.alert-error {
  margin-left:15px;
  margin-right:15px;
}

.banner-info {
  padding:0;
}

.col {
  font-size: 24px;
  padding: 0;
}

dd {white-space: pre; padding:7px;}

.navbar-nav > .user-menu > .dropdown-menu {
  width:auto;
}
.clear {
  clear: both;
}
.panel {
  border:none;
  margin-top:12px;
}

@media screen and (max-width: 768px) {

  .main-header .sidebar-toggle {
    float: none;
    clear: both;
    display: block;
    height: 80px;
    max-width: 100%;
  }

  .content, .sidebar{
    padding-top: 60px;
  }

  .fixed .main-header {
    background: #f9fafc;
  }
  .sidebar-mini.sidebar-open .main-footer {
    margin-left: -230px;
    z-index: 999;
  }


  .sidebar-mini.sidebar-collapse .sidebar-toggle .logo-img,.sidebar-mini .sidebar-toggle .logo-img {
    display: block;
    float: right;
    margin-top: 0;
    margin-right:15px;
  }

  .main-header .navbar {
    margin-top: -12px;
  }

  .main-header .navbar-custom-menu {
    float:none;
  }

  .navbar-custom-menu > .navbar-nav{
    float: left;
    width:100%;
  }

  .navbar-custom-menu > .navbar-nav > li {
    position: static;
    width: 33%;
    text-align: center;
  }

  .navbar-custom-menu > .navbar-nav > li.user{
    text-align: right;
  }

  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    right: 0;
  }


}

@media (min-width: 768px){

  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 150px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
  }

  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 0 !important;
    z-index: 999;
  }

}

@media only screen  and (min-width : 1224px) {
  .sidebar-mini .sidebar-toggle > .logo-img{
    display: none;
  }

  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    border:1px solid #ddd;
  }

  .sidebar-mini .main-header .logo , .sidebar-mini.sidebar-collapse .main-header .logo{
    display: block;
    width:230px;
    margin-left: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}


