.user-menu>.dropdown-menu {
  width: 250px;
}

.user-menu .dropdown-menu>li>a {
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-menu li.dropdown-header {
  font-size: 15px;
  padding-top: 15px;
}

.user-menu li.dropdown-header span:first-child {
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-bottom-color: #ddd;
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.skin-black-light .sidebar-menu>li>a,
.skin-black-light .sidebar-menu>li:hover>a,
.skin-black-light .sidebar-menu>li.active>a {
  line-height: 43px !important;
  padding: 0;
  border-left: 0;
  height: 43px;
  color: #fff !important;
  padding-left: 0px !important;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a,
.skin-black-light .sidebar-menu>li:hover>a .icon-menu,
.skin-black-light .sidebar-menu>li:hover>a,
.skin-black-light .sidebar-menu>li.active>a {
  background-color: #428bca;
  color: #fff !important;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  height: 43px;
  line-height: 43px !important;
}

[class^="icon-menu-letter"] {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.skin-black-light .main-sidebar,
.skin-black-light .left-side,
.main-header .sidebar-toggle,
.main-header .sidebar-toggle:focus,
.main-header .sidebar-toggle:active {
  background-color: #203864;
}

.skin-black-light .main-sidebar .sidebar-menu li:first-child,
.skin-black-light .sidebar-menu>li.active {
  border-bottom: 1px solid lightskyblue !important;
  margin-top: 0 !important;
}

.main-header .sidebar-toggle:focus,
.main-header .sidebar-toggle:hover,
.main-header .sidebar-toggle:active {
  color: lightskyblue !important;
}

.component-wrapper {
  margin: 8px;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  margin-bottom: 30px;
  padding: 1em;
  font-size: 14px;
  border: 1px solid rgba(34, 36, 38, .15);
}

.component-wrapper.notifications,
.component-wrapper.patient-search,
.box-body .component-wrapper,
.component-wrapper.clinic-dashboard {
  margin-bottom: 10px;
  margin-left: 5px;
}

.box {
  background-color: transparent;
}

.skin-black-light .sidebar-menu>li {
  border: none !important;
}

footer online-tracker,
footer build-version {
  display: block;
}

date-time-picker .row {
  margin: 0 !important;
}

date-picker {
  display: block;
}

date-time-picker div[class*='col-'] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

footer p {
  margin: 0px;
  line-height: 32px;
}

.box-body {
  padding: 0;
}

.navbar-custom-menu>.navbar-nav>li {
  border-top: 3px solid #fff;
  border-left: 1px solid #eee;
}

.navbar-custom-menu>.navbar-nav>li a {
  line-height: 50px;
}

.navbar-custom-menu>.navbar-nav>li.dropdown.user li a {
  line-height: normal;
}

.navbar-custom-menu>.navbar-nav>li.trail li a.active {
  color: #fff !important;
  background-color: #203864;
}

.navbar-custom-menu>.navbar-nav>li.active,
.navbar-custom-menu>.navbar-nav>li.trail {
  border-top-color: #203864;
}

.navbar-custom-menu>.navbar-nav>li.active a,
.navbar-custom-menu>.navbar-nav>li.trail a {
  line-height: 48px;
}

.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav>li>a,
.skin-black-light .main-header .navbar .navbar-right>li>a {
  border-left-width: 0;
}

.skin-black-light .main-header .navbar .nav>li>a:hover,
.skin-black-light .main-header .navbar .nav>li>a:active,
.skin-black-light .main-header .navbar .nav>li>a:focus,
.skin-black-light .main-header .navbar .nav .open>a,
.skin-black-light .main-header .navbar .nav .open>a:hover,
.skin-black-light .main-header .navbar .nav .open>a:focus,
.skin-black-light .main-header .navbar .nav>.active>a {
  line-height: 50px;
}

.clear {
  clear: both;
}

app-patient-dashboard {
  display: block;
}

.sidebar-collapse .content {
  padding: 0;
  margin: 0;
}

.skin-black-light .sidebar-menu li .icon-menu {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  width: 54px;
  color: #fff;
}

.skin-black-light .sidebar-menu>li:hover>a>span.icon-menu,
.skin-black-light .sidebar-menu li.active>a>span.icon-menu {
  color: #fff;
}

a img {
  width: 100%;
}

.main-header .sidebar-toggle {
  max-width: 230px;
  height: 50px;
  width: 55px;
  color: #fff !important;
}

.sidebar-toggle>.logo-img {
  display: block;
  width: 150px;
  margin-left: 40px;
  margin-top: -5px;
}

.main-header .sidebar-toggle:before {
  position: absolute;
  left: 12px;
  top: 10px;
  font-size: 24px;
  transform: rotate(180deg);
  transition: display 1s ease;
}

.sidebar-open .main-header .sidebar-toggle:before {
  content: "\f057";
}

.sidebar-mini.sidebar-collapse .sidebar-toggle .logo-img,
.sidebar-mini .main-header .logo {
  display: none;
}

.main-header .navbar-custom-menu {
  float: none;
  width: 100%;
  position: absolute;
}

.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.content {
  margin-bottom: 60px;
  padding: 0;
}

.sidebar-collapse .content {
  margin-left: 0;
}

.btn.btn-info {
  margin-left: 15px;
  margin-bottom: 15px;
}

.btn.btn-info span {
  display: inline-block;
  margin-right: 12px;
}

.main-header .navbar-custom-menu a.btn.btn-danger {
  background-color: #dd4b39 !important;
  color: #fff !important;
}

.box-body .component-wrapper {
  padding-bottom: 140px;
}

.banner-top {
  display: block;
  height: 9px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #ecf0f5;
  border-bottom: 1px solid #dadada;
}

.component-title {
  font-size: 22px;
  text-transform: capitalize;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(34, 36, 38, .15);
  margin-bottom: 8px;
}

.component-title span {
  display: inline-block;
  margin-right: 12px;
}

footer online-tracker {
  margin-left: 8px;
}

.footer-logo {
  width: 120px;
}

dl {
  margin-bottom: 7px;
}

.alert.alert-error {
  margin-left: 15px;
  margin-right: 15px;
}

.banner-info {
  padding: 0;
}

.col {
  font-size: 24px;
  padding: 0;
}

dd {
  white-space: pre;
  padding: 7px;
}

.navbar-nav>.user-menu>.dropdown-menu {
  width: auto;
}

.clear {
  clear: both;
}

.panel {
  border: none;
  margin-top: 12px;
}

li.last {
  border-bottom: 1px solid #dadada;
}

.skin-black-light .main-sidebar {
  top: 50px;
}

todays-vitals {
  display: block;
}

.list-group-item {
  border-radius: 0 !important;
}

todays-vitals ul.list-group {
  margin-bottom: 0;
}

lab-order-search-container {
  display: block;
  padding-bottom: 42px;
}

location-filter.edit label {
  display: block;
}

location-filter.no-padding .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}


@media screen and (max-width: 466px) {
  .content-wrapper {
    padding-top: 140px !important;
  }
  .skin-black-light .main-sidebar {
    top: 138px !important;
  }
}

@media screen and (max-width: 768px) {
  .main-header .sidebar-toggle {
    float: none;
    clear: both;
    display: block;
    height: 80px;
  }
  .main-header .sidebar-toggle:before {
    left: 12px;
    top: 15px;
    font-size: 32px;
  }
  .sidebar-open .content-wrapper {
    margin-left: 55px !important;
  }
  .skin-black-light .main-sidebar {
    top: 80px;
  }
  .skin-black-light.sidebar-open .main-sidebar {
    width: 230px;
    z-index: 2000;
  }
  .sidebar-mini .main-header .logo {
    display: none !important;
  }
  .content-wrapper {
    padding-top: 78px !important;
  }
  .skin-black-light.sidebar-open .content-wrapper {
    margin-left: 0px;
  }
  .fixed .main-header {
    background: #f9fafc;
    z-index: 1031;
  }
  .main-header .menu-text {
    display: inline-block;
    margin-left: 40px;
  }
  .skin-black-light.sidebar-open .sidebar-menu>li>a>span.icon-menu-label {
    display: inline-block;
  }
  .sidebar-mini.sidebar-collapse .sidebar-toggle .logo-img,
  .sidebar-mini .sidebar-toggle .logo-img {
    display: block;
    float: right;
    margin-top: 0;
    margin-right: 15px;
  }
  .main-header .navbar {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 55px;
    margin-left: 0;
    width: calc(100% - 55px);
  }
  .sidebar-toggle .logo-img {
    display: none !important;
  }
  .main-header .navbar-custom-menu {
    float: none;
  }
  .navbar-custom-menu>.navbar-nav {
    float: left;
    width: 100%;
    background-color: #fff;
  }
  .navbar-custom-menu>.navbar-nav>li {
    position: relative;
    width: auto;
    text-align: center;
  }
  .navbar-custom-menu>.navbar-nav>li.user {
    text-align: right;
  }
  .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    right: 0;
  }
  .navbar-custom-menu>.navbar-nav>li.menu-left>a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
    line-height: 47px;
    background-color: #fff;
  }

  body .ui-dialog.ui-widget.ui-widget-content{
    width:calc(100% - 66px) !important;
  }

  app-patient-search .input-wrapper {
    margin-right: 0;
  }
  app-patient-search .input-group-btn.pull-right, lab-order-search-container .input-group-btn.pull-right{
    margin-top: 20px;
  }
  app-patient-search .wrapper {
    padding-bottom: 50px;
  }
  .input-group-btn.pull-right {
    width: auto;
  }
  .wrapper {
    background-color: #fff;
  }
  footer p {
    font-size: 16px !important;
  }
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 150px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
  }
  .input-group-btn.pull-right {
    margin-top: -47px;
    width: auto;
  }
  .navbar-nav {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
  }
  .input-group-btn.pull-right button {
    display: inline-block;
  }
  .input-wrapper {
    margin-right: 240px;
  }
  body .ui-dialog.ui-widget.ui-widget-content{
    width:50% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .content-wrapper {
    margin-left: 55px !important;
  }
  .fixed .main-sidebar {
    z-index: initial;
  }
}

@media only screen and (min-width: 1224px) {
  .sidebar-mini .sidebar-toggle>.logo-img {
    display: none;
  }
  .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    border: 1px solid #ddd;
  }
  .sidebar-mini .main-header .logo,
  .sidebar-mini.sidebar-collapse .main-header .logo {
    display: block;
    width: 160px;
    margin-left: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}

.input-group .form-control,
.form-control-feedback {
  z-index: 0;
}

.slimScrollDiv {
  height: auto !important;
}

visit,
encounter-list {
  display: block;
}

visit .table>thead>tr>th,
visit .table>tbody>tr>th,
visit .table>tfoot>tr>th,
visit .table>thead>tr>td,
visit .table>tbody>tr>td,
visit .table>tfoot>tr>td {
  border-top: 0;
}

visit h3 {
  padding: 8px;
}

visit form-list h3 {
  padding: 0;
}

visit form-list hr {
  margin: 10px;
}

visit .visit-panel-footer {
  padding: 15px;
}

@media screen and (max-width: 550px) {
  .scroll-x {
    overflow-x: scroll;
  }
}

.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
  padding: 4px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  color: #fff;
  background-color: rgba(32, 56, 100, 0.5);
}

body .ui-tabview .ui-tabview-panel {
  padding: 0.375em 0;
}

ng-select.form-control {
  height: auto;
}

.select2-container {
  display: block !important;
}

.form-control:focus {
  border-color: #3c8dbc !important;
}

.loader {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9;
  box-sizing: border-box;
  background-color: #fff;
  color: #fff;
  opacity: .8;
}

.loader .fa:before {
  margin-right: 12px;
  display: inline-block;
}

.loader span {
  padding: 12px;
  background-color: #0d6aad;
  border-radius: 6px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

.fa-spin {
  width: 16px;
  margin-right: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.overlay.show {
  display: block;
}

.overlay.hide {
  display: none;
}

.overlay-text {
  z-index: 10000;
  width: 200px;
  margin: 20% auto;
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

.icon-menu-icon {
  margin-left: 5px;
}
