<!-- Main Header -->
<header class="main-header">

	<!-- Logo -->
	<a href="index2.html" class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>POC</b></span>
		<!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><b>Ampath</b>POC</span>
	</a>

	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active">
					<a routerLink="/patient-dashboard/patient-search"> <i class="fa fa-search"></i> <span>Patient Search</span> </a>
				</li>
				<li routerLinkActive="active">
					<a routerLink="/clinic-dashboard"> <i class="fa fa-user-md"></i> <span>Clinic Dashboard</span> </a>
				</li>
				<!-- User Account Menu -->
				<li class="dropdown user user-menu">
					<!-- Menu Toggle Button -->
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<!-- The user image in the navbar-->
						<i class="fa fa-user"></i>
						<!-- hidden-xs hides the username on small devices so only the image appears. -->
						<span class="hidden-xs">Poc User - Developer</span>
					</a>
					<ul class="dropdown-menu">
						<!-- The user image in the menu -->
						<li class="user-header">
							<p>
								Poc User - Developer
								<small>Role : Admin</small>
							</p>
						</li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Settings</a>
							</div>
							<div class="pull-right">
								<a href="#" class="btn btn-default btn-flat">Sign out</a>
							</div>
						</li>
					</ul>
				</li>
				<!-- Control Sidebar Toggle Button -->
			</ul>
		</div>
	</nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<li><a><i class="fa fa-circle text-success"></i> <span>Online</span></a></li>
			<li routerLinkActive="active" *ngFor='let route of routeConfig.routes'>
				<a routerLink="/{{route.url}}"> <i class="{{route.icon}}"></i> <span>{{route.label}}</span> </a>
			</li>
		</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 100%;">
	<!-- Content Header (Page header) -->
	<!--<section class="content-header">
		<h1>
			Page Header
			<small>Optional description</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
			<li class="active">Here</li>
		</ol>
	</section>-->

	<!-- Main content -->
	<section class="content">
		<router-outlet></router-outlet>

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->
<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">
		P.O.C version 2.x.x BuildDate:
	</div>
</footer>
<div class="control-sidebar-bg"></div>