<mat-card>
  <section>
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-capitalize">Prescribe Drugs</h4>
        <hr>
        <form>
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="form-group">
                <div class="form-row">
                  <label>Drug name</label>
                  <ng-select
                    [items]="drugList"
                    bindLabel="drug_name"
                    bind
                    placeholder="Select drugs"
                    [(ngModel)]="newSelectedDrug"
                    (change)="onDrugChange($event)"
                    name="newSelectedDrug"
                  ></ng-select>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <mat-form-field
                class="example-full-width"
                appearance="fill"
              >
                <input
                  [(ngModel)]="drugDuration"
                  name="drugDuration"
                  matInput
                  placeholder="Enter duration"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <div class="form-row">
                  <label>Duration units</label>
                  <ng-select
                    [items]="durationUnits"
                    bindLabel="display"
                    bind
                    placeholder="Select frequency"
                    [(ngModel)]="selectedDuration"
                    (change)="onDurationUnitChange($event)"
                    name="selectedDuration"
                  ></ng-select>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <div class="form-row">
                  <label>Drug route</label>
                  <ng-select
                    [items]="routesList"
                    bindLabel="display"
                    bind
                    placeholder="Select route"
                    [(ngModel)]="selectedRoute"
                    (change)="onRouteChange($event)"
                    name="selectedRoute"
                  ></ng-select>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <div class="form-row">
                  <label>Frequency</label>
                  <ng-select
                    [items]="frequencyList"
                    bindLabel="display"
                    bind
                    placeholder="Select frequency"
                    [(ngModel)]="selectedFrequency"
                    (change)="onFrequencyChange($event)"
                    name="selectedFrequency"
                  ></ng-select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <br />
              <button
                class="btn btn-primary btn-block"
                (click)="addDrug()"
              >
                Add Drug
              </button>
            </div>
          </div>
        </form>
        <br>
      </div>
      <div class="col-md-6">
        <div class="alert alert-info">
          <h4>Current ARV Regimen: <span class="text text-danger">TDF/3TC/DTG</span></h4>        
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary btn-block">Prescribe</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-secondary btn-block">Edit Regimen</button>
          </div>
        </div>
        <hr>
        <div *ngIf="dataSource && dataSource.length > 0">
          <h4>Selected Drugs</h4>
          <hr>
          <div class="alert alert-info">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Drug details</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataSource">
                  <td>{{ data.position }}</td>
                  <td>{{ data.name }}</td>
                  <button (click)="removeItem(data)">
                    <span
                      style="color: red"
                      class="glyphicon glyphicon-remove"
                    ></span>
                  </button>
                </tr>
              </tbody>
            </table>
          </div>
          <button
          style="margin: 15px; margin-right: -15px"
          type="button"
          class="btn btn-success pull-right"
          (click)="drugPayload()"
        >
          Post order to ADT
        </button>
        <br>
        </div>       
      </div>
    </div>
  </section>
</mat-card>
