<div style="margin-top: 4px; margin-bottom: 4px" class="container-fluid">
  <div style="padding: 0px; border: 1px double lightgray; border-bottom: 0px; cursor: pointer;" class="row" (click)="filterCollapsed = !filterCollapsed">
    <span class="text-info" style="margin:2px; font-weight:bold;"> <span class="glyphicon glyphicon-filter" style="font-weight: normal;"></span>        Report filters</span>
    <span style="margin:2px;" class="label label-default pull-right">
            <span class="glyphicon glyphicon-chevron-down" *ngIf="!filterCollapsed"></span>
        <span class="glyphicon glyphicon-chevron-up" *ngIf="filterCollapsed"></span>
        </span>
  </div>
  <div style="padding: 0px; border: 1px double lightgray" class="row">
    <div [hidden]="filterCollapsed">
      <div class="form-group col-md-12" *ngIf="isEnabled('indicatorsControl')">
        <label for="indicator">Indicator </label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></div>
          <ng-select [multiple]="true" id="indicator"
                     [placeholder]="'Select desired Indicator(s) or type to search...'"
                     [(ngModel)]="selectedIndicators" [items]="indicatorOptions" (active)="selectedIndicators">
          </ng-select>
          <div class="input-group-addon" (click)="selectAll()" style="cursor: pointer;">
            <div>
              <span *ngIf="selectedIndicatorTagsSelectedAll" class="glyphicon glyphicon-trash"></span>
              <span *ngIf="!selectedIndicatorTagsSelectedAll" class="glyphicon glyphicon-pushpin"></span>
              <span *ngIf="!selectedIndicatorTagsSelectedAll" >Select All</span>
              <span *ngIf="selectedIndicatorTagsSelectedAll">Select None</span>
            </div>

          </div>
        </div>
      </div>

      <div class="date-range" *ngIf="isEnabled('datesControl')">
        <div class="form-group col-md-6">
          <div class="form-row">
            <label for="startDate">Start Date:</label>
            <input id="startDate" type="date" class="form-control" [(ngModel)]="startDateString" />
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-row">
            <label for="endDate">End Date:</label>
            <input id="endDate" type="date" class="form-control" [(ngModel)]="endDateString" />
          </div>
          <div>

          </div>
        </div>
        <div class="clear-fix clear"></div>
      </div>
      <div class="form-group col-md-12" *ngIf="isEnabled('ageControl')">
        <label for="age">Age Range</label>
        <input type="text" class="slider" />
        <!--<input id="age" type="text" class="slider" />-->
        <!--<ion-range-slider #sliderElement
                          type="double"
                          [min]="0"
                          [max]="120"
                          [from_min]="0"
                          [from_max]="120"
                          [from_shadow]="true"
                          [from] ="0"
                          [to]="120"
                          [to_min]="0"
                          [to_max]="120"
                          [step] ="1"
                          [to_shadow]="true"
                          [grid]="true"
                          [grid_num]="10"
                          [decorate_both]="true"
                          (onFinish)="getAgeRangeOnFinish($event)"></ion-range-slider>-->
      </div>
      <div class="form-group col-md-12" *ngIf="isEnabled('genderControl')">
        <label for="gender">Select Gender</label>
        <ng-select [multiple]="true" id="gender"
                   [placeholder]="'Select Gender...'"
                   [(ngModel)]="selectedGender" [items]="genderOptions" (active)="selectedGender">
        </ng-select>
      </div>
      <div *ngIf="isEnabled('locationControl')">
        <location-filter [multiple]="true" [locationUuids]="locations" (onLocationChange)="getSelectedLocations($event)"></location-filter>
      </div>
  </div>
  </div>
  <div class="row" style="margin-top: 4px; padding: 0px;" >
    <button type="button" *ngIf="!parentIsBusy" class="btn btn-primary pull-right"
            [disabled]="selectedIndicators.length === 0 ? !disableGenerateButton : disableGenerateButton"
            (click)="onClickedGenerate()">Generate Report</button>
    <span class="pull-right" style="font-weight: bold; color: gray" *ngIf="parentIsBusy">Loading report..</span>

  </div>

</div>
