<nav class="navbar navbar-static-top" role="navigation">
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="menu-left patient" routerLinkActive="active">
        <a routerLink="/patient-dashboard/patient-search"> <i class="fa fa-search"></i>
          <span class="hidden-xs hidden-sm">Patient Search</span>
        </a>
      </li>
      <li class="menu-left clinic" routerLinkActive="active">
        <a routerLink="/clinic-dashboard"> <i class="fa fa-user-md"></i>
          <span class="hidden-xs hidden-sm">Clinic Dashboard</span> </a>
      </li>
      <li class="dropdown more menu-left more-menu" routerLinkActive="trail">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-th"></i>
          <span class="hidden-xs hidden-sm">More</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="lab-order-search">
            <a routerLink="/lab-order-search"  routerLinkActive="active">
              <i class="icon-pathology"></i>
              <span>Lab Order Search</span>
            </a>
          </li>
          <li class="data-analytics">
            <a routerLink="/data-analytics"  routerLinkActive="active">
              <i class="fa fa-line-chart"></i>
              <span>Data Analytics</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown user user-menu pull-right" routerLinkActive="trail">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user"></i>
          <span class="username">{{user.display}}</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">
            <dl>
              <dt>Location:</dt>
              <dd>{{userLocation}}</dd>
              <dt>Role(s):</dt>
              <dd>- {{ user.roleDisplay.split(',').join("\n- ").trim() }}</dd>
            </dl>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a routerLink="/app/settings" routerLinkActive="active">
              <span class="glyphicon glyphicon-hdd"></span> Switch Servers
            </a>
          </li>
          <li>
            <a routerLink="/user-default-properties" routerLinkActive="active">
              <span class="glyphicon glyphicon-user"></span> User Default Settings
            </a>
          </li>
          <li>
            <a routerLink="/useful-links" routerLinkActive="active">
              <span class="glyphicon glyphicon-question-sign"></span> Useful Links
            </a>
          </li>
          <!-- <li>
            <a routerLink="/patient-list-cohort/cohort" routerLinkActive="active">
              <span class="glyphicon glyphicon-list"></span> Patient List
            </a>
          </li> -->
          <li>
            <a (click)="updateForms()" style="cursor:pointer;">
              <span class="glyphicon glyphicon-refresh"></span> Update Forms
            </a>
          </li>
          <li class="last">
            <a routerLink="/feed-back" routerLinkActive="active">
              <span class="fa fa-comments"></span> Feedback
            </a>
          </li>
          <li class="user-footer">
            <div class="pull-right">
              <a (click)="logout()" class="btn btn-danger">Sign out</a>
            </div>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
