<h4 class="component-title" style="color: green">
  <span class="fa fa-list"></span> Defaulter List
</h4>
<div class="loader" *ngIf="loadingDefaulterList">
  <span><i class="fa fa-spinner fa-spin"></i>Loading defaulter list...</span>
</div>
<app-defaulter-list-filter
  [currentLocation]="locationUuids"
  (resetFilter)="resetFilter($event)"
>
</app-defaulter-list-filter>

<div *ngIf="errors" style="color: red !important">
  <div *ngFor="let error of errors">{{ error.message }}</div>
</div>

<patient-list
  [data]="defaulterList"
  [extraColumns]="extraColumns()"
></patient-list>

<p class="bg-info" style="padding: 4px" *ngIf="defaulterList.length > 0">
  <b>
    <span style="color: green" class="glyphicon glyphicon-ok"
      >All records loaded {{ '[ ' + defaulterList.length + ']' }}</span
    ></b
  >
</p>
