<div
  style="margin-top: 4px; margin-bottom: 4px"
  class="location-filter suggest-container form-group"
>
  <div
    style="
      padding: 0px;
      border: 1px double lightgray;
      border-bottom: 0px;
      cursor: pointer;
    "
    class="_row"
    (click)="filterCollapsed = !filterCollapsed"
  >
    <span class="text-info" style="margin: 2px; font-weight: bold">
      <span
        class="glyphicon glyphicon-filter"
        style="font-weight: normal"
      ></span
      >Report filters</span
    >
    <span style="margin: 2px" class="label label-default pull-right">
      <span
        class="glyphicon glyphicon-chevron-down"
        *ngIf="!filterCollapsed"
      ></span>
      <span
        class="glyphicon glyphicon-chevron-up"
        *ngIf="filterCollapsed"
      ></span>
    </span>
  </div>
  <div style="padding: 0px; border: 1px double lightgray" class="_row">
    <div [hidden]="filterCollapsed">
      <div class="form-group col-md-12" *ngIf="isEnabled('indicatorsControl')">
        <label for="indicator">Indicator </label>
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-map-marker"></span>
          </div>
          <ng-select
            class="sharp-corners"
            [multiple]="true"
            id="indicator"
            [placeholder]="'Select desired Indicator(s) or type to search...'"
            [(ngModel)]="selectedIndicators"
            [items]="indicatorOptions"
            (change)="onSelectedIndicators($event)"
          >
          </ng-select>
          <div
            class="input-group-addon"
            (click)="selectAll()"
            style="cursor: pointer"
          >
            <div>
              <span
                *ngIf="selectedIndicatorTagsSelectedAll"
                class="glyphicon glyphicon-trash mr-1"
              ></span>
              <span
                *ngIf="!selectedIndicatorTagsSelectedAll"
                class="glyphicon glyphicon-pushpin mr-1"
              ></span>
              <span *ngIf="!selectedIndicatorTagsSelectedAll">Select All</span>
              <span *ngIf="selectedIndicatorTagsSelectedAll">Select None</span>
            </div>
          </div>
        </div>
      </div>

      <div class="date-range" *ngIf="isEnabled('datesControl')">
        <div class="form-group col-md-6">
          <div class="form-row">
            <label for="startDate">Start Date:</label>
            <input
              id="startDate"
              type="date"
              class="form-control"
              [(ngModel)]="startDateString"
            />
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-row">
            <label for="endDate">End Date:</label>
            <input
              id="endDate"
              type="date"
              class="form-control"
              [(ngModel)]="endDateString"
            />
          </div>
          <div></div>
        </div>
        <div class="clear-fix clear"></div>
      </div>
      <div class="date-range" *ngIf="isEnabled('monthIntervalControls')">
        <div class="form-group col-md-6">
          <div class="form-row">
            <label for="startDate">Starting Month:</label>
            <input
              id="startingMonth"
              type="date"
              class="form-control"
              [(ngModel)]="startingMonthString"
            />
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-row">
            <label for="endDate">Ending Month:</label>
            <input
              id="endingMonth"
              type="date"
              class="form-control"
              [(ngModel)]="endingMonthString"
            />
          </div>
          <div></div>
        </div>
        <div class="clear-fix clear"></div>
      </div>
      <div class="date-range" *ngIf="isEnabled('dayControl')">
        <div class="form-group col-md-12">
          <div class="form-row">
            <label for="startDate">Start Date:</label>
            <input
              id="startDate"
              type="date"
              class="form-control"
              [(ngModel)]="startDateString"
            />
          </div>
        </div>
        <div class="clear-fix clear"></div>
      </div>

      <div class="date-range" *ngIf="isEnabled('weekControl')">
        <div class="form-group col-md-12">
          <div class="form-row">
            <label for="startDate" style="margin-top: 10px"
              >Surge Dates : {{ dateRange }}</label
            >
          </div>
        </div>
        <div class="form-group col-md-12">
          <div class="form-row">
            <label for="startDate">Surge Week:</label>
            <ng-select
              [items]="surgeWeeks"
              bindLabel="name"
              bind
              placeholder="Select yearWeek"
              [(ngModel)]="selectedYearWeek"
              (change)="yearWeekChange($event)"
            ></ng-select>
          </div>
        </div>
        <div class="clear-fix clear"></div>
      </div>

      <div class="date-range" *ngIf="isEnabled('familyTestingControls')">
        <div class="form-group col-md-4">
          <div class="form-row">
            <label for="elicitedStartDate">Elicitation Start Date</label>
            <date-time-picker
              tabindex="0"
              [modelValue]="elicitedStartDate"
              [id]="'elicitedStartDate'"
              (onDateChange)="elicitationStartDateChange($event)"
            ></date-time-picker>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="form-row">
            <label for="elicitedEndDate">Elicitation End Date</label>
            <date-time-picker
              tabindex="0"
              [modelValue]="elicitedEndDate"
              [id]="'elicitedEndDate'"
              (onDateChange)="elicitationEndDateChange($event)"
            ></date-time-picker>
          </div>
          <div></div>
        </div>
        <div class="form-group col-md-4">
          <label for="program">Index Program </label>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-map-marker"></span>
            </div>
            <ng-select
              class="sharp-corners"
              [multiple]="true"
              id="program"
              [placeholder]="'Select Program(s)...'"
              [(ngModel)]="selectedPrograms"
              [items]="programsFT"
            >
            </ng-select>
            <div
              class="input-group-addon"
              (click)="selectAllProgramsFT()"
              style="cursor: pointer"
            >
              <div>
                <span
                  *ngIf="selectAllProgramsTag"
                  class="glyphicon glyphicon-trash mr-1"
                ></span>
                <span
                  *ngIf="!selectAllProgramsTag"
                  class="glyphicon glyphicon-pushpin mr-1"
                ></span>
                <span *ngIf="!selectAllProgramsTag">Select All</span>
                <span *ngIf="selectAllProgramsTag">Select None</span>
              </div>
            </div>
          </div>
          <div></div>
        </div>
        <div class="clear-fix clear"></div>
      </div>
      <div class="date-range" *ngIf="isEnabled('familyTestingControls')">
        <div class="form-group col-md-4">
          <div class="form-row">
            <label for="isEligible">Eligible for Testing</label>
            <select
              style="height: 39px"
              class="form-control"
              [(ngModel)]="isEligible"
              id="isEligible"
              name="isEligible"
              (ngModelChange)="testEligibleChange($event)"
              required
            >
              <option *ngFor="let p of isEligibleOptions" [value]="p.value">
                {{ p.label }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="form-row">
            <label for="childStatus">Children Status</label>
            <select
              style="height: 39px"
              class="form-control"
              [(ngModel)]="childStatus"
              id="childStatus"
              name="childStatus"
              (ngModelChange)="onChildStatusChange($event)"
              required
            >
              <option *ngFor="let p of childStatusOptions" [value]="p.value">
                {{ p.label }}
              </option>
            </select>
          </div>
          <div></div>
        </div>
        <div class="form-group col-md-4">
          <div class="form-row">
            <label for="elicitedClients">Reviewed Clients</label>
            <select
              style="height: 39px"
              class="form-control"
              [(ngModel)]="elicitedClients"
              id="elicitedClients"
              name="elicitedClients"
              (ngModelChange)="elicitedClientsChange($event)"
              required
            >
              <option
                *ngFor="let p of elicitedClientsOptions"
                [value]="p.value"
              >
                {{ p.label }}
              </option>
            </select>
          </div>
          <div></div>
        </div>
        <div class="clear-fix clear"></div>
      </div>

      <div class="form-group col-md-12" *ngIf="isEnabled('ageControl')">
        <label for="age">Age Range</label>
        <input type="text" class="slider" />
      </div>
      <div class="form-group col-md-12" *ngIf="isEnabled('genderControl')">
        <label for="gender">Select Gender</label>
        <ng-select
          class="sharp-corners"
          [multiple]="true"
          id="gender"
          [placeholder]="'Select Gender...'"
          [items]="genderOptions"
          [(ngModel)]="selectedGender"
          ngDefaultControl
        >
        </ng-select>
      </div>

      <div class="form-group col-md-12" *ngIf="isEnabled('periodControl')">
        <label for="period">Select Period</label>
        <ng-select
          class="sharp-corners"
          [multiple]="false"
          id="period"
          [placeholder]="'Select Period...'"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="selectedPeriod"
          [items]="periodOptions"
          (change)="onPeriodChange($event)"
        >
        </ng-select>
      </div>

      <div
        class="row"
        *ngIf="isEnabled('programsControl')"
        style="margin-left: 0; margin-right: 0"
      >
        <div class="form-group col-md-6 col-xs-12">
          <label for="program">Program </label>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-map-marker"></span>
            </div>
            <ng-select
              class="sharp-corners"
              [multiple]="true"
              id="program"
              [placeholder]="'Select desired Program(s) or type to search...'"
              [(ngModel)]="selectedPrograms"
              [items]="programOptions"
            >
            </ng-select>
            <div
              class="input-group-addon"
              (click)="selectAllPrograms()"
              style="cursor: pointer"
            >
              <div>
                <span
                  *ngIf="selectedProgramTagsSelectedAll"
                  class="glyphicon glyphicon-trash mr-1"
                ></span>
                <span
                  *ngIf="!selectedProgramTagsSelectedAll"
                  class="glyphicon glyphicon-pushpin mr-1"
                ></span>
                <span *ngIf="!selectedProgramTagsSelectedAll">Select All</span>
                <span *ngIf="selectedProgramTagsSelectedAll">Select None</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isEnabled('locationControl')">
        <location-filter
          [multiple]="true"
          [locationUuids]="locations"
          (onLocationChange)="getSelectedLocations($event)"
        ></location-filter>
      </div>
      <div
        class="row"
        *ngIf="isEnabled('patientTypeControl')"
        style="margin-left: 0; margin-right: 0"
      >
        <div class="form-group col-md-6">
          <div class="form-row">
            <label for="patient_type">Patient Type: </label>
            <ng-select
              [items]="patientTypeOptions"
              bindLabel="name"
              bind
              placeholder="Select Patient Type"
              [(ngModel)]="selectedPatientType"
              (change)="onpatientTypeChange($event)"
            >
            </ng-select>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-row">
            <label for="patient_type">Sample Size: </label>
            <ng-select
              [items]="sampleSize"
              bindLabel="name"
              bind
              placeholder="Select Patient Type"
              [(ngModel)]="selectedSampleSize"
              (change)="onsampleSizeChange($event)"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div *ngIf="isEnabled('locationTypeControl')">
        <div class="form-group col-md-12">
          <div class="form-row">
            <label for="location_type">Location Type: </label>
            <ng-select
              [items]="locationTypeOptions"
              bindLabel="name"
              bind
              placeholder="Select Location Type"
              [(ngModel)]="selectedLocationType"
              (change)="onlocationTypeChange($event)"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="date-range" *ngIf="isEnabled('monthControl')">
        <div class="form-group col-md-12">
          <div class="form-row">
            <label for="month">Month:</label>
            <input
              id="month"
              type="month"
              class="form-control"
              [(ngModel)]="monthString"
            />
          </div>
        </div>
        <div class="clear-fix clear"></div>
      </div>
      <div class="date-range" *ngIf="isEnabled('quarterlyControl')">
        <div class="form-group col-md-6">
          <div class="form-row">
            <label for="year">Year: </label>
            <ng-select
              [items]="years"
              bindLabel="name"
              bind
              placeholder="Select year"
              [(ngModel)]="selectedYear"
              (change)="checkYear(selectedYear)"
            >
            </ng-select>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="form-row">
            <label for="quarter">Quarter: </label>
            <ng-select
              [items]="quarters"
              bindLabel="name"
              bind
              placeholder="Select quarter"
              [(ngModel)]="selectedQuarter"
              (change)="onQuarterChange(selectedQuarter)"
            >
            </ng-select>
          </div>
        </div>
        <div class="clear-fix clear"></div>
      </div>
    </div>
  </div>
  <div
    class="_row"
    style="margin-top: 4px; padding: 0px"
    *ngIf="!hideGenerateReportButton"
  >
    <button
      type="button"
      *ngIf="!parentIsBusy"
      class="btn btn-primary pull-right"
      (click)="onClickedGenerate()"
    >
      Generate Report
    </button>
    <span
      class="pull-right"
      style="font-weight: bold; color: gray"
      *ngIf="parentIsBusy"
      >Loading report..</span
    >
    <div class="clear clear-fix"></div>
  </div>
</div>
