<div #containerElement class="box box-solid">
  <div class="sticky" id="sticky" [ngStyle]="{'top': topOffset+'px', 'width': leftOffset + 'px'}" #headerElement >
    <div class="box-header" style="background:#ecf0f5; ">
      <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" appendTo="body"></p-confirmDialog>
      <div class="banner-top"></div>
      <md-progress-bar *ngIf="fetchingPatient" mode="indeterminate"></md-progress-bar>
      <retrospective-banner></retrospective-banner>
      <patient-banner></patient-banner>
      <div class="notifications">
        <patient-reminders></patient-reminders>
        <todays-vitals></todays-vitals>
        <visit-period [iseditLocation]="false"></visit-period>
      </div>
    </div>
  </div>
  <div #bodyElement class="box-body" id="section-box-body" style="position:relative; bottom:auto;" [ngStyle]="{'top': (topOffset + (headerHeight - topOffset))+'px'}">
    <div class="component-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
