<div class="wrapper">
  <div class="box-body">
    <form>
      <div class="form-group">
        <div clas="row">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <label for="search-textbox"><h2>Search by Order ID</h2></label>
          </div>
          <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12">
            <div class="input-wrapper" [style.margin-right]="adjustedInputMargin">              
              <input id="search-textbox" type="text" class="form-control input-lg" placeholder="Enter Order ID and press enter or click search button"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="orderId" (ngModelChange)="onValueChange($event)" (paste)="onPaste($event)"
            (keyup)="onPaste($event)" (keypress)="onKeyPress($event)">
        </div>
          </div>
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
        <div class="input-group-btn">
          <button id="search" [disabled]="isEnabled" class="btn btn-primary btn-lg" (click)="searchOrderId()">
            <span class="glyphicon glyphicon-search"> Search</span>
            <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
          </button>
          <button id="reset" [disabled]="!isResetButton" class="btn btn-danger btn-lg" (click)="resetSearch()">
            <span class="glyphicon glyphicon-trash"> Reset</span>
          </button>
        </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
          <p *ngIf="hasError"><strong class="text-danger">Invalid order ID</strong></p>
          <p *ngIf="orderDeleted">
               <strong class="text-danger">Sorry, this order was deleted</strong>
            </p>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>