<div class="facility-details-layout">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h4 class="info_section_title">
        Facility Details
      </h4>
    </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ng-container *ngIf="facility; else noFacility">
        <table class="table  table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
          </thead>
            <tbody>
             <tr>
                <td><strong> Name </strong></td>
                <td>{{ facility.facility_name }}</td>
              </tr>
             <tr>
                <td><strong> Facility ID </strong></td>
                <td>{{ facility.id }}</td>
            </tr>
            <tr>
                <td><strong> Registration Number </strong></td>
                <td>{{ facility.registration_number }}</td>
            </tr>
             <tr>
                <td><strong> Regulator </strong></td>
                <td>{{ facility.regulator }}</td>
            </tr>
             <tr>
                <td><strong> Facility Level </strong></td>
                <td>{{ facility.facility_level }}</td>
            </tr>
             <tr>
                <td><strong> Facility Code </strong></td>
                <td>{{ facility.facility_code }}</td>
            </tr>
             <tr>
                <td><strong> Facility Category </strong></td>
                <td>{{ facility.facility_category }}</td>
            </tr>
            <tr>
                <td><strong> Facility Owner </strong></td>
                <td>{{ facility.facility_owner }}</td>
            </tr>
             <tr>
                <td><strong> Facility Type </strong></td>
                <td>{{ facility.facility_type }}</td>
            </tr>
             <tr>
                <td><strong> County </strong></td>
                <td>{{ facility.county }}</td>
            </tr>
             <tr>
                <td><strong> Sub County </strong></td>
                <td>{{ facility.sub_county }}</td>
            </tr>
             <tr>
                <td><strong> Ward </strong></td>
                <td>{{ facility.ward }}</td>
            </tr>
             <tr>
                <td><strong> Approved </strong></td>
                <td>{{ facility.approved === 1 ? 'Yes': 'No' }}</td>
            </tr>
             <tr>
                <td><strong> Operational Status </strong></td>
                <td>{{ facility.operational_status }}</td>
            </tr>
             <tr>
                <td><strong> Current License Expiry Date </strong></td>
                <td>{{ facility.current_license_expiry_date }}</td>
            </tr>
            </tbody>
        </table>
        </ng-container>
        <ng-template #noFacility>
            <p>No Facility Loaded</p>
        </ng-template>
    </div>
  </div>
</div>