.facility-details-layout{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 10px;
    padding: 5px 5px;
    height: 100vh;
}
.info_section_title {
    font-size: 20px;
    color: #203864;
}