<busy
  *ngIf="enrolling"
  class="small"
  [message]="'Enrolling patient.....'"
></busy>
<button
  *ngIf="_options.closeButton"
  (click)="remove()"
  class="toast-close-button"
>
  ×
</button>
<div *ngIf="title" [class]="_options.titleClass" [attr.aria-label]="title">
  {{ title }}
</div>
<div
  *ngIf="message && _options.enableHtml"
  role="alert"
  aria-live="polite"
  [class]="_options.messageClass"
  [innerHTML]="message"
></div>
<div
  *ngIf="message && !_options.enableHtml"
  role="alert"
  aria-live="polite"
  [class]="_options.messageClass"
  [attr.aria-label]="message"
>
  {{ message }}
</div>
<a
  *ngIf="_options.reminder && _options.reminder.auto_register"
  style="margin-top: 5px; display: block"
  class="btn btn-default"
  (click)="autoEnrollToProgram($event)"
>
  Enroll
</a>

<a
  *ngIf="_options.reminder && _options.reminder.addContacts"
  style="margin-top: 5px; display: block"
  class="btn btn-default"
  (click)="addContacts($event)"
>
  Add Contacts
</a>

<a
  *ngIf="_options.reminder && _options.reminder.updateContacts"
  style="margin-top: 5px; display: block"
  class="btn btn-default"
  (click)="updateContacts($event)"
>
  Update Contacts
</a>
