.dashboard-wrapper {
  padding:15px;
}
ng-select {
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 96.9%;
}
.content {
  margin-bottom: 0;
}

.selector.location {
  cursor: pointer;
  background: #d9edf7;
  font-size: 18px;
  padding:8px;
  border: 4px solid #d9edf7;
}
.selector.location ng-select {
  font-size: 14px;
}
.app-btn{
float: left;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
height: 31.8px;
}
.clear{
    clear: both
}
