<div  *ngIf="!selectingLocation" style="cursor: pointer; color: white; background: #337ab7; border: 4px solid #337ab7">
  <h2 style="margin-top: 2px;" (click)="selectingLocation = true">
    Clinic Dashboard: {{selectedLocation.label}} <i class="fa fa-map-marker pull-right"></i>
  </h2>
</div>
<div *ngIf="selectingLocation">
  <label> Select location:</label>
  <ng-select (ngModelChange)="locationChanged($event)" [(ngModel)]="locationUuid" [options]="locations">
  </ng-select>
  <button class="btn app-btn">
    <i *ngIf="!loaderStatus" (click)="getLocations()" class="fa  fa-refresh fa-1x fa-fw"></i>
    <i *ngIf="loaderStatus" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
  </button>
</div>

<div id="section-box-body" style="margin: 4px;">
  <div class="clear"></div>
  <router-outlet></router-outlet>
</div>
