<div id="section-box-body" class="dashboard-wrapper wrapper">
  <h3>
    Clinic Dashboard
  </h3>
  <ng-select (ngModelChange)="locationChanged($event)" [(ngModel)]="locationUuid" [options]="locations" >
  </ng-select>
  <button class="btn app-btn">
    <i *ngIf="!loaderStatus" (click)="getLocations()" class="fa  fa-refresh fa-1x fa-fw"></i>
    <i *ngIf="loaderStatus" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
  </button>
  <div class="clear"></div>
  <router-outlet></router-outlet>
</div>
