<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">{{title}}</h3>
        <button type="button" class="close pull-right" aria-label="Close"
                (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content selector="[modal-body]"></ng-content>
      </div>
    </div>
  </div>
</div>
