<!--<hiv-snapshot *ngIf="patient.uuid" [patient]="patient"></hiv-snapshot>-->
<h4 class="component-title"><span class="icon-i-family-practice"></span> Programs</h4>
<div style="padding:4px;margin-bottom:0.5cm;" class="list-group-item">
  <label for="program">Select a program to enroll:</label>
  <select id="program" class="form-control" [(ngModel)]="program" (change)="openNewEnrollmentDialog($event.target.value)">
      <option *ngFor="let p of availablePrograms"  [ngValue]="p.uuid" >{{p.display}}
      </option>
    </select>
</div>

<p-dialog header="{{selectedProgram}}" [(visible)]="displayDialog" minHieght="300" position="center" modal="true">
  <div style="width: 100%; overflow:hidden;">
    <label for="enrolledDate">Date Enrolled:</label>
    <div class="input-group">
      <div class="ui-grid-col-10">
        <input id="enrolledDate" [(ngModel)]="dateEnrolled" type="date" />
      </div>
    </div>
    <div ng-messages="programEnrollmentForm.enrolledDate.$error">
      <div class="help-block" ng-message="required">Date Enrolled is required.</div>
    </div>

    <label for="completedDate">Date Completed:</label>
    <div class="input-group" style="border: 1px solid #66b3ff;">
      <div class="ui-grid-col-10">
        <input id="completedDate" [(ngModel)]="dateCompleted" type="date" />
      </div>
    </div>

    <div *ngIf="hasError" style="margin-bottom:10px;">
      <span class="text-danger"> <i class="glyphicon glyphicon-exclamation-sign"></i> {{errorMessage}}</span>
    </div>

    <div style="padding-top:5px">
      <button class="btn btn-primary" type="button" (click)="enrollToProgram()">
       <span>Save</span></button>
      <button class="btn btn-primary pull-right" type="button" (click)="closeDialog()">
       <span>Cancel</span></button>
    </div>

  </div>

</p-dialog>

<div class="">
  <div>
    <div [ngBusy]="{busy:[loadingPatientPrograms, programsBusy],message:'Loading program enrollment.........'}"></div>

    <div *ngFor="let error of errors" class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error.message}}
    </div>

    <div *ngIf='!notEnrolled && !loadingPatientPrograms'>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Program</th>
            <th>Date Enrolled</th>
            <th>Date Completed</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer;" *ngFor="let patientProgram of enrolledProgrames">
            <td>{{patientProgram.display}}</td>
            <td>{{patientProgram.dateEnrolled}}</td>
            <td>{{patientProgram.dateCompleted}}</td>
            <td>
              <button type="button" class="btn btn-xs edit-button" (click)="updateEnrollment(patientProgram)">
               <span class="glyphicon text-primary glyphicon-edit"></span>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
