<landing-page [hideList]="true"></landing-page>
<h4 class="component-title">Current Enrollments</h4>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Program</th>
    <th>Location Enrolled</th>
    <th>Date Enrolled</th>
    <th>State</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="loadingPatientPrograms">
    <td colspan="4">
      <div [ngBusy]="{busy:[loadingPatientPrograms],message:'Loading program enrollments.........'}"></div>
    </td>
  </tr>
  <tr style="cursor: pointer;" *ngFor="let row of enrolledPrograms">
    <td style="vertical-align: baseline;">{{row.program.display}}</td>
    <td style="vertical-align: baseline;">{{row.enrolledProgram.openmrsModel.location?.display}}</td>
    <td style="vertical-align: baseline;">{{row.dateEnrolledView}}</td>
    <td style="vertical-align: baseline;">
      <ng-container *ngIf="row.enrolledProgram.states.length > 0">
          <ng-container *ngFor="let patientState of row.enrolledProgram.states">
            <span *ngIf="!patientState.endDate" >{{patientState.state.concept.display}}</span>
          </ng-container>
      </ng-container>
    </td>
    <td style="vertical-align: baseline;">
      <div *ngIf="row.program.openmrsModel.allWorkflows.length > 0" class="dropdown" style="text-align: right;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage
          <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li *ngFor="let state of row.program.openmrsModel.allWorkflows[0].states">
            <a *ngIf="visible(state, row)" href="javascript:void(0)" (click)="updateState(row, state)">{{state.concept.display}}</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
  </tbody>
</table>
