<h4 class="component-title"><span class="icon-i-family-practice"></span>Program Enrollment</h4>
<p-dialog header="{{selectedProgram}}" [(visible)]="displayDialog" minHieght="300" position="center" modal="true">
  <div style="width: 100%; overflow:hidden; ">
    <div class="input-group" >
      <label for="enrolledDate">Date Enrolled:</label>
      <div class="ui-grid-col-10">
        <input id="enrolledDate" [(ngModel)]="dateEnrolled" type="date" />
      </div>
    </div>
    <div ng-messages="programEnrollmentForm.enrolledDate.$error">
      <div class="help-block" ng-message="required" style="padding-left: 15px">Date Enrolled is required.</div>
    </div>

    <div class="input-group" >
      <label>Location Enrolled:</label>
      <div class="ui-grid-col-10" >
        <select class="form-control" [ngModel]="selectedLocation" (ngModelChange)="getSelectedLocation($event)">
          <option *ngFor="let c of locations" [ngValue]="c.value">{{c.label}}</option>
        </select>
      </div>

    </div>

    <div *ngIf="hasError" style="margin-bottom:10px;">
      <span class="text-danger"> <i class="glyphicon glyphicon-exclamation-sign"></i> {{errorMessage}}</span>
    </div>

    <div style="padding-top:5px;">
      <button class="btn btn-danger" type="button" (click)="closeDialog()">
       <span>Cancel</span></button>
      <button class="btn btn-primary  pull-right" type="button" (click)="enrollToProgram()">
        <span>Save</span></button>
    </div>

  </div>

</p-dialog>

<div class="">
  <div>
    <div [ngBusy]="{busy:[loadingPatientPrograms, programsBusy],message:'Loading program enrollment.........'}"></div>

    <div *ngFor="let error of errors" class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error.message}}
    </div>

    <div *ngIf='!notEnrolled && !loadingPatientPrograms'>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Program</th>
            <th>Location Enrolled</th>
            <th>Date Enrolled</th>
            <th>Date Completed</th>
            <!--<th>Actions</th>-->
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer;" *ngFor="let patientProgram of enrolledProgrames">
            <td>{{patientProgram.display}}</td>
            <td>{{patientProgram.openmrsModel.location?.display}}</td>
            <td>{{patientProgram.dateEnrolled}}</td>
            <td>{{patientProgram.dateCompleted}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
