<div class="programs-container">
  <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="'enrollment-manager'"
       routerLinkActive #rla="routerLinkActive"
       [class.active]="rla.isActive">Manage Enrollments</a>
    <a mat-tab-link [routerLink]="'transfer-care'"
       routerLinkActive #rlb="routerLinkActive"
       [class.active]="rlb.isActive">Transfer Care</a>
    <a mat-tab-link [routerLink]="'enrollment-history'"
       routerLinkActive #rlc="routerLinkActive"
       [class.active]="rlc.isActive">Enrollment History</a>
  </nav>
  <router-outlet></router-outlet>
</div>
