<p-dialog header = "Locator-Map" [(visible)]="display"
 styleClass="edit-identifier-dialog" class="edit_link">
  <div class="container-fluid"></div>
</p-dialog>
<div class="row patient-info-row">
  <!--<a
  (click)="locator.showDialog()"
  class="edit_link" 
  ><span><i class="fa fa-plus fa-fw"></i> Add  </span>
  </a> 
  <locator-map #locator ></locator-map> -->
  <div class >
    <span class="spacing"></span>
    <a *ngIf="editDetails" (click)="fillLocatorDetails()" class="edit_link">
      <span><i class="fa fa-edit fa-fw"></i> Edit</span>
    </a>
    <a *ngIf="!editDetails" (click)="fillLocatorDetails()" class="edit_link">
      <span><i class="fa fa-edit fa-fw"></i> Add</span>
    </a>
    <span class="spacing"></span>
    <a type="button" (click)="display" data-target="#encounter"
       data-toggle="modal" class="edit_link" >
       <span><i class=" glyphicon glyphicon-eye-open smaller-icon"></i> View
       </span>
    </a>
  </div>
  <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
    <table class="table table-striped" *ngIf="patient">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Landmark : </strong> {{ landmark }}</td>
          <td><strong>Workplace : </strong>{{ workplace }}</td>
          </tr>
        <tr>
          <td>
            <strong>Well Known Neighbour : </strong>{{ nearestNeighbour }}
          </td>
          <td>
            <strong>Treatment Supporter Name : </strong>{{ treatmentSupporter }}
          </td>
        </tr>
        <tr>
          <td><strong>Well Known child Name : </strong>{{ knownChild }}</td>
          <td><strong>Tribe </strong>{{ tribe }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="encounter" class="modal" bsModal #staticModal="bs-modal"
     [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog" 
      aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">INFORMATION</h4>
            <button type="button" class="close pull-right" aria-label="Close" 
             (click)="staticModal.hide()" data-dismiss="modal">
             <span aria-hidden="true">&times;</span>
            </button>
            <div>
              <pretty-encounter-viewer class="modal-pretty" [encounter]="patientLocatorEncounter">
              </pretty-encounter-viewer>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
