<div class="row patient-info-row">
  <!--  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h5 class="info_section_title">Locator Map Details</h5>
  </div> -->
  <div>
    <a *ngIf="editDetails" (click)="fillLocatorDetails()" class="edit_link"
      ><span><i class="fa fa-edit fa-fw"></i> Edit</span></a
    >
    <a *ngIf="!editDetails" (click)="fillLocatorDetails()" class="edit_link"
      ><span><i class="fa fa-edit fa-fw"></i> Add</span></a
    >
  </div>
  <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
    <table class="table table-striped" *ngIf="patient">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Landmark : </strong> {{ landmark }}</td>
          <td><strong>Workplace : </strong>{{ workplace }}</td>
          </tr>
        <tr>
          <td>
            <strong>Well Known Neighbour : </strong>{{ nearestNeighbour }}
          </td>
          <td>
            <strong>Treatment Supporter Name : </strong>{{ treatmentSupporter }}
          </td>
        </tr>
        <tr>
          <td><strong>Well Known child Name : </strong>{{ knownChild }}</td>
          <td><strong>Tribe </strong>{{ tribe }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <pretty-encounter-viewer
    [encounter]="patientLocatorEncounter"
  ></pretty-encounter-viewer>
</div>
