<div >
  <hr>
  <chart [options]="options" (redraw)="renderChart()"></chart>
  <hr>
  <hiv-care-tabularview [data]="data"></hiv-care-tabularview>

  <div  *ngIf="showIndicatorDefinitions">
    <hr>
    <hiv-care-indicator-definitions  [indicatorDefinitions]="indicatorDef">

    </hiv-care-indicator-definitions>
  </div>
  <md-slide-toggle
    style="float:right"
    [color]="'primary'"
    [(ngModel)]="showIndicatorDefinitions"
    [checked]="showIndicatorDefinitions"
  ><span *ngIf="!showIndicatorDefinitions">Show</span> <span *ngIf="showIndicatorDefinitions">Hide</span> Indicator
    Definitions
  </md-slide-toggle>
</div>
