<p-dialog
  header="HIE Client OTP Verification"
  [(visible)]="show"
  closable="true"
  (onHide)="hideDialog()"
  styleClass="otp-verification-dialog"
>
  <div class="container-fluid">
    <div class="loader" *ngIf="showLoader">
      <span> <i class="fa fa-spinner fa-spin"></i>{{ loadingMessage }} </span>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <div
          class="alert alert-danger"
          *ngIf="showErrorAlert"
          style="margin-top: 10px"
        >
          {{ errorAlert }}
        </div>
      </div>
      <ng-container *ngIf="hasOtp; else hasNoOtp">
        <form [formGroup]="otpVerificationForm" (keydown.enter)="$event.preventDefault()">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="control-label">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phoneNumber"
                  required
                  readonly
                />
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="control-label">OTP</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="otp"
                  required
                />
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="row">
               <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
              <div class="validate-otp-action">
                <button
                  class="btn btn-primary otp-action-btn"
                  type="button"
                  (click)="validateHieOtp()"
                >
                  <span><i class="fa fa-check fa-fw"></i> Validate OTP</span>
                </button>
              </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
              <div class="validate-otp-action">
                <button
                  class="btn btn-success otp-action-btn"
                  type="button"
                  (click)="resendHieOtp()"
                >
                  <span><i class="fa fa-envelope fa-fw"></i> Re-send OTP</span>
                </button>
              </div>
            </div>
              </div>
            </div>
          </div>
        </form>
      </ng-container>
      <ng-template #hasNoOtp>
        <form [formGroup]="sendCustomOtpForm" (keydown.enter)="$event.preventDefault()">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="control-label">Identification Type</label>
                <select
                  class="form-control"
                  formControlName="identificationType"
                >
                  <option
                    *ngFor="let idType of hieClientVerificationIdentifierTypes"
                    [value]="idType.value"
                  >
                    {{ idType.label }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="control-label">Identification Number</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="identificationNumber"
                />
              </div>
            </div>
             <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
              <div class="validate-otp-action">
                <button
                  class="btn btn-success otp-action-btn"
                  (click)="registerOnAfyaYangu()"
                >
                  <i class="fa fa-stethoscope fa-fw"></i> Register on Afya Yangu
                </button>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
              <div class="validate-otp-action">
                <button
                  class="btn btn-primary otp-action-btn"
                  type="button"
                  (click)="requestCustomHieOtp()"
                >
                  <span><i class="fa fa-envelope fa-fw"></i> Send OTP</span>
                </button>
              </div>
            </div>
            </div>
           </div>
            
          </div>
        </form>
      </ng-template>
    </div>
  </div>
</p-dialog>
