<div class=" " *ngIf="plhivNcdData === null">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <table class="table table-striped">
        <thead class="bg-primary">
          <tr>
            <th>Indicator</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PLHIV Hypertensive</td>
            <td>
              <a (click)="
                onIndicatorSelected('plhiv_hypertensive', 'PLHIV Hypertensive')
              ">
                {{ plhivNcdData.Hypertensive }}</a>
            </td>
          </tr>
          <tr>
            <td>PLHIV Diabetic</td>
            <td>
              <a (click)="onIndicatorSelected('plhiv_diabetic', 'PLHIV Diabetic')">
                {{ plhivNcdData.diabetic }}</a>
            </td>
          </tr>
          <tr>
            <td>PLHIV Hypertensive and Diabetic</td>
            <td>
              <a (click)="
                onIndicatorSelected(
                  'on_art_starting',
                  'PLHIV Hypertensive and Diabetic'
                )
              ">
                {{ plhivNcdData.hypertensiveAndDiabetic }}</a>
            </td>
          </tr>
          <tr>
            <td>PLHIV Mental Disorder</td>
            <td>
              <a (click)="
                onIndicatorSelected('plhiv_mental_disorder', 'PLHIV Mental Disorder')
              ">
                {{ plhivNcdData.mentalDisorder }}</a>
            </td>
          </tr>
          <tr>
            <td>Other</td>
            <td>
              <a (click)="onIndicatorSelected('other', 'Other')">
                {{ plhivNcdData.other }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>