<div class="modal-header">
  <h4 class="modal-title pull-left">{{editType}} Group</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<div id="editor-row">
<div class="container-fluid">
    <div clas="row">
           <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
             <div class="alert alert-success" *ngIf="success && message!==''">
              <strong>Success!</strong> {{message}}
             </div>
             <div class="alert alert-danger" *ngIf="!success && message!== ''">
              <strong>Error!</strong> {{message}}
            </div>
           </div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
                                <div class="form-group">
                                  <label for="location" class="control-label">Facility</label>
                                  </div>
                            </div>
                            <div class="col-md-9 col-lg-9 col-sm-8 col-xs-8">
                                <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></div>
                                    <ng-select 
                                           class="sharp-corners" 
                                           placeholder="Please type to search" 
                                           id="location" 
                                           [(ngModel)]="facility"
                                           [items]="facilities" 
                                           (change)="selectFacility($event)">
                                    </ng-select>
                                  </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
                              <div class="form-group">
                                <label for="groupNo">Group Number</label>
                              </div>
                            </div>
                            <div class="col-md-9 col-lg-9 col-sm-8 col-xs-8">
                                <div class="form-group">
                                  <input type="text" class="form-control" [(ngModel)]="groupNo" name="groupNo" id="groupNo"
                                  placeholder="">
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
                          <div class="form-group">
                            <label for="middleName">Group Name</label>
                          </div>
                        </div>
                        <div class="col-md-9 col-lg-9 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="groupName" name="groupName"
                                placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
                          <div class="form-group">
                            <label for="givenName">Group Type</label>
                          </div>
                      </div>
                      <div class="col-md-9 col-lg-9 col-sm-8 col-xs-8">
                              <ng-select 
                                     class="sharp-corners" 
                                     placeholder="Please type to search" 
                                     id="location" 
                                     [(ngModel)]="groupType" 
                                     [items]="groupTypes" 
                                     (change)="selectGroupType($event)">
                              </ng-select>
                   </div>
                   </div>
                   <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
                        <div class="form-group">
                          <label for="givenName">Group Program</label>
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-8">
                            <ng-select 
                                   class="sharp-corners" 
                                   placeholder="Please type to search" 
                                   id="location" 
                                   [(ngModel)]="groupProgram"
                                   [items]="groupPrograms" 
                                   (change)="selectGroupProgram($event)">
                            </ng-select>
                 </div>
                 </div>
                    <div class="row">
                      <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
                        <div class="form-group">
                          <label for="middleName">Landmark</label>
                        </div>
                      </div>
                      <div class="col-md-9 col-lg-9 col-sm-8 col-xs-8">
                          <div class="form-group">
                              <input type="text" class="form-control" [(ngModel)]="address" name="address"
                              placeholder="">
                          </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
                        <div class="form-group">
                          <label for="givenName">Health Provider</label>
                        </div>
                      </div>
                      <div class="col-md-9 col-lg-9 col-sm-8 col-xs-8">
                        <ng-select [loading]="providerLoading" class="sharp-corners" [items]="providers"
                        name="provider" [(ngModel)]="provider" required></ng-select>
                      </div>
                    </div>
                    
                    
             
            </div>
    </div>
    </div>
    <br>
    <br>
    <div class="modal-footer">
      <button class="btn btn-danger pull-right submit-btn" (click)="modalRef.hide()">Cancel</button>
      <button class="btn btn-primary pull-right submit-btn" (click)="createUpdateGroup()" [disabled]="busy"> {{editType}} Group</button>
    </div>
      
</div>
</div>