<div>
    <ul *ngIf="!viewingChildRoutes" class="sidebar-menu patient-dashboard">
        <li style='border-bottom: 0.5px solid lightgray; border-top: 0.5px solid lightgray; margin-top: 1px;' routerLinkActive="active"
            *ngFor='let route of routes'>
            <a routerLink="/{{route.url}}" (click)="viewChildRoutes(route)">
                <span class="icon-menu">
            <span style="color:lightskyblue" class="icon-menu-letter">{{route.initials}}</span>
                <span style="color:lightskyblue" class="icon-menu-icon"><i class="fa fa-square-o"></i></span>
                </span>
                <span style="color:lightskyblue" class="icon-menu-label">{{route.label}}</span>
            </a>
        </li>
    </ul>
    <ul *ngIf="viewingChildRoutes" class="sidebar-menu patient-dashboard">
        <li style='border-bottom: 0.5px solid lightgray;' (click)="viewProgramRoutes()">
            <span class="icon-menu">
            <span style="color:lightskyblue" class="icon-menu-letter">..</span>
            <span style="color:lightskyblue" class="icon-menu-icon"><i class="fa fa-level-up"></i></span>
            </span>
            <span style="color:lightskyblue" class="icon-menu-label">{{selectedRoute.label}}</span>
        </li>
        <li routerLinkActive="active" *ngFor='let route of selectedRoute.childRoutes'>
            <a *ngIf="(route.label == 'Forms' && canViewFormsTab) || route.label != 'Forms'" routerLink="/{{route.url}}" (click)="collapseSideBar()">
                <span class="icon-menu">
            <span class="icon-menu-letter">{{route.initials}}</span>
                <span class="icon-menu-icon"><i class="{{route.renderingInfo.icon}}"></i></span>
                </span>
                <span class="icon-menu-label child-route-label">{{route.label}}</span>
            </a>
        </li>
    </ul>
</div>
