hr {
  border-bottom: 1px solid #d2d6de;
}

.link-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.link-group-item:focus,
.link-group-item:hover {
  z-index: 2;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: pointer;
}

.link-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.link-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.link-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.link-group-item span {
  display: block;
  width: 100%;
}

.link-group-item:hover span {
  color: #fff !important;
}

.btn.btn-info:first-child {
  margin-left: 0;
}

button span {
  display: inline-block;
  margin-left: 12px;
}
