<h4 class="component-title text-success">
  <span class="fa fa-table"></span>{{ reportName }}
</h4>

<div class="loader" *ngIf="isLoading">
  <span><i class="fa fa-spinner fa-spin"></i>Loading...</span>
</div>

<p-tabView>
  <div>
    <p-tabPanel header="Monthly" leftIcon="fa-calendar-o">
      <report-filters
        [enabledControls]="enabledControls"
        (startDateChange)="onMonthChange($event)"
        [startDate]="_month"
        [reportName]="reportName"
        (generateReport)="generateReport()"
      >
      </report-filters>
    </p-tabPanel>
  </div>
</p-tabView>

<div class="alert alert-danger fade in" *ngIf="showInfoMessage">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h4 *ngIf="!statusError">
    <strong><span class="glyphicon glyphicon-warning-sign"></span> </strong> An
    error occurred while trying to load the report. Please try again.
  </h4>
  <p>
    <small>{{ errorMessage }}</small>
  </p>
</div>
<br />
<div
  *ngIf="matRegisterData.length == 0 && generated"
  class="alert alert-danger fade in"
>
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h4 *ngIf="!statusError">
    <strong><span class="glyphicon glyphicon-warning-sign"></span> </strong>
    No record found
  </h4>
</div>
<div
  style="padding: 20px; font-size: 12px !important"
  #contentToSnapshot
  *ngIf="matRegisterData && matRegisterData.length > 0"
>
  <div class="table-responsive">
    <div class="row">
      <div class="col-md-4">
        <b>Ministry Of Health</b>
      </div>
      <div class="col-md-4 text-center">
        <b>MOH 333 Maternity Register</b>
      </div>
      <div class="col-md-4 text-right">
        <b>Ver. July 2023</b>
      </div>
    </div>
    <table class="table table-bordered text-centre">
      <thead>
        <tr>
          <th rowspan="6">
            Date of<br />
            Admission <br />
            (dd/mm/yyyy)
          </th>
          <th>Admission number (yyyy-mm-nnnn)</th>
          <th rowspan="6">
            Full Name<br />
            (First, Middle, surname)
          </th>
          <th>
            Date of Birth <br />
            (dd/mm/yyyy)
          </th>
          <th rowspan="6">
            County/ <br />
            Subcounty
          </th>
          <th>
            Village/<br />
            Estate/<br />
            Land mark
          </th>
          <th rowspan="6">
            Marital Status <br />
            1 = Married<br />
            2 = Widowed <br />
            3 = Single<br />
            4 = Divorced<br />
            5 = Separated
          </th>
          <th rowspan="6">
            Parity<br />
            (X+Y)
          </th>
          <th rowspan="6">Gravidae</th>
          <th rowspan="6">
            No. of <br />
            ANC <br />
            visits
          </th>
          <th rowspan="6">
            Date of Last<br />
            Menstrual<br />
            Period (LMP) <br />
            (dd/mm/yyyy)
          </th>
          <th rowspan="6">
            Estimated Date <br />
            of Delivery<br />
            (EDD)<br />
            (dd/mm/yyyy)
          </th>
          <th rowspan="6">Diagnosis</th>
          <th colspan="13">Delivery</th>
          <th colspan="9"></th>
          <th>
            VDRL/<br />
            RPR<br />
            Results<br />
            (Specify<br />
            1-VDRL<br />
            2-RPR<br />
            3-Duo<br />
            testing)
          </th>
          <th colspan="4">Baby</th>
          <th>
            Maternal <br />
            HAART
          </th>
          <th>
            Infant <br />
            Prophylaxis
          </th>
          <th>
            Partner <br />
            Tested for <br />
            HIV
          </th>
          <th rowspan="6">
            Counselled <br />
            on infant <br />
            feeding <br />
            (Y/N/NA)
          </th>
          <th rowspan="6">
            Delivery <br />
            Conducted by <br />
            (Enter Name)
          </th>
          <th rowspan="6">
            Birth <br />
            Notification <br />
            Number
          </th>
          <th colspan="2">Discharge</th>
          <th colspan="3">Referral</th>
          <th rowspan="6">Comments</th>
        </tr>
        <tr>
          <th rowspan="5">NUPI</th>
          <th rowspan="5">Age</th>
          <th rowspan="5">Phone number</th>
          <th rowspan="5">
            Duration of <br />
            labour<br />
            (hours)
          </th>
          <th rowspan="5">
            Date of<br />
            Delivery <br />
            (dd/mm/yyyy)
          </th>
          <th rowspan="5">
            Time of<br />
            Delivery
          </th>
          <th rowspan="5">
            Gestation<br />
            at Birth<br />
            (wks)
          </th>
          <th rowspan="5">
            Mode of <br />
            Delivery <br />
            1) SVD<br />
            2) CS<br />
            3) Breech<br />
            4) AVD
          </th>
          <th rowspan="5">
            No.of babies <br />
            delivered
          </th>
          <th rowspan="5">
            Placenta<br />
            Complete <br />
            1=Yes<br />
            2=No<br />
            3=BBA
          </th>
          <th rowspan="5">
            Uterotonic <br />
            given <br />
            1=oxytocin <br />
            2=Carbetocin <br />
            3=Others <br />
            Specify<br />
            4= None
          </th>
          <th rowspan="5">
            Vaginal<br />
            Examination<br />
            1= Normal<br />
            2=Episiotomy<br />
            3=Vaginal tear<br />
            4=FGM<br />
            5=Vaginal warts
          </th>
          <th rowspan="5">
            Blood<br />
            loss<br />
            (mls)
          </th>
          <th rowspan="5">
            Mother's <br />
            status after <br />
            Delivery<br />
            (Alive/ <br />
            Dead)
          </th>
          <th>
            Maternal deaths <br />
            Notified <br />
            (Y/N/NA)
          </th>
          <th rowspan="5">
            Delivery<br />
            Complications<br />
            1=A.P.H. (Ante Partum <br />
            Haemorrhage); <br />
            2=P.P.H. (Post Partum <br />
            Haemorrhage); <br />
            3= Eclampsia; <br />
            4=Ruptured Uterus;<br />
            5=Obstructed labour; <br />
            6=Sepsis <br />
            7= NA
          </th>
          <th rowspan="5">
            APGAR <br />
            Score
          </th>
          <th rowspan="5">
            Birth<br />
            Outcome<br />
            (LB/FSB/ <br />
            MSB)
          </th>
          <th rowspan="5">
            Birth <br />
            Weight<br />
            (grams)
          </th>
          <th rowspan="5">
            Sex <br />
            (M/F)
          </th>
          <th>
            Initiated on <br />
            BF in<br />
            < 1hr<br />
            (Y/N)
          </th>
          <th rowspan="5">
            TEO<br />
            given at<br />
            birth? <br />
            (Y/N)
          </th>
          <th rowspan="5">
            Chlorhexidine <br />
            applied on <br />
            cord stump<br />
            (Y/N)
          </th>
          <th>
            Birth with <br />
            deformity <br />
            (Y/N)
          </th>
          <th rowspan="5">
            Given<br />
            Vitamin <br />
            K <br />
            (Y/N)
          </th>
          <th rowspan="5">(P/N/ND)</th>
          <th>HIV Test 1</th>
          <th>HIV Test 2</th>
          <th>HIV Test 3</th>
          <th>
            HIV Result <br />
            Maternity <br />
            (N/P/Inc/U/NA)
          </th>
          <th>
            Start at <br />
            Maternity
          </th>
          <th rowspan="5">(Y/N/NA)</th>
          <th rowspan="5">(Y/N/NA)</th>
          <th rowspan="5">
            Date <br />
            (dd/mm/yyyy)
          </th>
          <th rowspan="5">
            Status of <br />
            Baby<br />
            A= Alive<br />
            D= Dead
          </th>
          <th>From</th>
          <th>To</th>
          <th rowspan="5">Reason for referral</th>
        </tr>
        <tr>
          <th rowspan="4">
            Date Death <br />
            notified
          </th>
          <th rowspan="4">
            Kangaroo <br />
            Mother <br />
            Care <br />
            (Y/N)
          </th>
          <th rowspan="4">
            1- congenital <br />
            syphilis.<br />
            2- spina bifida, <br />
            3- Hydrocephalus,<br />
            4- Talipes
          </th>
          <th>Kit Name:</th>
          <th>Kit Name:</th>
          <th>Kit Name:</th>
          <th rowspan="4">
            Initial/Retest/<br />
            NA
          </th>
          <th rowspan="4">(Y/N/NA)</th>
          <th rowspan="4">
            1= From Community <br />
            Unit,<br />
            2= From Another<br />
            Health Facility, <br />
            3=Not Applicable
          </th>
          <th rowspan="4">
            1= To Community<br />
            Unit, <br />
            2=Referred to HIV <br />
            preventive services<br />
            3=Another Health <br />
            Facility,<br />
            4=Not Applicable
          </th>
        </tr>
        <tr>
          <th>Lot No.</th>
          <th>Lot No.</th>
          <th>Lot No.</th>
        </tr>
        <tr>
          <th>Expiry / /</th>
          <th>Expiry / /</th>
          <th>Expiry / /</th>
        </tr>
        <tr>
          <th>(N/P/I/NA)</th>
          <th>(N/P/I/NA)</th>
          <th>(N/P/I/NA)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">(a)</td>
          <td class="text-center">(b)</td>
          <td class="text-center">(c)</td>
          <td class="text-center">(d)</td>
          <td class="text-center">(e)</td>
          <td class="text-center">(f)</td>
          <td class="text-center">(g)</td>
          <td class="text-center">(h)</td>
          <td class="text-center">(i)</td>
          <td class="text-center">(j)</td>
          <td class="text-center">(k)</td>
          <td class="text-center">(l)</td>
          <td class="text-center">(m)</td>
          <td class="text-center">(n)</td>
          <td class="text-center">(o)</td>
          <td class="text-center">(p)</td>
          <td class="text-center">(q)</td>
          <td class="text-center">(r)</td>
          <td class="text-center">(s)</td>
          <td class="text-center">(t)</td>
          <td class="text-center">(u)</td>
          <td class="text-center">(v)</td>
          <td class="text-center">(w)</td>
          <td class="text-center">(x)</td>
          <td class="text-center">(y)</td>
          <td class="text-center">(z)</td>
          <td class="text-center">(aa)</td>
          <td class="text-center">(ab)</td>
          <td class="text-center">(ac)</td>
          <td class="text-center">(ad)</td>
          <td class="text-center">(ae)</td>
          <td class="text-center">(af)</td>
          <td class="text-center">(ag)</td>
          <td class="text-center">(ah)</td>
          <td class="text-center">(ai)</td>
          <td class="text-center">(aj)</td>
          <td colspan="3" class="text-center">(ak)</td>
          <td class="text-center">(al)</td>
          <td class="text-center">(am)</td>
          <td class="text-center">(an)</td>
          <td class="text-center">(ao)</td>
          <td class="text-center">(ap)</td>
          <td class="text-center">(aq)</td>
          <td class="text-center">(ar)</td>
          <td class="text-center">(as)</td>
          <td class="text-center">(at)</td>
          <td class="text-center">(au)</td>
          <td class="text-center">(av)</td>
          <td class="text-center">(aw)</td>
          <td class="text-center">(ax)</td>
        </tr>
        <ng-container *ngFor="let data of matRegisterData; let a = index">
          <tr>
            <td class="text-center" rowspan="2">
              {{ data.admission_date | date: 'dd/MM/yyyy' }}
            </td>
            <td class="text-center">{{ data.admission_number }}</td>
            <td class="text-center" rowspan="2">{{ data.full_names }}</td>
            <td class="text-center">
              {{ data.date_of_birth | date: 'dd/MM/yyyy' }}
            </td>
            <td class="text-center" rowspan="2">{{ data.county_subcounty }}</td>
            <td class="text-center">{{ data.village_estate_landmark }}</td>
            <td class="text-center" rowspan="2">{{ data.marital_status }}</td>
            <td class="text-center" rowspan="2">{{ data.parity }}</td>
            <td class="text-center" rowspan="2">{{ data.gravidae }}</td>
            <td class="text-center" rowspan="2">{{ data.no_of_anc_visits }}</td>
            <td class="text-center" rowspan="2">{{ data.lmp }}</td>
            <td class="text-center" rowspan="2">
              {{ data.edd | date: 'dd/MM/yyyy' }}
            </td>
            <td class="text-center" rowspan="2">{{ data.diagnosis }}</td>
            <td class="text-center" rowspan="2">
              {{ data.duration_of_labour }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.date_of_delivery | date: 'dd/MM/yyyy' }}
            </td>
            <td class="text-center" rowspan="2">{{ data.time_of_delivery }}</td>
            <td class="text-center" rowspan="2">
              {{ data.gestation_at_birth }}
            </td>
            <td class="text-center" rowspan="2">{{ data.mode_of_delivery }}</td>
            <td class="text-center" rowspan="2">
              {{ data.no_of_babies_delivered }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.placenta_complete }}
            </td>
            <td class="text-center" rowspan="2">{{ data.uterotonic_given }}</td>
            <td class="text-center" rowspan="2">
              {{ data.vaginal_examination }}
            </td>
            <td class="text-center" rowspan="2">{{ data.blood_loss }}</td>
            <td class="text-center" rowspan="2">
              {{ data.mothers_status_after_delivery }}
            </td>
            <td class="text-center">{{ data.maternal_deaths_notified }}</td>
            <td class="text-center" rowspan="2">
              {{ data.delivery_complications }}
            </td>
            <td class="text-center" rowspan="2">{{ data.apgaar_score }}</td>
            <td class="text-center" rowspan="2">{{ data.birth_outcome }}</td>
            <td class="text-center" rowspan="2">{{ data.birth_weight }}</td>
            <td class="text-center" rowspan="2">{{ data.sex }}</td>
            <td class="text-center">{{ data.initiated_on_BF_less_1hr }}</td>
            <td class="text-center" rowspan="2">
              {{ data.teo_given_at_birth }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.chlorhexidine_applied_at_cord_stamp }}
            </td>
            <td class="text-center">{{ data.birth_with_deformity }}</td>
            <td class="text-center" rowspan="2">{{ data.given_vitamin_K }}</td>
            <td class="text-center">{{ data.vdrl_rpr }}</td>
            <td class="text-center" rowspan="2">
              {{ data.hiv_test_1_kit_name }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.hiv_test_2_kit_name }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.hiv_test_3_kit_name }}
            </td>
            <td class="text-center">{{ data.hiv_result_maternity }}</td>
            <td class="text-center" rowspan="2">{{ data.maternal_haart }}</td>
            <td class="text-center" rowspan="2">
              {{ data.infant_prophylaxis }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.partner_tested_for_hiv }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.couselled_on_infant_feeding }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.delivery_conducted_by }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.birth_notification_number }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.discharge_date | date: 'dd/MM/yyyy' }}
            </td>
            <td class="text-center" rowspan="2">
              {{ data.discharge_status_of_baby }}
            </td>
            <td class="text-center" rowspan="2">{{ data.referrals_from }}</td>
            <td class="text-center" rowspan="2">{{ data.referrals_to }}</td>
            <td class="text-center" rowspan="2">
              {{ data.reason_for_referral }}
            </td>
            <td class="text-center" rowspan="2">{{ data.comments }}</td>
          </tr>
          <tr>
            <td class="text-center">{{ data.NUPI }}</td>
            <td class="text-center">{{ data.age }}</td>
            <td class="text-center">{{ data.phone_number }}</td>
            <td class="text-center">{{ data.date_death_notified }}</td>
            <td class="text-center">{{ data.kangaroo_mother_care }}</td>
            <td class="text-center">{{ data.type_of_deformity }}</td>
            <td class="text-center">{{ data.vdrl_rpr_results }}</td>
            <td class="text-center">{{ data.hiv_test_type }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
