.badge-info {
  background-color: #3a87ad;
}

.input-group-btn > .btn {
  margin-left: 5px;
}

app-patient-search {
  display: block;
}

.alert {
  color: #999;
}

.alert .text-bold {
  color: #333;
}

.input-group-btn:last-child > .btn {
  border-radius: 3px;
}

.ladda-button {
  border-radius: 3px;
  padding: 3px 12px;
}
