.badge-info {
  background-color: #3a87ad;
}

.input-group-btn > .btn {
  margin-left: 5px;
}

.alert {
  color: #999;
}

.alert .text-bold {
  color: #333;
}

.input-group-btn:last-child > .btn {
  border-radius: 3px;
}

.ladda-button {
  border-radius: 3px;
  padding: 11px 16px 10px 16px;
}

.ladda-button[data-size=xs] .ladda-label {
  font-size: 18px !important;
}

.form-control:focus {
  border-color: #f1f1f1;
}


