<div [ngBusy]="{busy:[isBusy],message:'Loading...'}">

  <h4 class="component-title"><span class="icon-i-outpatient"></span>Current Visit </h4>
  <strong *ngIf="currentEnrollment" ><span>Patient enrolled in {{currentEnrollment.label}}  </span><span *ngIf="currentEnrollment.openmrsModel.location">{{ (' at ' + currentEnrollment.openmrsModel.location.display ) }}</span> <span>{{(' since ' + currentEnrollment.dateEnrolled)}}.</span>
    <span *ngIf="!currentEnrollment.openmrsModel.location" style="text-transform:none;"> Please associate this program with a clinic.</span></strong>
  <div *ngFor="let error of errors" class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error.message}}
  </div>
  <div *ngIf="!visit && patient">
    <h4><span class="fa  fa-info"></span> Select location, then select visit type to start:</h4>
    <div class="box-body forms-list">
      <app-visit-starter [patientUuid]="patient.uuid" [programEnrollmentUuid]="currentProgramEnrollmentUuid" [programUuid]="programUuid"
        (visitStarted)="onVisitStartedOrChanged($event)"></app-visit-starter>
    </div>
  </div>
  <app-visit-details *ngIf="visit && patient" [visit]="visit" (encounterSelected)="onEncounterSelected($event)" [programVisitTypesConfig]="currentProgramConfig"
    (formSelected)="onFormSelected($event)" (visitCancelled)="onVisitStartedOrChanged($event)"></app-visit-details>
  <div *ngIf="visit">
    <div class="visit-panel-heading">
      <div class="locationdetails">
        <visit-period [visitUuid]="visit.uuid" (editedLocation)="locationChanges($event)" [iseditLocation]="iseditLocation"></visit-period>
      </div>


    </div>
    <div class="button-nav">
      <div class="add-borders ">
        <div class="btn-group blocks">
          <a *ngIf="!iseditLocation" (click)="editLocation()">
            <i class="glyphicon glyphicon-edit"></i> Edit Visit Location</a>

          <a *ngIf="iseditLocation" class="cancel-edit" (click)="editLocation()">
            <i class="glyphicon glyphicon-remove"></i> Cancel Edit
          </a>

          <a id="endVisitButton" (click)="endVisit()">
            <i class="glyphicon glyphicon-check"></i> End Visit</a>

          <a id="cancelVisitButton" (click)="cancelVisit()">
            <i class="glyphicon glyphicon-remove"></i> Cancel Visit</a>

        </div>


      </div>

    </div>
    <div class="list-group-item">
      <h4 class="component-title">Visit Encounters</h4>
      <div class="visit-panel-body">
        <encounter-list *ngIf="!visitWithNoEncounters" [encounters]="visit.encounters" (onEncounterSelected)="encounterSelected($event)"></encounter-list>
        <div *ngIf="visitWithNoEncounters" class="alert">
          Patient yet to see provider
        </div>
      </div>
    </div>
    <span style="padding:10px;"></span>

    <div class="list-group-item">
      <div>
        <form-list [excludedForms]="excludedForms" (onFormSelected)="formSelected($event)"></form-list>
      </div>
    </div>
  </div>
  <form-visit-type-search></form-visit-type-search>
</div>
