<h4 class="component-title" style="color: green;"><span class="icon-i-pathology"></span> Lab Orders</h4>
<div style="margin-bottom:0.5cm;">

  <div class="input-group">
      <span class="input-group-btn">
         <button class="btn btn-info previous" (click)="navigateDay(-1)"><span
           class="glyphicon glyphicon-chevron-left"></span>Previous Day
      </button>
      </span>
    <input [(ngModel)]="selectedDate" class="form-control" type="date" (ngModelChange)="dateChanged($event)"/>
    <span class="input-group-btn">
          <button class="btn btn-info next" (click)="navigateDay(1)">Next Day <span
            class="glyphicon glyphicon-chevron-right"></span></button>
      </span>
  </div>

</div>
<div *ngFor="let error of errors" class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  {{error.message}}
</div>

<div>
  <div>
    <ag-grid-angular #agGrid style="width: 100%; height: 350px;" class="ag-blue"
                     [gridOptions]="gridOptions"
                     (rowClicked)='onRowClicked($event)'
                     [rowData]="results"
                     enableSorting
                     enableFilter>

    </ag-grid-angular>
  </div>

</div>

