@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/primeng/resources/primeng.css";
@import "../../node_modules/primeng/resources/themes/bootstrap/theme.css";
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import "../../node_modules/font-awesome/css/font-awesome.css";
@import "../../node_modules/webfont-medical-icons2/packages/webfont-medical-icons/wfmi-style.css";
@import "../../node_modules/angular2-busy/build/style/busy.css";
@import "../assets/css/AdminLTE.css";
@import "skin-black-light.css";
@import "../../node_modules/ladda/dist/ladda.min.css";
@import '../../node_modules/toastr-ng2/toastr.css';
@import '../../node_modules/angular-calendar/dist/css/angular-calendar.css';
@import '../../node_modules/ag-grid/dist/styles/ag-grid.css';
@import '../../node_modules/ag-grid/dist/styles/theme-fresh.css';
@import '../../node_modules/ag-grid/dist/styles/theme-blue.css';

body {
  background: #f9fafc;
  font-size: 16px;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}

md-ink-bar {
    background-color: #337AB7;
}
