<style>
  ng-select > div > div.multiple {
    max-height: 100px;
    overflow: scroll;
  }
</style>
<div class="location-filter suggest-container form-group" *ngIf="counties">
  <div [ngClass]="{ 'col-md-6 col-sm-12 col-xs-12': !disableCounty }">
    <label *ngIf="showLabel" for="location-filter">Location</label>
    <div
      class="input-group"
      [ngClass]="{
        'show-reset': selectedLocations && selectedLocations.length > 0,
        'hide-reset': !selectedLocations || selectedLocations.length == 0
      }"
    >
      <div class="input-group-addon">
        <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
        <span *ngIf="!loading" class="glyphicon glyphicon-map-marker"></span>
        <sup *ngIf="selectedLocations && multiple"
          ><span style="font-size: 12px; font-weight: bold; color: #428bca">{{
            selectedLocations?.length
          }}</span></sup
        >
      </div>
      <ng-select
        class="sharp-corners"
        [multiple]="multiple"
        id="location-filter"
        (change)="onLocationSelected($event)"
        [placeholder]="'Select a location...'"
        [(ngModel)]="selectedLocations"
        [items]="locationDropdownOptions"
      >
      </ng-select>
      <div class="input-group-addon">
        <div>
          <span
            style="cursor: pointer"
            *ngIf="showReset"
            class="glyphicon glyphicon-trash"
          ></span>
          <span
            style="cursor: pointer"
            *ngIf="!showReset"
            class="glyphicon glyphicon-pushpin"
          ></span>
          <span
            style="cursor: pointer"
            *ngIf="allLocations && multiple"
            (click)="pickAllLocations()"
            >Select all</span
          >
          <span
            style="cursor: pointer"
            *ngIf="allFromCounty"
            (click)="pickAllLocations()"
            >Select all from this county</span
          >
          <span
            style="cursor: pointer"
            *ngIf="showReset"
            (click)="resetLocations()"
            >Select None</span
          >
        </div>
      </div>
    </div>
  </div>
  <div
    [ngClass]="{
      'hide hidden': disableCounty,
      'col-md-6 col-sm-12 col-xs-12': !disableCounty
    }"
  >
    <label>County</label>
    <select
      class="form-control"
      name="selectedCounty"
      [(ngModel)]="selectedCounty"
      (ngModelChange)="onCountyChanged($event)"
    >
      <option
        *ngFor="let county of countyDropdownOptions"
        [selected]="county === selectedCounty"
        [value]="county"
      >
        {{ county }}
      </option>
    </select>
  </div>
  <div class="clear"></div>
</div>
