<busy *ngIf="busy" [message]="'Please Wait.........'"></busy>
<div *ngIf="group">
  <h3 style="margin-bottom: 25px;"> <i class="fa fa-users"></i>
    <span class="text-bold"> Manage Groups \ {{group.name}}</span>
  </h3>

  <group-detail-summary [_group]="group" (updatedGroup)="onGroupDetailsChanged($event)"></group-detail-summary>
  <mat-card>
    <div class="row" style="margin-bottom: 15px;">
      <h4 class="col-md-5 col-sm-5">
        Group Members and Meetings
      </h4>
      <!-- <div class="col-md-3 col-sm-3 pull-right">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-sm btn-default"><i class="fa fa-filter"></i></button>
          <button type="button" [ngClass]="{'btn-primary': isFiltered, 'btn-default': !isFiltered }" class="btn btn-sm"
            (click)="filterCurrent()">Current</button>
          <button type="button" [ngClass]="{'btn-primary': !isFiltered, 'btn-default': isFiltered }" class="btn btn-sm"
            (click)="removeFilter()">All</button>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="pull-right">
        <div class="btn-group" role="group">
          <button type="button" (click)="showModal(editMembership)" class="btn btn-default">Edit Membership</button>
          <button type="button" (click)="showModal(startGroupVisitModal)" class="btn btn-default">Start Group Meeting</button>
        </div>
      </div>
    </div>
  </mat-card>
  <ag-grid-angular style="width: 100%; height: 450px;" class="ag-blue" [gridOptions]="gridOptions" #dataGrid [rowData]="membersData"
    [columnDefs]="columns" (cellClicked)='gridOnCellClick($event)'>
  </ag-grid-angular>
</div>



<ng-template #editMembership>

  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Membership</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <table class="table table-striped" *ngIf="group.cohortMembers">
      <thead>
        <tr>
          <th>Name</th>
          <th>Contacts</th>
          <th>From</th>
          <th>To</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of group.cohortMembers">
          <td>{{ member.patient.person.display }}</td>
          <td>-</td>
          <td>{{ member.startDate | date : medium }}</td>
          <td>{{ member.endDate | date : medium }}</td>
          <td *ngIf="!member.endDate">
            <button (click)="showDateModal(member, 'End Membership For ' + member.patient.person.display)" class="btn btn-sm btn-danger">
              End Membership
            </button>
          </td>
          <td *ngIf="member.endDate">
            -
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <div class="btn-group" role="group">
      <button type="button" (click)="showModal(editMembership)" *ngIf="!group.endDate" class="btn btn-default">Edit
        Membership</button>
    </div>

  </div>
</ng-template>


<ng-template #startGroupVisitModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Start Group Meeting</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Visit Type</label>
      <select type="text" class="form-control" name="visitType" [(ngModel)]="visitType">
        <option [value]=""></option>
        <option *ngFor="let item of visitTypes" [value]="item.uuid">{{item.display}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="start-date">{{label}}</label>
      <div class="input-group">
        <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="mydate"
          [(ngModel)]="groupVisitDate" [options]="endDateOptions" #dp="ngx-mydatepicker" required />

        <span class="input-group-btn">
          <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()"> Close </button>
    <button type="button" class="btn btn-primary" (click)="saveGroupVisit()"> Start Group Meeting </button>
  </div>
</ng-template>