<div>
  <div [ngBusy]="{busy:[fetchingResults, isBusy],message:'Loading orders...'}"></div>
  <div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="patientIdentifer">Patient Identifer</label>
          <select *ngIf="patient" class="form-control" [(ngModel)]="patientIdentifer"> 
            <option *ngFor="let c of patient.identifiers.openmrsModel" [ngValue]="c.identifier">{{c.identifierType.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="patientIdentifer">Collection Date</label>
          <date-time-picker tabindex="0" [modelValue]="collectionDate" [id]="'collectionDate'" (onDateChange)="collectionDateChanged($event)"></date-time-picker>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="patientIdentifer">Number of copies</label>
          <input type="text" class="form-control" [(ngModel)]="copies" />
        </div>
      </div>
    </div>
    <div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                <input type="checkbox" [(ngModel)]="allItemsSelected" (ngModelChange)="selectAll()">
              </th>
              <th>Order Date</th>
              <th>Order No</th>
              <th>Test Name</th>
              <th>Ordered By</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of labOrders | paginate: { itemsPerPage: 10, currentPage: page }; let i = index; ">
              <td>
                <input type="checkbox" [(ngModel)]="order.isChecked" (ngModelChange)="selectOrder()">
              </td>
              <td>
                {{order.dateActivated | date:'dd/MM/yyyy'}}
              </td>
              <td>
                {{order.orderNumber}}
              </td>
              <td>
                {{order.display}}
              </td>
              <td>
                {{order.orderer.display}}
              </td>
              <td>
                <button (click)="postOrderToEid(order)" class="btn default">
              <span class="fa fa-save" aria-hidden="true"></span>
              Post Order To EID
            </button>
                <button [attr.disable]="isPrinting" (click)="generateLabLabel(order)" class="btn">Print 
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
      </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button [attr.disable]="isPrinting" style="margin-bottom:10px;" (click)="generateLabLabels()" class="btn">Print Selected 
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
      </button>

      </div>
      <div>
        <pagination-controls (pageChange)="page = $event" style="cursor: pointer;"></pagination-controls>
      </div>

    </div>

    <p-dialog header="Post Lab Order" [(visible)]="displayDialog" minHieght="300" position="center" modal="true">
      <lab-order-search-post [order]="currentOrder" [reset]="currentOrder === null" (resetEvent)="handleResetEvent($event)"></lab-order-search-post>
    </p-dialog>
  </div>