<ng-container *ngIf="shrSpecimen">
  <table class="table table-striped">
    <thead>
      <th>Specimen</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>ID :</td>
        <td>{{ shrSpecimen?.id }}</td>
      </tr>
      <ng-container *ngIf="shrSpecimen.type && shrSpecimen.type.coding">
        <tr>
          <table class="table table-striped">
            <thead>
              <th>Type</th>
              <th></th>
            </thead>
            <tbody>
              <ng-container *ngFor="let code of shrSpecimen.type.coding">
                <tr>
                  <td>Display :</td>
                  <td>{{ code?.display }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </tr>
      </ng-container>
      <ng-container *ngIf="shrSpecimen?.collection">
        <tr>
          <td>CollectedDateTime :</td>
          <td>
            {{ shrSpecimen?.collection.collectedDateTime | date: 'medium' }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
