<h4 class="component-title text-success">
  <span class="fa fa-table"></span>{{ reportName }}
</h4>

<div class="loader" *ngIf="isLoading">
  <span><i class="fa fa-spinner fa-spin"></i>Loading...</span>
</div>

<p-tabView>
  <div>
    <p-tabPanel header="Monthly" leftIcon="fa-calendar-o">
      <report-filters
        [enabledControls]="enabledControls"
        [monthString]="_month"
        (onMonthChange)="onMonthChange($event)"
        [reportName]="reportName"
        (generateReport)="generateReport()"
      >
      </report-filters>
    </p-tabPanel>
  </div>
</p-tabView>

<div class="alert alert-danger fade in" *ngIf="showInfoMessage">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h4 *ngIf="!statusError">
    <strong><span class="glyphicon glyphicon-warning-sign"></span> </strong> An
    error occurred while trying to load the report. Please try again.
  </h4>
  <p>
    <small>{{ errorMessage }}</small>
  </p>
</div>
<div *ngIf="!isReleased" class="alert alert-warning">
  <strong>Viewing a Draft Version of the Report for the chosen month. </strong>
  This report is likely to change without warning.
</div>

<div class="alert alert-danger fade in" *ngIf="showInfoMessage">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h4 *ngIf="!statusError">
    <strong><span class="glyphicon glyphicon-warning-sign"></span> </strong> An
    error occurred while trying to load the report. Please try again.
  </h4>
  <p>
    <small>{{ errorMessage }}</small>
  </p>
</div>
<div *ngIf="!isReleased" class="alert alert-warning">
  <strong>Viewing a Draft Version of the Report for the chosen month. </strong>
  This report is likely to change without warning.
</div>

<div
  class="btn-group pull-left"
  *ngIf="prepRegisterData && prepRegisterData.length > 0"
>
  <button
    class="btn btn-primary"
    (click)="takeSnapshotAndExport()"
    [disabled]="prepRegisterData.length == 0"
  >
    <i class="fa fa-download"> </i> Download Pdf
  </button>
</div>
<br />
<div
  *ngIf="prepRegisterData && prepRegisterData.length > 0 && generated"
  style="padding: 20px; font-size: 12px !important"
  #prepcontentToSnapshot
>
  <div class="table-responsive">
    <div class="row">
      <div class="col-md-4">
        <b>Ministry Of Health</b>
      </div>
      <div class="col-md-4 text-center">
        <b>MOH 267 PrEP Daily Activity Register</b>
      </div>
      <div class="col-md-4 text-right">
        <b>Ver. July 2023</b>
      </div>
    </div>
    <table class="table table-bordered text-centre">
      <thead>
        <tr>
          <th rowspan="2" colspan="2">PrEP No</th>
          <th rowspan="2" colspan="2">Date of Visit</th>
          <th colspan="3" style="max-width: 120px">
            National Identification Number
          </th>
          <th rowspan="2" colspan="2">Age</th>
          <th rowspan="2" colspan="2">
            Sex <br />
            (M/F)
          </th>
          <th rowspan="2" colspan="3">
            Population type<br />
            (Use the codes): <br />
            1. General Population <br />
            2. Discordant Couple <br />
            3. MSM/MSW <br />
            4. FSW<br />
            5. PWID/PWUD<br />
            6. VP
          </th>
          <th rowspan="2" colspan="2">
            Client PrEP Status: <br />
            N- New <br />
            C- Continuing <br />
            D-Discontinued<br />
            R-Restart
          </th>
          <th rowspan="2" colspan="3">
            PrEP Method: <br />
            1. Daily oral PrEP <br />
            2. Event driven oral PrEP<br />
            3. Dapivirine Vaginal ring <br />
            4. Cabotegravir Injectable
          </th>
          <th rowspan="2" colspan="2">
            HIV Results <br />
            (N/P/Ic/NA)
          </th>
          <th rowspan="2" colspan="2">
            Diagnosed with <br />
            STI<br />
            (N/Y)
          </th>
          <th rowspan="2" colspan="4">Remarks</th>
        </tr>
        <tr>
          <th colspan="3" style="max-width: 120px">
            National Unique Patient Identifier (NUPI)
          </th>
        </tr>
        <tr>
          <th colspan="2" class="text-center">(a)</th>
          <th colspan="2" class="text-center">(b)</th>
          <th colspan="3" class="text-center">(c)</th>
          <th colspan="2" class="text-center">(d)</th>
          <th colspan="2" class="text-center">(e)</th>
          <th colspan="3" class="text-center">(f)</th>
          <th colspan="2" class="text-center">(g)</th>
          <th colspan="3" class="text-center">(h)</th>
          <th colspan="2" class="text-center">(i)</th>
          <th colspan="2" class="text-center">(j)</th>
          <th colspan="4" class="text-center">(k)</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of prepRegisterData; let i = index">
          <tr>
            <td colspan="2" rowspan="2">
              {{ data.PrEP_Number }}
            </td>
            <td colspan="2" rowspan="2">
              {{ transformDate(data.Date_Of_Visit) }}
            </td>
            <td colspan="3">{{ data.National_ID }}</td>
            <td colspan="2" rowspan="2">{{ data.Age }}</td>
            <td colspan="2" rowspan="2">{{ data.Sex }}</td>
            <td colspan="3" rowspan="2">
              {{ data.population_type }}
            </td>
            <td colspan="2" rowspan="2">
              {{ data.client_prep_status }}
            </td>
            <td colspan="3" rowspan="2">
              {{ data.prep_method }}
            </td>
            <td colspan="2" rowspan="2">
              {{ data.HIV_result }}
            </td>
            <td colspan="2" rowspan="2">
              {{ data.with_STI }}
            </td>
            <td colspan="4" rowspan="2" style="max-width: 200px">
              {{ data.remarks }}
            </td>
          </tr>
          <tr>
            <td colspan="3">{{ data.NUPI }}</td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="7"><b>TOTAL this Page</b></td>
          <td colspan="2" class="text-center">{{ prepRegisterData.length }}</td>
          <td colspan="2" class="text-center"></td>
          <td colspan="3" class="text-center"></td>
          <td colspan="2" class="text-center"></td>
          <td colspan="3" class="text-center"></td>
          <td colspan="2" class="text-center"></td>
          <td colspan="2" class="text-center"></td>
          <td colspan="4" class="text-center"></td>
        </tr>
        <tr>
          <td colspan="7"><b>TOTAL this Month</b></td>
          <td colspan="2" class="text-center">{{ prepRegisterData.length }}</td>
          <td colspan="2" class="text-center"></td>
          <td colspan="3" class="text-center"></td>
          <td colspan="2" class="text-center"></td>
          <td colspan="3" class="text-center"></td>
          <td colspan="2" class="text-center"></td>
          <td colspan="2" class="text-center"></td>
          <td colspan="4" class="text-center"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="prepRegisterData.length == 0 && generated">
  <i class="alert alert-danger" style="width: 100%">No record found</i>
</div>
