<div class="encounter-list">
    <div>
        <app-display-error [isVisible]="isVisible" [messageType]="messageType" [message]="message"></app-display-error>
    </div>
    <div [ngBusy]="{busy:encounters && encounters.length === 0 ,message:'Please Wait...'}"></div>
    <div class="scroll-x">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Encounter Date</th>
                    <th>Encounter Type</th>
                    <th>Form</th>
                    <th>Location</th>
                    <th>Provider</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr style="cursor: pointer;" *ngFor="let encounter of encounters| paginate: { itemsPerPage: 10, currentPage: page }; let i = index;">
                    <td>{{encounter.encounterDatetime | date: 'MMM dd, yyyy hh:mm a'}}</td>
                    <td>{{encounter.encounterType.display}}</td>
                    <td>{{encounter.form.name}}</td>
                    <td>{{encounter.location.display}}</td>
                    <td>{{encounter.provider.display}}</td>
                    <td>
                        <a (click)="editEncounter(encounter)">
                            <span class="glyphicon text-primary glyphicon-edit"></span>
                        </a>
                    </td>
                    <td>
                        <a type="button" (click)="showEncounterObservations(encounter)" data-target="#encounter_modal" data-toggle="modal">
                            <span class="glyphicon text-primary glyphicon-eye-open"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="page = $event" style="cursor: pointer;"></pagination-controls>
</div>