<p-dataTable [ngBusy]="busy" [value]="encounters"[rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true" [stacked]="stacked" >
    <header>Patient Encounters</header>
    <p-column field="EncounterDate" header="Encounter Date"></p-column>
    <p-column field="EncounterType" header="Encounter Type"></p-column>
    <p-column field="Form" header="Form"></p-column>
    <p-column field="Location" header="Location"></p-column>
    <p-column field="Provider" header="Provider"></p-column>
    <p-column field="Actions" header="Actions"></p-column>
</p-dataTable>
<!--
    <p>List of Encounters:</p>
    <ul>
       <li *ngFor="let encounter of encounters">
          {{ encounter }}
       </li>
    </ul>-->
