<div class="wrapper" *ngIf="onEncounterDetail">
  <h3>Observations</h3>
  <hr/>
  <ul class="obs-list">
    <li *ngFor="let _obs of obs" [ngSwitch]="_obs.has_children" class="obs_parent">
      <div *ngSwitchCase="false"><span class="obs_label">{{_obs.label}}</span> > <span
        class="obs_value">{{_obs.value}}</span></div>
      <div *ngSwitchCase="true">
        <span class="obs_parent_label">{{_obs.label}}</span>
        <ul *ngSwitchCase="true" class="obs_children">
          <li *ngFor="let _value of _obs.value"><span class="obs_label">{{_value.label}}</span> > <span
            class="obs_value">{{_value.value}} </span></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
