<h4 class="component-title text-success">
  <span class="fa fa-table"></span>{{ reportName }}
</h4>

<div class="loader" *ngIf="isLoading">
  <span><i class="fa fa-spinner fa-spin"></i>Loading...</span>
</div>

<p-tabView>
  <div>
    <p-tabPanel header="Monthly" leftIcon="fa-calendar-o">
      <report-filters
        [enabledControls]="enabledControls"
        (startDateChange)="onMonthChange($event)"
        [(startDate)]="startDate"
        [(endDate)]="endDate"
        [reportName]="reportName"
        (generateReport)="generateReport()"
      >
      </report-filters>
    </p-tabPanel>
  </div>
</p-tabView>

<div class="alert alert-danger fade in" *ngIf="showInfoMessage">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h4 *ngIf="!statusError">
    <strong><span class="glyphicon glyphicon-warning-sign"></span> </strong> An
    error occurred while trying to load the report. Please try again.
  </h4>
  <p>
    <small>{{ errorMessage }}</small>
  </p>
</div>

<div
  class="btn-group pull-left"
  *ngIf="careTreatmentRegisterData && careTreatmentRegisterData.length > 0"
>
  <button
    class="btn btn-primary"
    (click)="takeSnapshotAndExport()"
    [disabled]="careTreatmentRegisterData.length == 0"
  >
    <i class="fa fa-download"> </i> Download Pdf
  </button>
</div>
<br />
<div
  style="padding: 20px; font-size: 12px !important"
  #cntdarcontentToSnapshot
  *ngIf="careTreatmentRegisterData && careTreatmentRegisterData.length > 0"
>
  <div class="table-responsive">
    <div class="row">
      <div class="col-md-4">
        <b>Ministry Of Health</b>
      </div>
      <div class="col-md-4 text-center">
        <b>HIV Care Treatment Daily Activity Register MOH 366</b>
      </div>
      <div class="col-md-4 text-right">
        <b>Ver. July 2023</b>
      </div>
    </div>
    <table class="table table-bordered text-centre">
      <thead>
        <tr>
          <th rowspan="4">No</th>
          <th colspan="2" rowspan="4">Date</th>
          <th colspan="2" rowspan="4">AMRSID</th>
          <th colspan="3">National Identification Number</th>
          <th colspan="3" rowspan="4">Client CCC Number</th>
          <th rowspan="4">Age</th>
          <th colspan="14" class="text-centre">Starting ART</th>
          <th colspan="4" class="text-centre">
            TB in HIV Care <br />(Newly Initiated on ART)
          </th>
          <th colspan="14" class="text-centre">
            Currently on ART (Starting and Continuing ART)
          </th>
          <th colspan="4" class="text-centre">DSD</th>
          <th colspan="4" rowspan="4" class="text-centre">Remarks</th>
        </tr>
        <tr>
          <th colspan="3" rowspan="3">Client Unique Number (NUPI)</th>
          <th colspan="14" rowspan="2" class="text-centre">
            Tick as appropriate for age
          </th>
          <th colspan="2">Screened for TB</th>
          <th colspan="2">Started TPT</th>
          <th colspan="14" rowspan="2" class="text-centre">
            Indicate No. of months of till next appointment or <br />
            "R"for patients making unscheduled visits
          </th>
          <th colspan="2">Status</th>
          <th colspan="2">Type</th>
        </tr>
        <tr>
          <th colspan="4" class="text-centre">Indicate Y/N/NA</th>
          <th colspan="2" rowspan="2" class="text-center vertical-text">
            E=Established <br />
            NE=Not Established
          </th>
          <th colspan="2" rowspan="2" class="text-center">
            C<br />
            FT<br />
            HFAG<br />
            PFAG<br />
            HCAG<br />
            PCAG<br />
            CP<br />
            CADP<br />
            IACD
          </th>
        </tr>
        <tr>
          <th class="text-center vertical-text">< 1 yrs (M)</th>
          <th class="text-center vertical-text">< 1 yrs (F)</th>
          <th class="text-center vertical-text">1-4 yrs (M)</th>
          <th class="text-center vertical-text">1-4 yrs (F)</th>
          <th class="text-center vertical-text">5-9 yrs (M)</th>
          <th class="text-center vertical-text">5-9 yrs (F)</th>
          <th class="text-center vertical-text">10-14 yrs (M)</th>
          <th class="text-center vertical-text">10-14 yrs (F)</th>
          <th class="text-center vertical-text">15-19 yrs (M)</th>
          <th class="text-center vertical-text">15-19 yrs (F)</th>
          <th class="text-center vertical-text">20-24 yrs(M)</th>
          <th class="text-center vertical-text">20-24 yrs (F)</th>
          <th class="text-center vertical-text">25+ yrs (M)</th>
          <th class="text-center vertical-text">25+ yrs (F)</th>
          <th class="text-center vertical-text">< 15 yrs</th>
          <th class="text-center vertical-text">15+ yrs</th>
          <th class="text-center vertical-text">< 15 yrs</th>
          <th class="text-center vertical-text">15+ yrs</th>
          <th class="text-center vertical-text">< 1 yrs (M)</th>
          <th class="text-center vertical-text">< 1 yrs (F)</th>
          <th class="text-center vertical-text">1-4 yrs (M)</th>
          <th class="text-center vertical-text">1-4 yrs (F)</th>
          <th class="text-center vertical-text">5-9 yrs (M)</th>
          <th class="text-center vertical-text">5-9 yrs (F)</th>
          <th class="text-center vertical-text">10-14 yrs (M)</th>
          <th class="text-center vertical-text">10-14 yrs (F)</th>
          <th class="text-center vertical-text">15-19 yrs (M)</th>
          <th class="text-center vertical-text">15-19 yrs (F)</th>
          <th class="text-center vertical-text">20-24 yrs(M)</th>
          <th class="text-center vertical-text">20-24 yrs (F)</th>
          <th class="text-center vertical-text">25+ yrs (M)</th>
          <th class="text-center vertical-text">25+ yrs (F)</th>
        </tr>
        <tr>
          <th class="text-center">(a)</th>
          <th colspan="2" class="text-center">(b)</th>
          <th colspan="2" class="text-center">(c)</th>
          <th colspan="3" class="text-center">(d)</th>
          <th colspan="3" class="text-center">(e)</th>
          <th class="text-center">(f)</th>
          <th class="text-center">(g)</th>
          <th class="text-center">(h)</th>
          <th class="text-center">(i)</th>
          <th class="text-center">(j)</th>
          <th class="text-center">(k)</th>
          <th class="text-center">(l)</th>
          <th class="text-center">(m)</th>
          <th class="text-center">(n)</th>
          <th class="text-center">(o)</th>
          <th class="text-center">(q)</th>
          <th class="text-center">(r)</th>
          <th class="text-center">(s)</th>
          <th class="text-center">(t)</th>
          <th class="text-center">(u)</th>
          <th class="text-center">(v)</th>
          <th class="text-center">(w)</th>
          <th class="text-center">(x)</th>
          <th class="text-center">(y)</th>
          <th class="text-center">(z)</th>
          <th class="text-center">(aa)</th>
          <th class="text-center">(ab)</th>
          <th class="text-center">(ac)</th>
          <th class="text-center">(ad)</th>
          <th class="text-center">(ae)</th>
          <th class="text-center">(af)</th>
          <th class="text-center">(ag)</th>
          <th class="text-center">(ah)</th>
          <th class="text-center">(ai)</th>
          <th class="text-center">(aj)</th>
          <th class="text-center">(ak)</th>
          <th class="text-center">(al)</th>
          <th class="text-center">(am)</th>
          <th colspan="2" class="text-center">(an)</th>
          <th colspan="2" class="text-center">(ao)</th>
          <th colspan="4" class="text-center">(ap)</th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="let data of careTreatmentRegisterData; let a = index"
        >
          <tr>
            <td rowspan="2">{{ a + 1 }}</td>
            <td colspan="2" rowspan="2">
              {{ data.date | date: 'dd/MM/yyyy' }}
            </td>
            <td colspan="2" rowspan="2">
              {{ data.amrsID }}
            </td>
            <td colspan="3">{{ data.national_id_number }}</td>
            <td colspan="3" rowspan="2">
              {{ data.ccc_number?.replace('-', '') }}
            </td>
            <td rowspan="2">{{ data.age }}</td>
            <td rowspan="2">
              <ng-container *ngIf="data.age < 1 && data.gender == 'M'">
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age < 1 && data.gender == 'F'">
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 1 && data.age <= 4 && data.gender == 'M'"
              >
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 1 && data.age <= 4 && data.gender == 'F'"
              >
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 5 && data.age <= 9 && data.gender == 'M'"
              >
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 5 && data.age <= 9 && data.gender == 'F'"
              >
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 10 && data.age <= 14 && data.gender == 'M'"
              >
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 10 && data.age <= 14 && data.gender == 'F'"
              >
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 15 && data.age <= 19 && data.gender == 'M'"
              >
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 15 && data.age <= 19 && data.gender == 'F'"
              >
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 20 && data.age <= 24 && data.gender == 'M'"
              >
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 20 && data.age <= 24 && data.gender == 'F'"
              >
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age >= 25 && data.gender == 'M'">
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age >= 25 && data.gender == 'F'">
                {{ data.started_on_art === 'Y' ? '✓' : '' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age < 15">
                {{ data.started_on_art === 'Y' ? data.screened_for_tb : 'NA' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age >= 15">
                {{ data.started_on_art === 'Y' ? data.screened_for_tb : 'NA' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age < 15">
                {{ data.started_on_art === 'Y' ? data.started_on_tpt : 'NA' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age >= 15">
                {{ data.started_on_art === 'Y' ? data.started_on_tpt : 'NA' }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age < 1 && data.gender == 'M'">
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age < 1 && data.gender == 'F'">
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 1 && data.age <= 4 && data.gender == 'M'"
              >
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 1 && data.age <= 4 && data.gender == 'F'"
              >
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 5 && data.age <= 9 && data.gender == 'M'"
              >
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 5 && data.age <= 9 && data.gender == 'F'"
              >
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 10 && data.age <= 14 && data.gender == 'M'"
              >
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 10 && data.age <= 14 && data.gender == 'F'"
              >
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 15 && data.age <= 19 && data.gender == 'M'"
              >
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 15 && data.age <= 19 && data.gender == 'F'"
              >
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 20 && data.age <= 24 && data.gender == 'M'"
              >
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container
                *ngIf="data.age >= 20 && data.age <= 24 && data.gender == 'F'"
              >
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age >= 25 && data.gender == 'M'">
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td rowspan="2">
              <ng-container *ngIf="data.age >= 25 && data.gender == 'F'">
                {{
                  data.revisit
                    ? data.revisit
                    : data.current_on_art > 0
                    ? data.current_on_art
                    : 1
                }}
              </ng-container>
            </td>
            <td colspan="2" rowspan="2">{{ data.dsd_status }}</td>
            <td colspan="2" rowspan="2">{{ data.dsd_type }}</td>
            <td colspan="4" rowspan="2">{{ data.remarks }}</td>
          </tr>
          <tr>
            <td colspan="3">{{ data.NUPI }}</td>
          </tr>
        </ng-container>
        <ng-container>
          <tr>
            <td colspan="8" rowspan="2" style="font-weight: bold">
              Data element CODE
            </td>
            <td colspan="3" rowspan="2"></td>
            <td rowspan="2"></td>
            <td rowspan="2" class="vertical-text">HV03-O1</td>
            <td rowspan="2" class="vertical-text">HVO3-02</td>
            <td rowspan="2" class="vertical-text">HVO3-03</td>
            <td rowspan="2" class="vertical-text">HVO3-04</td>
            <td rowspan="2" class="vertical-text">HVO3-05</td>
            <td rowspan="2" class="vertical-text">HVO3-06</td>
            <td rowspan="2" class="vertical-text">HVO3-07</td>
            <td rowspan="2" class="vertical-text">HVO3-08</td>
            <td rowspan="2" class="vertical-text">HVO3-09</td>
            <td rowspan="2" class="vertical-text">HVO3-10</td>
            <td rowspan="2" class="vertical-text">HVO3-11</td>
            <td rowspan="2" class="vertical-text">HVO3-12</td>
            <td rowspan="2" class="vertical-text">HVO3-13</td>
            <td rowspan="2" class="vertical-text">HVO3-14</td>
            <td rowspan="2" class="vertical-text">HVO3-15</td>
            <td rowspan="2" class="vertical-text">HVO3-16</td>
            <td rowspan="2" class="vertical-text">HVO3-17</td>
            <td rowspan="2" class="vertical-text">HVO3-18</td>
            <td rowspan="2" class="vertical-text">HVO3-19</td>
            <td rowspan="2" class="vertical-text">HVO3-20</td>
            <td rowspan="2" class="vertical-text">HVO3-21</td>
            <td rowspan="2" class="vertical-text">HVO3-22</td>
            <td rowspan="2" class="vertical-text">HVO3-23</td>
            <td rowspan="2" class="vertical-text">HVO3-24</td>
            <td rowspan="2" class="vertical-text">HVO3-25</td>
            <td rowspan="2" class="vertical-text">HVO3-26</td>
            <td rowspan="2" class="vertical-text">HVO3-27</td>
            <td rowspan="2" class="vertical-text">HVO3-28</td>
            <td rowspan="2" class="vertical-text">HVO3-29</td>
            <td rowspan="2" class="vertical-text">HVO3-30</td>
            <td rowspan="2" class="vertical-text">HVO3-31</td>
            <td rowspan="2" class="vertical-text">HVO3-32</td>
            <td rowspan="2" colspan="2" class="vertical-text">HVO3-33</td>
            <td rowspan="2" colspan="2" class="vertical-text">HVO3-34</td>
            <td rowspan="2" colspan="4"></td>
          </tr>
          <tr></tr>
          <tr>
            <td colspan="8" style="font-weight: bold">TOTAL this Page</td>
            <td colspan="3">{{ careTreatmentRegisterData.length }}</td>
            <td></td>
            <td>
              {{ getLessThanOneTotals(careTreatmentRegisterData, 'M') }}
            </td>
            <td>
              {{ getLessThanOneTotals(careTreatmentRegisterData, 'F') }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 1, 4) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 1, 4) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 5, 9) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 5, 9) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 10, 14) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 10, 14) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 15, 19) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 15, 19) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 20, 24) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 20, 24) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 25) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 25) }}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              {{ currentOnArtLessOneTotals(careTreatmentRegisterData, 'M') }}
            </td>
            <td>
              {{ currentOnArtLessOneTotals(careTreatmentRegisterData, 'F') }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 1, 4) }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 1, 4) }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 5, 9) }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 5, 9) }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 10, 14)
              }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 10, 14)
              }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 15, 19)
              }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 15, 19)
              }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 20, 24)
              }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 20, 24)
              }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 25) }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 25) }}
            </td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td colspan="8" style="font-weight: bold">TOTAL this Month</td>
            <td colspan="3">{{ careTreatmentRegisterData.length }}</td>
            <td></td>
            <td>
              {{ getLessThanOneTotals(careTreatmentRegisterData, 'M') }}
            </td>
            <td>
              {{ getLessThanOneTotals(careTreatmentRegisterData, 'F') }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 1, 4) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 1, 4) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 5, 9) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 5, 9) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 10, 14) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 10, 14) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 15, 19) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 15, 19) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 20, 24) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 20, 24) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'M', 25) }}
            </td>
            <td>
              {{ getStartingARTTotals(careTreatmentRegisterData, 'F', 25) }}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              {{ currentOnArtLessOneTotals(careTreatmentRegisterData, 'M') }}
            </td>
            <td>
              {{ currentOnArtLessOneTotals(careTreatmentRegisterData, 'F') }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 1, 4) }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 1, 4) }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 5, 9) }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 5, 9) }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 10, 14)
              }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 10, 14)
              }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 15, 19)
              }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 15, 19)
              }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 20, 24)
              }}
            </td>
            <td>
              {{
                getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 20, 24)
              }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'M', 25) }}
            </td>
            <td>
              {{ getCurrentOnARTTotals(careTreatmentRegisterData, 'F', 25) }}
            </td>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td colspan="4"></td>
          </tr>
          <tr>
            <td colspan="8"></td>
            <td colspan="3"></td>
            <td>(e)</td>
            <td>(f)</td>
            <td>(g)</td>
            <td>(h)</td>
            <td>(i)</td>
            <td>(j)</td>
            <td>(k)</td>
            <td>(l)</td>
            <td>(m)</td>
            <td>(n)</td>
            <td>(o)</td>
            <td>(q)</td>
            <td>(r)</td>
            <td>(s)</td>
            <td>(t)</td>
            <td>(u)</td>
            <td>(v)</td>
            <td>(w)</td>
            <td>(x)</td>
            <td>(y)</td>
            <td>(z)</td>
            <td>(aa)</td>
            <td>(ab)</td>
            <td>(ac)</td>
            <td>(ad)</td>
            <td>(ae)</td>
            <td>(af)</td>
            <td>(ag)</td>
            <td>(ah)</td>
            <td>(ai)</td>
            <td>(aj)</td>
            <td>(ak)</td>
            <td>(al)</td>
            <td colspan="2">(am)</td>
            <td colspan="2">(an)</td>
            <td colspan="4">(ao)</td>
          </tr>
          <tr>
            <td rowspan="10" colspan="12" class="center">
              Summary of clinical visits
            </td>
            <td colspan="14" class="right">
              Count of clients with 2 months appointment
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="10" colspan="8"></td>
          </tr>
          <tr>
            <td colspan="14" class="bold right">Total this Month(2s)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              {{
                getAppointmentTotalsAgeLessThanOne(
                  careTreatmentRegisterData,
                  2,
                  'M'
                )
              }}
            </td>
            <td>
              {{
                getAppointmentTotalsAgeLessThanOne(
                  careTreatmentRegisterData,
                  2,
                  'F'
                )
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 2, 'M', 1, 4)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 2, 'F', 1, 4)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 2, 'M', 5, 9)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 2, 'F', 5, 9)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 2, 'M', 10, 14)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 2, 'F', 10, 14)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 2, 'M', 15, 19)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 2, 'F', 15, 19)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 2, 'M', 20, 24)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 2, 'F', 20, 24)
              }}
            </td>
            <td>
              {{ getAppointmentTotals(careTreatmentRegisterData, 2, 'M', 25) }}
            </td>
            <td>
              {{ getAppointmentTotals(careTreatmentRegisterData, 2, 'F', 25) }}
            </td>
          </tr>
          <tr>
            <td colspan="14" class="right">
              Count of clients with 3 months appointment
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="14" class="right bold">Total this Month (3s)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              {{
                getAppointmentTotalsAgeLessThanOne(
                  careTreatmentRegisterData,
                  3,
                  'M'
                )
              }}
            </td>
            <td>
              {{
                getAppointmentTotalsAgeLessThanOne(
                  careTreatmentRegisterData,
                  3,
                  'F'
                )
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 3, 'M', 1, 4)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 3, 'F', 1, 4)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 3, 'M', 5, 9)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 3, 'F', 5, 9)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 3, 'M', 10, 14)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 3, 'F', 10, 14)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 3, 'M', 15, 19)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 3, 'F', 15, 19)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 3, 'M', 20, 24)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 3, 'F', 20, 24)
              }}
            </td>
            <td>
              {{ getAppointmentTotals(careTreatmentRegisterData, 3, 'M', 25) }}
            </td>
            <td>
              {{ getAppointmentTotals(careTreatmentRegisterData, 3, 'F', 25) }}
            </td>
          </tr>
          <tr>
            <td colspan="14" class="right">
              Count of clients with 4 months appointment
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="14" class="right bold">Total this Month (4s)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              {{
                getAppointmentTotalsAgeLessThanOne(
                  careTreatmentRegisterData,
                  4,
                  'M'
                )
              }}
            </td>
            <td>
              {{
                getAppointmentTotalsAgeLessThanOne(
                  careTreatmentRegisterData,
                  4,
                  'F'
                )
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 4, 'M', 1, 4)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 4, 'F', 1, 4)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 4, 'M', 5, 9)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 4, 'F', 5, 9)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 4, 'M', 10, 14)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 4, 'F', 10, 14)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 4, 'M', 15, 19)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 4, 'F', 15, 19)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 4, 'M', 20, 24)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 4, 'F', 20, 24)
              }}
            </td>
            <td>
              {{ getAppointmentTotals(careTreatmentRegisterData, 4, 'M', 25) }}
            </td>
            <td>
              {{ getAppointmentTotals(careTreatmentRegisterData, 4, 'F', 25) }}
            </td>
          </tr>
          <tr>
            <td colspan="14" class="right">
              Count of clients with 5 mnths appointment
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="14" class="right bold">Total this Month (5s)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              {{
                getAppointmentTotalsAgeLessThanOne(
                  careTreatmentRegisterData,
                  5,
                  'M'
                )
              }}
            </td>
            <td>
              {{
                getAppointmentTotalsAgeLessThanOne(
                  careTreatmentRegisterData,
                  5,
                  'F'
                )
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 5, 'M', 1, 4)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 5, 'F', 1, 4)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 5, 'M', 5, 9)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 5, 'F', 5, 9)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 5, 'M', 10, 14)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 5, 'F', 10, 14)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 5, 'M', 15, 19)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 5, 'F', 15, 19)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 5, 'M', 20, 24)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 5, 'F', 20, 24)
              }}
            </td>
            <td>
              {{ getAppointmentTotals(careTreatmentRegisterData, 5, 'M', 25) }}
            </td>
            <td>
              {{ getAppointmentTotals(careTreatmentRegisterData, 5, 'F', 25) }}
            </td>
          </tr>
          <tr>
            <td colspan="14" class="right">
              Count of clients with 6 months appointment
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="14" class="bold right">Total this Month (6s)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              {{
                getAppointmentTotalsAgeLessThanOne(
                  careTreatmentRegisterData,
                  6,
                  'M'
                )
              }}
            </td>
            <td>
              {{
                getAppointmentTotalsAgeLessThanOne(
                  careTreatmentRegisterData,
                  6,
                  'F'
                )
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 6, 'M', 1, 4)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 6, 'F', 1, 4)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 6, 'M', 5, 9)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 6, 'F', 5, 9)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 6, 'M', 10, 14)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 6, 'F', 10, 14)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 6, 'M', 15, 19)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 6, 'F', 15, 19)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 6, 'M', 20, 24)
              }}
            </td>
            <td>
              {{
                getAppointmentTotals(careTreatmentRegisterData, 6, 'F', 20, 24)
              }}
            </td>
            <td>
              {{ getAppointmentTotals(careTreatmentRegisterData, 6, 'M', 25) }}
            </td>
            <td>
              {{ getAppointmentTotals(careTreatmentRegisterData, 6, 'F', 25) }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<div
  *ngIf="careTreatmentRegisterData.length == 0 && generated"
  class="text-center rounded"
>
  <i class="alert alert-info text-center" style="width: 100%"
    >No record found</i
  >
</div>
