#view-filters{
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
    margin-top: 10px;
    padding: 10px 10px;
}
#action-btn-section{

    padding: 10px 10px;

}


  .loader {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9;
    box-sizing: border-box;
    background-color: #fff;
    color: #fff;
    opacity: .8;
  }
  
  .loader .fa:before {
    margin-right: 12px;
    display: inline-block;
  }
  
  .loader span {
    padding: 12px;
    background-color: #0d6aad;
    border-radius: 6px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  }
  
  .fa-spin {
    width: 16px;
    margin-right: 8px;
  }
  .navigation-btn{
    margin-top: 10px;
  }