<div class="modal-backdrop" *ngIf="isVisible" (click)="onClose()"></div>

<div class="modal" [class.show]="isVisible" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Practitioner Details</h5>
        <button type="button" class="close" (click)="onClose()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="practitioner">
        <div class="row">
          <div class="col-md-6">
            <h5>Personal Information</h5>
            <table class="table table-bordered table-sm">
              <tr>
                <th width="30%">Full Name</th>
                <td>{{ practitioner.membership.full_name }}</td>
              </tr>
              <tr>
                <th>National ID</th>
                <td>{{ practitioner.identifiers.identification_number }}</td>
              </tr>
              <tr>
                <th>Registration ID</th>
                <td>{{ practitioner.membership.registration_id }}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>
                  <span
                    class="label"
                    [ngClass]="{
                      'label-success':
                        practitioner.membership.status === 'Licensed',
                      'label-warning':
                        practitioner.membership.status !== 'Licensed'
                    }"
                  >
                    {{ practitioner.membership.status }}
                  </span>
                </td>
              </tr>
              <tr>
                <th>Licensing Body</th>
                <td>{{ practitioner.membership.licensing_body }}</td>
              </tr>
            </table>
          </div>

          <div class="col-md-6">
            <h5>Contact Information</h5>
            <table class="table table-bordered table-sm">
              <tr>
                <th width="30%">Phone</th>
                <td>{{ practitioner.contacts.phone }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ practitioner.contacts.email || 'Not provided' }}</td>
              </tr>
              <tr>
                <th>Address</th>
                <td>{{ practitioner.contacts.postal_address }}</td>
              </tr>
            </table>
          </div>

          <div class="col-md-12 mt-3">
            <h5>Professional Details</h5>
            <table class="table table-bordered table-sm">
              <tr>
                <th width="20%">Professional Cadre</th>
                <td>
                  {{ practitioner.professional_details.professional_cadre }}
                </td>
              </tr>
              <tr>
                <th>Practice Type</th>
                <td>{{ practitioner.professional_details.practice_type }}</td>
              </tr>
              <tr>
                <th>Qualifications</th>
                <td>
                  {{
                    practitioner.professional_details.educational_qualifications
                  }}
                </td>
              </tr>
            </table>
          </div>

          <div class="col-md-12 mt-3">
            <h5>License Information</h5>
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <thead>
                  <tr>
                    <th>License Type</th>
                    <th>License ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Reference ID</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let license of practitioner.licenses">
                    <td>{{ license.license_type }}</td>
                    <td>{{ license.id }}</td>
                    <td>{{ license.license_start | date }}</td>
                    <td>{{ license.license_end | date }}</td>
                    <td>{{ license.external_reference_id }}</td>
                    <td>
                      <span
                        class="label"
                        [ngClass]="getLicenseStatus(license.license_end).class"
                      >
                        {{ getLicenseStatus(license.license_end).text }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
