.required {
  padding-right: 25px;
  color: red;
  background-position: right top;
}
.ttt {
  background-color: #d9edf7 !important;
}

.hie-data-layout {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: scroll;
}
