<ng-container *ngIf="shrServiceRequest">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table class="table table-striped">
      <thead>
        <th>Service Request </th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td><strong>ID: </strong></td>
          <td>{{ shrServiceRequest.id }}</td>
        </tr>
        <tr>
          <td><strong>Identifier: </strong></td>
          <td>
            <ng-container *ngFor="let identifier of shrServiceRequest.identifier">
                <app-shr-identifier [shrIdentifier]="identifier"></app-shr-identifier>
            </ng-container>
            
          </td>
        </tr>
        <tr>
          <td><strong>Based On: </strong></td>
          <td>
            <ng-container *ngFor="let basedOn of shrServiceRequest.basedOn">
              <tr>
                <td><strong>Type: </strong></td>
                <td>{{ basedOn.type }}</td>
              </tr>
              <tr>
                <td><strong>Identifier : </strong></td>
                <td>
                 <app-shr-identifier [shrIdentifier]="basedOn.identifier"></app-shr-identifier>
                </td>
              </tr>
                
            </ng-container>
            
          </td>
        </tr>
        <tr>
          <td><strong>Status: </strong></td>
          <td>{{ shrServiceRequest.status | titlecase }}</td>
        </tr>
        <tr>
          <td><strong>Intent: </strong></td>
          <td>{{ shrServiceRequest.intent | titlecase}}</td>
        </tr>
        <tr>
          <td><strong>Priority: </strong></td>
          <td>{{ shrServiceRequest.priority | titlecase }}</td>
        </tr>
        <ng-container *ngIf="shrServiceRequest.occurrencePeriod?.start">
          <tr>
            <td><strong>Occurrence Period: </strong></td>
            <td>
              <tr>
                <td><strong>Start: </strong>  </td>
                <td>{{ shrServiceRequest.occurrencePeriod?.start }}</td>
              </tr>
              <tr>
                <td><strong>End: </strong>  </td>
                <td>{{ shrServiceRequest.occurrencePeriod?.end }}</td>
              </tr>
            </td>
          </tr>
        </ng-container>
         <tr>
          <td><strong>Authored On: </strong></td>
          <td>{{ shrServiceRequest.authoredOn }}</td>
        </tr>
        <ng-container *ngIf="shrServiceRequest.category">
            <tr>
              <td><strong>Category: </strong></td>
              <td>
                <ng-container *ngFor="let cat of shrServiceRequest.category">
                <tr>
                  <table class="table">
                    <thead></thead>
                    <tbody>
                      <tr>
                        <td><strong>Text : </strong></td>
                        <td>{{ cat?.text }}</td>
                      </tr>
                      <ng-container *ngFor="let coding of cat.coding">
                           <tr>
                             <td><strong>Coding :</strong></td>
                             <app-shr-coding [shrCoding]="coding"></app-shr-coding>
                           </tr>
                      </ng-container>
                      
                    </tbody>
                  </table>
                </tr>
              </ng-container>
              </td>
            </tr>
        </ng-container>
         <ng-container *ngIf="shrServiceRequest.subject">
          <tr>
            <td><strong>Subject: </strong></td>
            <td>
              <tr>
                <td><strong>Reference: </strong></td>
                <td>{{ shrServiceRequest.subject.reference}}</td>
              </tr>
              <tr>
                <td><strong>Type: </strong></td>
                <td>{{ shrServiceRequest.subject.type}}</td>
              </tr>
               <tr>
                <td><strong>Identifier: </strong></td>
                <td>
                    <app-shr-identifier [shrIdentifier]="shrServiceRequest.subject.identifier"></app-shr-identifier>
                </td>
              </tr>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="shrServiceRequest.requester">
          <tr>
            <td><strong>Requester: </strong></td>
            <td>
              <tr>
                 <td><strong>Reference : </strong></td>
                 <td>{{ shrServiceRequest?.requester.reference }}</td>
              </tr>
              <tr>
                 <td><strong>Type : </strong></td>
                 <td>{{ shrServiceRequest?.requester.type }}</td>
              </tr>
              <tr>
                 <td><strong>Display : </strong></td>
                 <td>{{ shrServiceRequest?.requester.display }}</td>
              </tr>
               <tr>
                 <td><strong>Identifier : </strong></td>
                 <td>
                    <ng-container *ngIf="shrServiceRequest?.requester?.identifier">
                        <app-shr-identifier [shrIdentifier]="shrServiceRequest?.requester?.identifier"></app-shr-identifier>
                    </ng-container>
                 </td>
              </tr>
             
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="shrServiceRequest.performer">
          <tr>
             <td><strong> Performer: </strong></td>
             <td>
                <ng-container
                  *ngFor="
                    let performer of shrServiceRequest.performer;
                    let i = index
                  "
                >
                  <tr>
                    <td><strong> Reference: </strong></td>
                    <td>{{ performer.reference }}</td>
                  </tr>
                 <tr>
                    <td><strong> Type: </strong></td>
                    <td>{{ performer.type }}</td>
                  </tr>
                   <tr>
                    <td><strong> Display: </strong></td>
                    <td>{{ performer.display }}</td>
                  </tr>
                   <tr>
                    <td><strong> Identifier: </strong></td>
                    <td>
                        <app-shr-identifier [shrIdentifier]="performer.identifier"></app-shr-identifier>
                    </td>
                  </tr>
                </ng-container>
             </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="shrServiceRequest.reasonCode">
          <tr>
                <td><strong> Reason Code: </strong></td>
                <td>
                     <ng-container
                  *ngFor="let reasonCode of shrServiceRequest.reasonCode"
                >
                 <tr>
                    <td><strong>Text:  </strong></td>
                    <td>{{ reasonCode.text }}</td>
                 </tr>
                 <tr>
                      <td><strong>Coding: </strong></td>
                      <td>
                <ng-container *ngFor="let coding of reasonCode.coding">
                      <tr>
                      <td>
                         <app-shr-coding [shrCoding]="coding"></app-shr-coding>
                      </td>
                    </tr>
                </ng-container>
                 </td>
                </ng-container>
                </td>
         </tr>
        </ng-container>
         <ng-container *ngIf="shrServiceRequest.supportingInfo">
          <tr>
                <td><strong>Supporting Info: </strong></td>
                <td>
                     <ng-container
                  *ngFor="let si of shrServiceRequest.supportingInfo"
                >
                 <tr>
                    <td><strong>Reference:  </strong></td>
                    <td>{{ si.reference }}</td>
                 </tr>
                 <tr>
                      <td><strong>Identifier: </strong></td>
                      <td>
                <ng-container *ngIf="si.identifier">
                      <tr>
                      <td>
                          <app-shr-identifier [shrIdentifier]="si.identifier"></app-shr-identifier>
                      </td>
                    </tr>
                </ng-container>
                 </td>
                 </tr>
                 <tr>
                  <td><strong>Display: </strong></td>
                  <td>{{ si.display }}</td>
                 </tr>
                </ng-container>
                </td>
         </tr>
        </ng-container>
        <ng-container *ngIf="shrServiceRequest.note">
          <tr>
            <td><strong>Note: </strong></td>
            <td>
             <ng-container *ngFor="let note of shrServiceRequest.note">
                  <tr>
                    <td>{{ note?.text }}</td>
                  </tr>
                </ng-container>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="shrServiceRequest.encounter">
          <tr>
                <td><strong>Encounter: </strong> </td>
                <td>
                <tr>
                  <td><strong> Display: </strong></td>
                  <td>{{ shrServiceRequest.encounter?.display }}</td>
                </tr>
                <tr>
                  <td><strong> Reference: </strong></td>
                  <td>{{ shrServiceRequest.encounter.reference }}</td>
                </tr>
                </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="shrServiceRequest.contained">
          <ng-container *ngFor="let contained of shrServiceRequest.contained">
            <tr>
              <td><strong>Observation: </strong></td>
              <td>
              <ng-container *ngIf="contained.resourceType === 'Observation'">
                <app-shr-observation
                  [shrObservation]="contained"
                ></app-shr-observation>
              </ng-container>
              <ng-container *ngIf="contained.resourceType === 'Specimen'">
                <app-shr-specimen [shrSpecimen]="contained"></app-shr-specimen>
              </ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
