<div *ngIf="todaysVitals.length>0">
  <div *ngFor="let vital of todaysVitals">
    <ul class="list-group">
      <li class="list-group-item">
          <span *ngIf="vital.diastolic" [style.color]="(vital.systolic && (vital.systolic <= 80 || vital.systolic >= 140)) ? 'red':''">
  <strong class="text-primary">
    BP : </strong>{{vital.systolic && vital.systolic + "/"}}</span>
          <span [style.color]="(vital.diastolic && (vital.diastolic <= 50 || vital.diastolic >= 90)) ? 'red':''">
  {{vital.diastolic && vital.diastolic}} </span>|
          <span *ngIf="vital.pulse" [style.color]="(vital.pulse && vital.pulse >= 100)?'red':''">
                  <strong class="text-primary">
                    Pulse : </strong>{{vital.pulse}} </span>|
          <span *ngIf="vital.temperature" [style.color]="(vital.temperature && (vital.temperature <= 35.0 ||
                vital.temperature >= 38.0)) ? 'red':''"><strong class="text-primary">Temperature : </strong>{{vital.temperature}} </span>|
          <span *ngIf="vital.oxygenSaturation" [style.color]="(vital.oxygenSaturation && vital.oxygenSaturation <= 89)? 'red':''">
                  <strong class="text-primary">Oxygen Sat : </strong>{{vital.oxygenSaturation}} </span>|
          <span *ngIf="vital.height"><strong class="text-primary">Height : </strong>{{vital.height}} |</span>
          <span *ngIf="vital.weight"><strong class="text-primary">Weight : </strong>{{vital.weight}} |</span>
          <span [style.color]="(vital.bmi && (vital.bmi <= 18 || vital.bmi >= 30))? 'red':''" *ngIf="vital.bmi"><strong class="text-primary">BMI:Kg/M2 : </strong>{{vital.bmi}} </span>

      </li>
    </ul>
  </div>
</div>
<ul *ngIf="!todaysVitals" class="list-group">
  <li class="list-group-item">
    <span *ngIf="!dataLoaded && !loadingTodaysVitals">No vitals taken for the patient today</span>
    <div *ngIf="loadingTodaysVitals"><div class="fa fa-spinner fa-spin"></div> Loading today's vitals..</div>
    <div *ngFor="let error of errors" class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error.message}}
    </div>
  </li>
</ul>
