<div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Country : </strong> {{ country }}</td>
        <td><strong>County : </strong> {{ address1 }}</td>
        <td><strong>Subcounty : </strong>{{ address2 }}</td>
      </tr>
      <tr>
        <td><strong>Ward : </strong>{{ address7 }}</td>
        <td><strong>Estate/Nearest Center : </strong>{{ address3 }}</td>
        <td><strong>City/Village : </strong>{{ cityVillage }}</td>
      </tr>
      <tr>
        <td><strong>Latitude : </strong>{{ latitude }}</td>
        <td><strong>Longitude : </strong>{{ longitude }}</td>
      </tr>
    </tbody>
  </table>
</div>
