<div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
  <table class="table table-striped" *ngIf="patient">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td><strong>Phone Number : </strong>{{patientPhoneNumber}}</td>
         <td><strong>Alternative Phone Number : </strong>{{alternativePhoneNumber}}</td>
       </tr>
       <tr>
         <td><strong>Spouse Phone Number : </strong>{{patnerPhoneNumber}}</td>
         <td><strong>Next of Kin phone number : </strong>{{nextofkinPhoneNumber}}</td>
       </tr>
       <tr>
        <td><strong>Caregiver Name : </strong>{{careGivername}}</td>
        <td><strong>Relationship to Caregiver : </strong>{{relationshipToCareGiver}}</td>
        <td><strong>Caregiver Phone Number : </strong>{{careGiverPhoneNumber}}</td>
      </tr>
    </tbody>
  </table>
</div>
