<p-dialog
  header="Edit Address"
  [(visible)]="display"
  styleClass="edit-contacts-dialog"
>
  <div id="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
          <div
            id="successMsg"
            class="alert alert-success"
            *ngIf="showSuccessAlert"
            style="margin-top: 10px"
          >
            <strong>Done!</strong> {{ successAlert }}
          </div>
          <div
            class="alert alert-danger"
            *ngIf="showErrorAlert"
            style="margin-top: 10px"
          >
            <strong>{{ errorTitle }}</strong> {{ errorAlert }}
          </div>
        </div>
      </div>
      <div class="row">
        <form name="personForm">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label id="address1" for="address1" class="control-label"
                >County</label
              >
              <select
                id="address1"
                class="form-control"
                [ngModel]="address1"
                (ngModelChange)="setCounty($event)"
                name="address1"
              >
                <option
                  *ngFor="let county of counties"
                  [ngValue]="county.name"
                  [selected]="address1 === county.name"
                >
                  {{ county.name }}
                </option>
              </select>
              <!-- <input type="text" id="address1" class="form-control" [(ngModel)]="address1" name="address1"> -->
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label id="address2" for="address2" class="control-label"
                >Sub-county</label
              >
              <select
                id="address2"
                class="form-control"
                [ngModel]="address2"
                (ngModelChange)="setSubCounty($event)"
                name="address2"
              >
                <option
                  *ngFor="let subcounty of subcounties"
                  [ngValue]="subcounty.name"
                  [selected]="address2 === subcounty.name"
                >
                  {{ subcounty.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label id="address7" for="address7" class="control-label"
                >Ward</label
              >
              <select
                id="address7"
                class="form-control"
                [ngModel]="address7"
                (ngModelChange)="setWard($event)"
                name="address7"
              >
                <option
                  *ngFor="let ward of wards"
                  [ngValue]="ward"
                  [selected]="address7 === ward.name"
                >
                  {{ ward }}
                </option>
              </select>
              <!-- <input type="text" id="address7" class="form-control" [(ngModel)]="address7" name="address7"> -->
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label id="address3" for="address3" class="control-label"
                >Estate/Nearest Center</label
              >
              <input
                type="text"
                id="address3"
                class="form-control"
                [(ngModel)]="address3"
                name="address3"
              />
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label id="cityVillage" for="cityVillage" class="control-label"
                >City</label
              >
              <input
                type="text"
                id="cityVillage"
                class="form-control"
                [(ngModel)]="cityVillage"
                name="cityVillage"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
    style="padding-top: 15px"
  >
    <button
      id="saveBtn"
      class="btn btn-primary"
      type="button"
      (click)="updatePersonAddress()"
    >
      <span>Save</span>
    </button>
    <button
      id="cancelBtn"
      class="btn btn-danger pull-right"
      type="button"
      (click)="dismissDialog()"
    >
      <span>Cancel</span>
    </button>
  </div>
</p-dialog>
