<h4 class="component-title"><i class="fa fa-clipboard fa-fw"></i>Patient Information</h4>

<div class="row patient-info-row">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h5 class="info_section_title">Demographics</h5>

    <a (click)="demographics.showDialog()" class="edit_link"><span><i class="fa fa-edit fa-fw"></i> Edit</span></a>

  </div>
  <edit-demographics #demographics></edit-demographics>
  <patient-demographics></patient-demographics>
</div>
<hr class="intro-divider patient-info-divider" />
<div class="row patient-info-row">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h5 class="info_section_title">Contacts </h5>
    <a (click)="timer.showDialog()" class="edit_link"><span><i class="fa fa-edit fa-fw"></i> Edit</span></a>
  </div>
  <edit-contacts-info #timer></edit-contacts-info>
  <contacts-info></contacts-info>
</div>
<hr class="intro-divider patient-info-divider" />
<div class="row patient-info-row">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h5 class="info_section_title">Occupation</h5>
  </div>
    <app-occupation [patient]="patient"></app-occupation>
</div>
<hr class="intro-divider patient-info-divider" />
<div class="row patient-info-row">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h5 class="info_section_title">Highest Education Level</h5>
  </div>
    <patient-education [patient]="patient"></patient-education>
</div>
<hr class="intro-divider patient-info-divider" />
<div class="row patient-info-row">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h5 class="info_section_title">Phone Consent</h5>
  </div>
  <telecare-consent></telecare-consent>
</div>
<hr class="intro-divider" />
<div class="row patient-info-row">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h5 class="info_section_title">Address </h5>
    <a (click)="address.showDialog()" class="edit_link"><span><i class="fa fa-edit fa-fw"></i> Edit</span></a>
  </div>
  <address></address>
  <edit-address #address></edit-address>
</div>
<hr class="intro-divider patient-info-divider" />
<div class="row patient-info-row" id="identifiers">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h5 class="info_section_title">Identifiers</h5>
    <a (click)="identifiers.showDialog('add', patient?._identifier)" class="edit_link"><span><i class="fa fa-plus fa-fw"></i> Add</span></a>
  </div>
  <edit-identifiers #identifiers></edit-identifiers>
  <patient-identifier [identifiers]="patient?._identifier"></patient-identifier>
</div>
<hr class="intro-divider patient-info-divider" />
<div class="row patient-info-row" id="relationship">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h5 class="info_section_title">Relationships</h5>
  </div>
  <patient-relationships></patient-relationships>
</div>

<hr class="intro-divider patient-info-divider" />
<div class="row patient-info-row">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h5 class="info_section_title">Outreach Locator Map</h5>
  </div>
  <locator-map></locator-map>
</div>
