<div class="wrapper">
  <div class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" [ngModel]="filterTerm" (ngModelChange)="valuechange($event)"
               placeholder="Filter..."/>
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </div>
  </div>
  <h3 class="box-title">Select Form</h3>
  <hr/>
  <div class="box-body">
    <div class="list-group">
      <div class="list-group-item padding-sm" *ngFor="let form of forms | filterBy: {name:filterTerm}">
        <a class="favourite toggle" (click)="toggleFavourite($event,form)" *ngIf="form.favourite"
           class="btn btn-default btn-lg">
          <i class="fa fa-star"></i>
        </a>
        <a class="toggle" (click)="toggleFavourite($event,form)" *ngIf="!form.favourite" class="btn btn-default btn-lg">
          <i class="fa fa-star-o"></i>
        </a>
        <a class="formLink" (click)="formSelected($event,form)" [ladda]='isLoading(form)' data-spinner-color="black">
          {{form.name}} {{form.version}}
        </a>
        <div class="clear clear-fix"></div>
      </div>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
