#program-visit-encounter-filter{
    padding-bottom: 10px;
    padding-top: 10px;
}
#filter-btns {
    padding-top: 40px;
}
.filter-label{
    margin-right: 5px;
}
.select-all:hover{
    cursor: pointer;
}
.clear-all:hover{
    cursor: pointer;
}
#error_message_row{
    margin-top: 15px;
}


@media (max-width: 600px) {

  .filter-add-on{
      display: none;
  }
 
  
}