<h4 class="component-title text-success">
  <span class="fa fa-area-chart"></span>Index Testing Contact List
</h4>
<div class="container-fluid">
  <div class="row" id="family-testing-filters">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <h4 class="report-title">Report Filters</h4>
    </div>
    <div class="row row-separator">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="form-group row">
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <label for="elicitedStartDate">Date Elicited Start Date</label>
            <date-time-picker
              tabindex="0"
              [modelValue]="elicitedStartDate"
              [id]="'elicitedStartDate'"
              (onDateChange)="getSelectedElicitedStartDate($event)"
            ></date-time-picker>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <label for="elicitedEndDate"> Date Elicited End Date</label>
            <date-time-picker
              tabindex="0"
              [modelValue]="elicitedEndDate"
              [id]="'elicitedEndDate'"
              (onDateChange)="getSelectedElicitedEndDate($event)"
            ></date-time-picker>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <label for="isEligible">Eligible for Testing</label>
            <select
              style="height: 39px"
              class="form-control"
              [(ngModel)]="isEligible"
              id="isEligible"
              name="isEligible"
              (ngModelChange)="onIsEligibleChange($event)"
              required
            >
              <option *ngFor="let p of isEligibleOptions" [value]="p.value">
                {{ p.label }}
              </option>
            </select>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <label for="programSelect">Program</label>
            <angular2-multiselect
              #programSelect
              [data]="programs"
              [(ngModel)]="program"
              [settings]="programDropdownSettings"
              (onSelect)="selectProgram($event)"
              (onDeSelect)="DeSelectProgram($event)"
              (onSelectAll)="onSelectAllPrograms($event)"
              (onDeSelectAll)="onDeSelectAllPrograms($event)"
              name="program-filter"
            >
            </angular2-multiselect>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-separator" class="pull-right">
      <button
        type="button"
        class="btn btn-danger pull-right"
        style="margin-right: 50px"
        (click)="resetFilters()"
      >
        Reset Filters
      </button>
      <button
        [disabled]="disableGenerateButton"
        type="button"
        class="btn btn-success pull-right"
        style="margin-right: 50px"
        (click)="generateReport()"
      >
        Generate Report
      </button>
    </div>
  </div>
</div>

<div class="alert alert-danger fade in" *ngIf="showInfoMessage">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h4 *ngIf="!statusError">
    <strong><span class="glyphicon glyphicon-warning-sign"></span> </strong> An
    error occurred while trying to load the report. Please try again.
  </h4>
  <p>
    <small>{{ errorMessage }}</small>
  </p>
</div>

<div>
  <div class="loader" *ngIf="isLoading">
    <span><i class="fa fa-spinner fa-spin"></i>Loading...</span>
  </div>
  <family-testing-patient-list
    [patientData]="familyTestingPatientList"
    (patientSelected)="onPatientSelected($event)"
  >
  </family-testing-patient-list>
</div>
