.table > tbody > tr > td {
  border-top: none;
}
.table-condensed {
  margin-top: -20px;
}
hr {
  border-bottom: 1px solid #d2d6de;
}

.note-label-primary {
  text-align: right;
  font-style: oblique;
  font-weight: 700;
  font-size: 14px;
  color: #2b3856;
}

.note-label {
  text-align: right;
  color: #5379b7;
}

.table-striped,
.wrapper {
  border: 1px solid #ddd;
}

.btn {
  line-height: 1.45857;
}

.form-group,
.input-group {
  width: 100%;
}

.form-inline .input-group .input-group-btn {
  width: 1%;
}

.alert,
.btn.btn-info {
  margin-left: 8px;
  margin-right: 8px;
}

.wrapper {
  padding-bottom: 12px;
  padding-top: 12px;
}

.table-striped td {
  border-top: 1px solid #ddd !important;
}
.table-striped tr:first-child td {
  border-top: none !important;
}
.table-bordered > tbody > tr > td {
  border: 1px solid #ccd7ea !important;
}
