<div>
  <h4 class="component-title">
    <span class="icon-i-pathology"></span> Drug Orders
  </h4>
  <div class="row">
    <mat-tab-group
      mat-stretch-tabs
      class="example-stretched-tabs mat-elevation-z4"
    >
      <mat-tab label="Prescribe">
        <app-e-prescription></app-e-prescription>
      </mat-tab>
      <mat-tab label="Drug Order List">
        <app-drug-order-list></app-drug-order-list>
      </mat-tab>
      <mat-tab label="PDF View/Prin">
        <app-pdf-view></app-pdf-view>
      </mat-tab>
      <mat-tab label="Other Drugs Ordered">
        <app-drug-order-list></app-drug-order-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>