.hie-verify-dialog-layout {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: scroll;
  width: 100%;
  padding: 10px 10px;
  align-items: center;
  &__header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 10px;
    column-gap: 5px;
    &__title{
      display: flex;
      flex-direction: column;
      width: 85%;
    }
    &__action{
      display: flex;
      flex-direction: column;
      width: 10%;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    width: 95%;
  }
}
.data-mismatch {
  color: red;
}
