<h4 class="component-title">
  <span class="fa fa-medkit"></span> HIV Summary

  <span *ngIf="gbvScreeningResult" class="hiv-alert" style="background: orange"
    >{{ gbvScreeningLabel }}: {{ gbvScreeningResult }}</span
  >
</h4>
<div>
  <p-tabView>
    <p-tabPanel header="HIV Summary" *ngIf="!isHEIActive">
      <hiv-summary-latest
        *ngIf="patientUuid"
        [patientUuid]="patientUuid"
        [isHEIActive]="isHEIActive"
      ></hiv-summary-latest>
    </p-tabPanel>
    <p-tabPanel header="HEI Summary" *ngIf="isHEIActive">
      <hiv-summary-latest
        *ngIf="patientUuid"
        [patientUuid]="patientUuid"
        [isHEIActive]="isHEIActive"
      ></hiv-summary-latest>
    </p-tabPanel>
    <p-tabPanel header="Historical HIV Summary">
      <hiv-summary-historical></hiv-summary-historical>
    </p-tabPanel>
    <p-tabPanel header="Viral Load and Treatment Changes Tracker">
      <medication-change-history></medication-change-history>
    </p-tabPanel>
    <p-tabPanel header="HIV Clinical Summary">
      <hiv-patient-clinical-summaries></hiv-patient-clinical-summaries>
    </p-tabPanel>
    <p-tabPanel header="Previous Visit Summary">
      <previous-visit-details></previous-visit-details>
    </p-tabPanel>
    <p-tabPanel header="AHD Events">
      <medication-change-history></medication-change-history>
    </p-tabPanel>
  </p-tabView>
</div>
