<div [ngBusy]="{busy:[loadingHivSummary],message:'Please Wait...'}"></div>

<div *ngFor="let error of errors" class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error.message}}
</div>

<div>
  <ul class="list-group">
    <li class="list-group-item" style="font-size:large">Last Appt Date: {{hivSummary?.encounter_datetime | date:'dd-MM-yyyy'}} {{hivSummary?.encounter_type_name ? '(' + hivSummary?.encounter_type_name + ')' : '(None)' }}</li>
    <li class="list-group-item" style="font-size:large">RTC Date: {{hivSummary?.rtc_date | date:'dd-MM-yyyy'}}</li>
    <li class="list-group-item" style="font-size:large">Last Viral Load: {{hivSummary?.vl_1 | zeroVl }} ({{hivSummary?.vl_1_date ? (hivSummary?.vl_1_date | date:'dd-MM-yyyy') : 'None'}})
      <br/>
      <i style="font-size:smaller" class="text-muted" *ngIf="hivSummary?.isPendingViralLoad?.status"> There is a Pending Viral Load Test Ordered on:
        <span [ngClass]="hivSummary?.isPendingViralLoad.status === true && hivSummary?.isPendingViralLoad.days>30?'text-danger':''">
        {{hivSummary?.vl_order_date | date:'dd-MM-yyyy'}}
        </span>
      </i>
    </li>
    <li class="list-group-item" style="font-size:large">Last CD4 Count: {{hivSummary?.cd4_1}} ({{ hivSummary?.cd4_1_date ? (hivSummary?.cd4_1_date | date:'dd-MM-yyyy') : 'None'}})
      <br/>
      <i style="font-size:smaller" class="text-muted" *ngIf="hivSummary?.isPendingCD4?.status"> There is a Pending CD4 Count Test Ordered on:
      <span [ngClass]="hivSummary?.isPendingCD4.status === true && hivSummary?.isPendingCD4.days>30?'text-danger':''">
        {{hivSummary?.cd4_order_date | date:'dd-MM-yyyy'}}</span>
      </i>
    </li>
    <li class="list-group-item" style="font-size:large">Current ARV Regimen: {{hivSummary?.cur_arv_meds ? hivSummary?.cur_arv_meds: '(None)' }}</li>
    <li class="list-group-item" style="font-size:large">Current ARV Regimen Start Date: {{hivSummary?.arv_start_date | date:'dd-MM-yyyy'}}</li>
    <li class="list-group-item" style="font-size:large">Enrollment Date: {{hivSummary?.enrollment_date | date:'dd-MM-yyyy'}}</li>
    <li class="list-group-item" style="font-size:large">ARV Initiation Start Date: {{hivSummary?.arv_first_regimen_start_date | date:'dd-MM-yyyy'}}</li>
    <li class="list-group-item" style="font-size:large">INH Prophylaxis Start Date :{{hivSummary?.tb_prophylaxis_start_date | date:'dd-MM-yyyy'}}</li>
    <li class="list-group-item" style="font-size:large">Current WHO Stage: {{hivSummary?.cur_who_stage}}</li>
  </ul>
</div>
