<div [ngBusy]="{busy:[loadingHivSummary],message:'Please Wait...'}"></div>
<table class='table table-hover table-striped table-responsive'>
	<thead>
		<tr>
			<th>Encounter Date</th>
			<th>Encounter Type</th>
			<th>RTC Date</th>
			<th>ARV Meds</th>
			<th>CD4 Count</th>
			<th>Viral Load</th>
			<th>WHO Stage</th>
		</tr>
	</thead>
	<tr *ngFor="let hivSummary of hivSummaries" [ngClass]="{danger: (hivSummary.prev_rtc_date &&  hivSummary.encounter_datetime)
		&& (hivSummary.prev_rtc_date < hivSummary.encounter_datetime)}">
		<td>{{hivSummary.encounter_datetime | date:'dd-MM-yyyy'}}</td>
		<td>{{hivSummary.encounter_type_name}}</td>
		<td>{{hivSummary.rtc_date | date: 'dd-MM-yyyy'}}</td>
		<td>{{hivSummary.cur_arv_meds}}</td>
		<td>{{hivSummary.cd4_1}}
			<div>
				<small *ngIf="hivSummary.cd4_1Date" class="text-default">({{hivSummary.cd4_1_date  | date:'dd-MM-yyyy'}})</small>
			</div>
		</td>
		<td>{{hivSummary.vl_1 | zeroVl}}
			<div>
				<small *ngIf="hivSummary.vl_1Date" class="text-default">({{hivSummary.vl_1Date  | date:'dd-MM-yyyy'}})</small>
			</div>
		</td>
		<td>{{hivSummary.cur_who_stage}}</td>
	</tr>
</table>

<div *ngFor="let error of errors" class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error.message}}
</div>
<div *ngIf="!dataLoaded">
	<button [disabled]="isLoading" class="btn btn-primary" (click)="loadMoreHivSummary()">
        <span><i class="glyphicon glyphicon-refresh"></i>Load More</span>
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
    </button>
</div>

<div *ngIf='dataLoaded'>
	<p class="bg-info" style="padding:4px;">
		<b>
			<span style="color:green;" class="glyphicon glyphicon-ok">All records loaded {{'[ ' + hivSummaries.length + ' ]'}}</span></b>
		<p>
</div>
