<h4 class="component-title"><span class="fa fa-medkit"></span> HIV Summary</h4>
<div>
  <p-tabView>
    <p-tabPanel header="HIV Summary">
      <hiv-summary-latest></hiv-summary-latest>
    </p-tabPanel>
    <p-tabPanel header="Historical HIV Summary">
      <hiv-summary-historical></hiv-summary-historical>
    </p-tabPanel>
    <p-tabPanel header="Medication Change History">
      <medication-change-history></medication-change-history>
    </p-tabPanel>
    <p-tabPanel header="HIV Clinical Summary">
      <hiv-patient-clinical-summaries></hiv-patient-clinical-summaries>
    </p-tabPanel>
    <p-tabPanel header="Previous Visit Summary">
      <previous-visit-details></previous-visit-details>
      </p-tabPanel>
  </p-tabView>
</div>