    <div class="row">
      <div class="col-md-3 col-sm-12 col-lg-3" *ngIf="encounters">
        <ul class="list-group">
          <li class="list-group-item disabled"><b>Encounters</b></li>
          <li [class.active]="selectedEncounter.uuid === encounter.uuid" *ngFor="let encounter of encounters" class="list-group-item">
            {{encounter.encounterType.display}}
            <div class="pull-right">
            <span class="btn btn-default btn-sm" *ngIf="selectedEncounter.uuid !== encounter.uuid"
            (click)="displayEncounterObs(encounter)"> View </span>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="selectedEncounter.uuid" class="col-md-8 col-lg-8 col-sm-12" id="encounter">
          <pretty-encounter-viewer [encounter]="selectedEncounter"></pretty-encounter-viewer>
    </div>
     
    <div *ngIf="error" class="container text-center">
      {{errorMessage}}
    </div>
    <div *ngIf="showLoader" class="text-center">
      <button class="btn btn-primary" ><i class="fa fa-spinner fa-spin" style="color:#fff"></i> {{loaderText}}</button>
    </div>
  </div> 

