.chip {
    display: inline-block;
    padding: 0 25px;
    height: 35px;
    font-size: 10px;
    line-height: 35px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    margin-right:3px;
    margin-left: 3px;
    width:auto;
}
#results-row{
    margin-top: 15px;
}
#form-visit-row{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: #FFF;
}
.btn-back{
    color: #FFF !Important;
}
