
<div class="container app-settings " style="padding-top: 80px">

  <div class="content-body ">
    <div>
      <div ><img src="./assets/img/ampath.png" width="200" height="40"/></div>
      <h2><span class="glyphicon glyphicon-hdd"></span> POC Server Settings</h2>
      <hr />
    </div>

  <div>
    <div class="action-buttons">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-hdd"></span>
          Templates
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li *ngFor="let row of serverTemplates; let index = index">
            <a (click)="changeServerSettings(row)">{{row.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <form #openmrsServerUrl="ngForm">
      <div class="form-group">
        <label for="openmrsServerUrl">Current Openmrs Server URL:</label> {{ openmrsServer }}
        <select class="form-control" id="openmrsServerUrl"
               required
               [(ngModel)]="openmrsServer" name="openmrsServerUrl"
               #openmrsServerUrl="ngModel" >
          <option *ngFor="let url of openmrsServerUrls" [value]="url">{{url}}</option>
        </select>
      </div>
      <button type="button" class="btn btn-default"
        (click)="showNewUrlForm($event)" id="openmrsUrlBtn">
        Add New
      </button>
    </form>
  </div>

  <div>
    <form #etlServerUrl="ngForm">
      <div class="form-group">
        <label for="etlServerUrl">Current ETL URL:</label> {{ etlServer }}
        <select class="form-control" id="etlServerUrl"
               required
               [(ngModel)]="etlServer" name="etlServerUrl"
               #etlServerUrl="ngModel" >
          <option *ngFor="let url of etlServerUrls" [value]="url">{{url}}</option>
        </select>
      </div>

      <button type="button" class="btn btn-default"
        (click)="showNewUrlForm($event)" id="etlUrlBtn">
        Add New
      </button>
    </form>
  </div>

  <div class="action-buttons pull-right">
    <button class="btn btn-primary btn-large" type="submit" (click)="onDoneClick()">Done</button>
  </div>
  </div>
</div>
<!--<footer class="navbar-fixed-bottom main-footer">
  <div class="pull-left">
    <a routerLink="/app/settings" class="inline" id="server-settings" type="submit">
      <i class="fa fa-cog"></i>
    </a>
  </div>
  <div class="pull-right">
    <build-version class="inline"></build-version>
    <online-tracker class="inline"></online-tracker>
  </div>
</footer>-->


<modal #addUrlModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Type the new {{urlType}} URL</h4>
    </modal-header>
    <modal-body>
      <form (ngSubmit)="onSubmit()" #serverUrl="ngForm">
        <input type="text" placeholder="{{urlPlaceholder}}"
         class="form-control" [(ngModel)]="newUrl" name="newUrl"/>
      </form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
      <button type="button" class="btn btn-default" data-dismiss="addUrlModal" (click)="addUrlModal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="saveNewURL(newUrl, urlType)">Add</button>
    </modal-footer>
</modal>


