<div class="container app-settings" style="padding-top: 80px">
  <div class="content-body">
    <div>
      <div><img src="./assets/img/ampath.png" width="200" height="40" /></div>
      <h2><span class="glyphicon glyphicon-hdd"></span> POC Server Settings</h2>
      <hr />
    </div>

    <div>
      <div class="action-buttons">
        <div class="dropdown" dropdown>
          <button
            dropdownToggle
            class="btn btn-primary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            <span class="glyphicon glyphicon-hdd"></span>
            Templates
            <span class="caret"></span>
          </button>
          <ul
            *dropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdownMenu1"
          >
            <li *ngFor="let row of serverTemplates; let index = index">
              <a (click)="changeServerSettings(row)">{{ row.name }}</a>
            </li>
          </ul>
        </div>
      </div>

      <form #openmrsServerUrl="ngForm">
        <div class="form-group">
          <label for="openmrsServerUrl">Current Openmrs Server URL:</label>
          {{ openmrsServer }}
          <select
            class="form-control"
            id="openmrsServerUrl"
            required
            [(ngModel)]="openmrsServer"
            name="openmrsServerUrl"
            #openmrsServerUrl="ngModel"
          >
            <option *ngFor="let url of openmrsServerUrls" [value]="url">
              {{ url }}
            </option>
          </select>
        </div>
        <button
          type="button"
          class="btn btn-default"
          (click)="showNewUrlForm($event)"
          id="openmrsUrlBtn"
        >
          Add New
        </button>
      </form>
    </div>

    <div>
      <form #etlServerUrl="ngForm">
        <div class="form-group">
          <label for="etlServerUrl">Current ETL URL:</label> {{ etlServer }}
          <select
            class="form-control"
            id="etlServerUrl"
            required
            [(ngModel)]="etlServer"
            name="etlServerUrl"
            #etlServerUrl="ngModel"
          >
            <option *ngFor="let url of etlServerUrls" [value]="url">
              {{ url }}
            </option>
          </select>
        </div>

        <button
          type="button"
          class="btn btn-default"
          (click)="showNewUrlForm($event)"
          id="etlUrlBtn"
        >
          Add New
        </button>
      </form>
    </div>

    <div>
      <form #idGenUrl="ngForm">
        <div class="form-group">
          <label for="amrsIdGenServerUrl">ID Generator URL:</label>
          {{ amrsIdGenServer }}
          <select
            class="form-control"
            id="amrsIdGenServerUrl"
            required
            [(ngModel)]="amrsIdGenServer"
            name="amrsIdGenServerUrl"
            #idGenServerUrl="ngModel"
          >
            <option *ngFor="let url of amrsIdGenServerUrls" [value]="url">
              {{ url }}
            </option>
          </select>
        </div>

        <button
          type="button"
          class="btn btn-default"
          (click)="showNewUrlForm($event)"
          id="amrsIdGenUrlBtn"
        >
          Add New
        </button>
      </form>
    </div>

    <div>
      <div>
        <form>
          <div class="form-group">
            <label class="control-label">FormEntry Debug Mode </label>
            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  id="debugMode"
                  [(ngModel)]="hideFields"
                  name="hideFields"
                  (change)="toggleDebugMode()"
                />Display all fields
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="action-buttons pull-right">
      <button
        class="btn btn-primary btn-large"
        type="submit"
        (click)="onDoneClick()"
      >
        Done
      </button>
    </div>
  </div>
</div>
<!--<footer class="navbar-fixed-bottom main-footer">
  <div class="pull-left">
    <a routerLink="/app/settings" class="inline" id="server-settings" type="submit">
      <i class="fa fa-cog"></i>
    </a>
  </div>
  <div class="pull-right">
    <build-version class="inline"></build-version>
    <online-tracker class="inline"></online-tracker>
  </div>
</footer>-->
<div
  class="modal fade"
  bsModal
  #addUrlModal="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Type the new {{ urlType }} URL</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="addUrlModal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #serverUrl="ngForm">
          <input
            type="text"
            placeholder="{{ urlPlaceholder }}"
            class="form-control"
            [(ngModel)]="newUrl"
            name="newUrl"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="addUrlModal"
          (click)="addUrlModal.hide()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveNewURL(newUrl, urlType)"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>
