body {
  background-color: #f9fafc;
}
.app-settings form {
  margin-top: 30px;
  background-color: #fff;
}

.app-settings .dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;
}

.app-settings .dropdown-menu a {
  font-size: 15px !important;
  font-color: #000 !important;
}
.app-settings .content-body {
  background-color: #fff;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

footer .inline {
  display: inline-block;
  margin-right: 12px;
}
footer .inline p,
footer a.inline {
  margin: 0px;
  line-height: 32px;
}

.clear {
  clear: both;
}
.footer-logo {
  width: 120px;
}
.app-loader-logo,
.app-loader-logo-man {
  position: absolute;
  height: 70px;
  top: 0;
}

.app-loader-logo {
  z-index: 1;
  width: 320px;
}

.app-loader-logo img {
  max-width: 100%;
}

.app-loader-logo-man {
  width: 70px;
  background-color: #fff;
  z-index: 2;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
