<div class="box-body">
  <div class="component-wrapper">
    <busy [message]="'Loading patient dashboard...'" *ngIf="isLoading"></busy>
    <div class="animate-show">
      <h3 class="text-primary"><span class="glyphicon glyphicon-user"></span> User Default
        Properties</h3>
      <hr />
      <div class="suggest-container form-group">
        <label for="location">Search a Location</label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></div>
          <ng-select class="sharp-corners" placeholder="Please type to search" id="location" [(ngModel)]="location"
            [items]="locations" (change)="select($event)"></ng-select>
          <div *ngIf="isBusy" class="input-group-addon"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
        <div class="float pull-left">
          <p *ngIf="!currentLocation" class="form-text text-danger"><em>Please select location to continue</em></p>
          <p *ngIf="currentLocation" class="form-text text-bold">Your current location : <span class="current-location">{{currentLocation?.display}}</span></p>
        </div>
        <div class="float pull-right">
          <span class="text-bold" *ngIf="location && !confirming">New Location: {{location?.label}}</span>
        </div>
        <div class="clear clearfix">&nbsp;</div>
        <ul class="suggestions list-group">
          <li *ngFor="let item of filteredList; let i = index;" (click)="select(item)" class="list-group-item">
            {{item?.display}}
          </li>
        </ul>
        <div class="clear clearfix">&nbsp;</div>
      </div>
      <!-- Select department -->
      <div class="form-group" style="margin-top: -20px;">
        <label for="department">Which Patients Do You Want To See?</label><br />
        <mat-radio-group class="vertical-radio-group" [ngModel]="selectedDepartment" (ngModelChange)="selectDepartment($event)">
          <mat-radio-button class="vertical-radio-button" name="" *ngFor="let department of departments;"
            [value]="department.itemName" color="primary">
            {{ department?.itemName }} Patients
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="clear">&nbsp;</div>

    </div>
    <!--<retrospective-data-entry-settings></retrospective-data-entry-settings>-->
    <div style="margin-top: -15px;">
      <button [disabled]="disable || !selectedDepartment" class="btn btn-info previous"
        (click)="goToPatientSearch()">Done
        <span class="glyphicon glyphicon-chevron-right"></span>
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
      </button>
    </div>
  </div>
</div>
