<div class="box-body">
  <div class="component-wrapper">
    <busy [message]="'Loading patient dashboard...'" *ngIf="isLoading"></busy>
    <div class="animate-show">
      <h3 class="text-primary"><span class="glyphicon glyphicon-user"></span> User Default
        Properties</h3>
      <hr/>
      <div class="suggest-container form-group">
        <label for="location">Search a Location</label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></div>
          <ng-select class="sharp-corners" placeholder="Please type to search" id="location" [(ngModel)]="location" [items]="locations" (change)="select($event)"></ng-select>
          <div *ngIf="isBusy" class="input-group-addon"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
        <div class="float pull-left">
          <p *ngIf="currentLocation" class="form-text text-bold">Your current location : <span
            class="current-location">{{currentLocation.display}}</span>
          </p>
        </div>
        <div class="float pull-right">
          <span class="text-bold" *ngIf="location && !confirming">New Location: {{location.label}}</span>
        </div>
        <div class="clear">&nbsp;</div>
        <ul class="suggestions list-group">
          <li *ngFor="let item of filteredList; let i = index;" (click)="select(item)" class="list-group-item">
            {{item.display}}
          </li>
        </ul>
        <div class="clear clearfix">&nbsp;</div>
      </div>
      <!-- Select department -->
      <div class="form-group">
        <label for="department">Select a Department</label>
        <select class="form-control" [(ngModel)]="selectedDepartment" (ngModelChange)="selectDepartment($event)">
            <option></option>
          <option *ngFor="let department of departments;" [ngValue]="department">{{ department.itemName }}</option>
        </select>
        <div class="float pull-left">
            <p *ngIf="selectedDepartment" class="form-text">Your current department : <span
              class="current-location form-text text-bold">{{ selectedDepartment.itemName }}</span>
            </p>
          </div>
      </div>
      <div class="clear">&nbsp;</div>

    </div>
    <!--<retrospective-data-entry-settings></retrospective-data-entry-settings>-->
    <div style="margin-top: 30px;">
      <button [disabled]="((!location || !currentLocation) && !selectedDepartment)" class="btn btn-info previous"
              (click)="goToPatientSearch()">Done
        <span class="glyphicon glyphicon-chevron-right"></span>
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
      </button>
    </div>
  </div>
</div>
