/*Global styles that just refuse to work in components*/
.slider {
  width: auto;
  margin: 30px;
}

.slick-prev:before,
.slick-next:before {
  color: #337ab7;
}

.slick-dots {
  bottom: -40px;
}

.slick-slide {
  outline: none;
}

/**
GENERAL
*/
.clear-fix {
  height: 1px !important;
}

patient-banner {
  display: block;
}

.alert {
  border-radius: 0px !important;
}

/**
PATIENT BANNER
*/

.banner-info.alert {
  margin-bottom: 0px;
}

.box {
  border-radius: 0px !important;
  border-top: 0 !important;
  box-shadow: none !important;
}

.box-header {
  padding-bottom: 0 !important;
}

.bg-aqua,
.callout.callout-info,
.label-info,
.modal-info .modal-body {
  background-color: #428bca !important;
}

/**
PATIENT INFO TAB
*/

body .ui-accordion .ui-accordion-header.ui-state-active {
  background-color: #428bca !important;
  border: 1px solid #428bca;
  border-bottom: 0;
}

body .ui-accordion .ui-accordion-header {
  margin-top: 3px !important;
}

body .ui-accordion .ui-accordion-header,
body a {
  color: #337ab7 !important;
}

body .ui-accordion .ui-accordion-header.ui-state-active a {
  border: 1px solid #428bca;
}

body .ui-accordion .ui-accordion-header.ui-state-active a,
body .ui-accordion .ui-accordion-header.ui-state-active span.fa,
.suggestions li:hover a,
.ui-select-choices li a {
  color: #ffffff !important;
}

body .ui-accordion .ui-accordion-content {
  margin-bottom: 12px;
}

body .ui-corner-all {
  border-radius: 0px !important;
}

body .ui-widget,
body .ui-widget .ui-widget {
  padding: 0px;
}

body .icon-menu-label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content-wrapper {
}

.content-wrapper dd,
user-default-properties .btn.btn-info {
  margin: 0 0 0 0;
}

.content-wrapper dd::after {
  content: '\A';
  white-space: pre-line;
}
.content-wrapper dd:last-of-type::after {
  content: '';
}
.content-wrapper dd,
dt {
  display: inline-block;
  width: 48%;
}
.content-wrapper dd,
dt,
.address {
  vertical-align: middle;
}
.content-wrapper dt {
  font-weight: bolder;
}
.content-wrapper dt::after {
  content: ': ';
}

.address {
  display: inline-block;
  white-space: pre;
}

.sharp-corners.ng-select.ng-select-single .ng-select-container {
  border-radius: 0;
  height: 34px;
  min-height: 34px;
}

pagination-controls,
pagination-controls ul {
  padding-left: 0;
}

pagination-controls li a,
pagination-controls li.current span {
  position: relative;
  padding: 9px 12px !important;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px !important;
  margin: 0 5px;
}

pagination-controls li.disabled {
  display: none !important;
}

pagination-controls li.current a,
pagination-controls li.current span,
pagination-controls li.current a:hover,
pagination-controls li.current span:hover,
pagination-controls li.current a:focus,
pagination-controls li.current span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

pagination-controls li.current {
  background: none !important;
}

pagination-controls li.pagination-next a,
pagination-controls li.pagination-previous a {
  border-radius: 7px !important;
}

pagination-controls li:first-child a,
pagination-controls li:first-child span {
  margin-left: 0;
}

a.formLink {
  display: inline-block;
}

app-patient-search,
todays-vitals {
  display: block;
}

app-patient-search .wrapper {
  padding-bottom: 80px;
}

app-patient-search .ladda-button .ladda-label {
  font-size: 18px !important;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 0 !important;
}

.list-group-item a.formLink span.ladda-label {
  display: inline-block;
  z-index: 0;
}

mat-tab-group {
  display: block !important;
  overflow: visible;
}

.mat-tab-body-wrapper,
.mat-tab-body-wrapper {
  overflow: visible !important;
}

mat-tab-body {
  display: block;
  overflow: visible;
}

mat-tab-body > div.mat-tab-body-content,
mat-tab-body > div.mat-tab-body-content {
  transform: initial !important;
  overflow: visible;
}

mat-tab-body > div.mat-tab-body-content > div,
mat-tab-body > div.mat-tab-body-content > div {
  padding-bottom: 40px;
}

mat-tab-body.mat-tab-body-active,
mat-tab-body.mat-tab-body-active {
  display: initial !important;
  overflow: visible !important;
}

.mat-tab-header,
.mat-tab-header {
  margin-right: 36px !important;
}

.dropdown-tabs {
  position: absolute !important;
  right: 0;
  top: 4px;
}

form-renderer {
  display: block;
  position: relative;
}

.ui-dialog .component-title {
  margin-top: 0;
}

.dropdown-tabs a.dropdown-toggle {
  display: block;
  width: 35px;
  padding: 0;
  float: right;
  font-size: 32px;
  background-color: rgba(209, 196, 233, 0.3);
  text-align: center;
  height: 45px;
  padding: 0 !important;
}

.dropdown-tabs a.dropdown-toggle i {
  display: block;
  width: 100%;
  line-height: 45px;
  height: 100%;
}

.dropdown-tab li {
  padding: 5px 20px;
}

.open > .dropdown-menu {
  clear: both;
}

.modal-main {
  transform: translate(0, 0) !important;
  left: 0 !important;
}

time-picker .modal-main {
  left: auto !important;
  right: 0 !important;
}

.picker-wrap {
  width: 100% !important;
}

.login section .banner .logo-area {
  height: 70px;
  width: 270px;
  margin: 0 auto;
  background: url('img/logo.svg') no-repeat center center;
  background-size: contain;
}

date-time-picker {
  position: relative;
  display: block;
}

.wrapper {
  overflow: visible !important;
}

body p,
body app-formentry label,
body app-formentry .panel-heading {
  font-size: 18px !important;
}

body app-formentry {
  font-size: 16px !important;
}

.mat-tab-label,
.mat-tab-label {
  font-weight: 700 !important;
}

app-formentry p-dialog a.ui-dialog-titlebar-close {
  display: none !important;
}

.login input {
  font-size: 1.5em !important;
  height: auto !important;
}

.picker-month,
.picker-year {
  height: auto !important;
  line-height: normal !important;
  padding: 10px;
}

.picker-header-content span.month:hover,
.picker-header-content span.year:hover {
  cursor: pointer;
}

.selected-list .c-list {
  overflow: auto !important;
  white-space: nowrap !important;
  margin-right: 15px !important;
}
.c-list::-webkit-scrollbar {
  display: none !important;
}

.selected-list .c-list .c-token {
  float: none !important;
  display: inline-block !important;
}

.cdk-overlay-container {
  z-index: 1005;
}
.ng-select.sharp-corners .ng-select-container {
  border-radius: 0;
}

.ng-select.sharp-corners.ng-select-single .ng-select-container {
  height: 34px;
}

.form-entry ng-select > div > div.multiple {
  overflow-x: hidden;
}
.form-entry ng-select {
  overflow-x: visible !important;
}

program-manager-container {
  font-style: normal;
  font-stretch: normal;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f5f5f5;
}

program-manager-container .mat-tab-links a {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6) !important;
  opacity: 1;
}

program-manager-container .mat-tab-links a.mat-tab-link.active {
  color: #425da2 !important;
  border-bottom: 2px solid #425da2;
}

program-manager-container .component-toolbar {
  line-height: 62px;
  font-size: 16px;
}

program-manager-container .component-toolbar .tool-bar {
  margin-left: 15px;
}

program-manager-container .chip-buttons button {
  border-radius: 16px;
  line-height: 30px;
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.87);
  padding: 0 12px;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.12);
}

program-manager-container table {
  width: 100%;
  margin-bottom: 40px;
}

program-manager-container table thead th {
  line-height: 24px;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.94);
  background-color: #9b9b9b;
}

program-manager-container .pad-20 {
  padding: 20px;
}

program-manager-container .step-name h2 {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.6);
}

program-manager-container .step-name h2 i {
  font-size: 18px;
  font-weight: normal;
  padding-right: 4px;
}

program-manager-container .checkbox-container {
  display: block;
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

program-manager-container .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

program-manager-container .checkbox-container .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 100%;
}

program-manager-container .checkbox-container .program-info {
  margin-left: 18px;
  padding-left: 18px;
}

program-manager-container .checkbox-container .program-info dt,
program-manager-container .checkbox-container .program-info dd {
  width: 100%;
  display: block;
  padding: 0;
  white-space: normal;
}

program-manager-container .checkbox-container .program-info dt p {
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 0;
}

program-manager-container .checkbox-container .program-info dd p {
  font-size: 14px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.6);
}

program-manager-container .checkbox-container .program-info dt:after {
  content: none;
}

program-manager-container .checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

program-manager-container .checkbox-container input:checked ~ .checkmark {
  background-color: rgba(0, 0, 0, 0.54);
}

program-manager-container .checkbox-container .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

program-manager-container .checkbox-container input:checked ~ .checkmark:after {
  display: block;
  background-color: #425da2;
  border: 3px solid #fff;
}

program-manager-container .checkbox-container .checkmark:after {
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 100%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

program-manager-container .clear {
  display: block;
  height: 0;
}

#daily-schedule-row .mat-tab-links {
  display: inline-block;
}
#daily-schedule-row .mat-tab-links .mat-tab-link {
  min-width: 72px;
}
.dshExitFullScreenButton {
  display: none !important;
}
