/*Global styles that just refuse to work in components*/
.slider {
  width: auto;
  margin: 30px;
}

.slick-prev:before,
.slick-next:before {
  color: #337AB7;
}

.slick-dots {
  bottom: -40px;
}

.slick-slide {
  outline: none;
}

/**
GENERAL
*/
.clear-fix {
  height: 1px !important;
}

patient-banner {
  display: block;
}

.alert {
  border-radius: 0px !important;
}

/**
PATIENT BANNER
*/

.banner-info.alert {
  margin-bottom: 0px;
}

.box {
  border-radius: 0px !important;
  border-top: 0 !important;
  box-shadow: none !important;

}

.box-header {
  padding-bottom:0 !important;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
  background-color: #428bca !important;
}

/**
PATIENT INFO TAB
*/

body .ui-accordion .ui-accordion-header.ui-state-active {
  background-color: #428bca !important;
  border: 1px solid #428bca;
  border-bottom: 0;
}

body .ui-accordion .ui-accordion-header {
  margin-top:3px !important;
}

body .ui-accordion .ui-accordion-header, body a {
  color: #337ab7 !important;
}

body .ui-accordion .ui-accordion-header.ui-state-active a {
  border: 1px solid #428bca;
}

body .ui-accordion .ui-accordion-header.ui-state-active a,
body .ui-accordion .ui-accordion-header.ui-state-active span.fa,
.suggestions li:hover a ,
.ui-select-choices li a {
  color: #ffffff !important;
}

body .ui-accordion .ui-accordion-content {
  margin-bottom:12px;
}

body .ui-corner-all {
  border-radius: 0px !important;
}

body .ui-widget, body .ui-widget .ui-widget {
  padding:0px;
}

body .icon-menu-label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-wrapper {

}

.content-wrapper dd, user-default-properties .btn.btn-info {
  margin: 0 0 0 0;
}

.content-wrapper dd::after {
  content: '\A';
  white-space: pre-line;
}
.content-wrapper dd:last-of-type::after {
  content: '';
}
.content-wrapper dd, dt {
  display: inline-block;
  width: 48%
}
.content-wrapper dd, dt, .address {
  vertical-align: middle;
}
.content-wrapper dt {
  font-weight: bolder;
}
.content-wrapper dt::after {
  content: ': ';
}

.address {
  display: inline-block;
  white-space: pre;
}

.sharp-corners.ng-select.ng-select-single .ng-select-container {
  border-radius: 0;
  height: 34px;
  min-height: 34px;
}

pagination-controls, pagination-controls ul {
  padding-left: 0;
}

pagination-controls li a, pagination-controls li.current span{
  position: relative;
  padding: 9px 12px !important;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px !important;
  margin: 0 5px;
}

pagination-controls li.disabled {
  display: none !important;
}

pagination-controls li.current a,
pagination-controls li.current span,
pagination-controls li.current a:hover,
pagination-controls li.current span:hover,
pagination-controls li.current a:focus,
pagination-controls li.current span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

pagination-controls li.current {
  background: none !important;
}

pagination-controls li.pagination-next a, pagination-controls li.pagination-previous a {
  border-radius:7px !important;
}

pagination-controls li:first-child a,
pagination-controls li:first-child span {
  margin-left: 0;
}

a.formLink {
  display: inline-block;
}

app-patient-search, todays-vitals {
  display: block;
}

app-patient-search .wrapper {
  padding-bottom: 80px;
}

app-patient-search .ladda-button .ladda-label {
  font-size: 18px !important;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  z-index: 0 !important;
}

.list-group-item a.formLink span.ladda-label {
  display: inline-block;
  z-index: 0;
}

md-tab-group {
  display: block !important;
  overflow: visible;
}

.mat-tab-body-wrapper, .md-tab-body-wrapper {
  overflow: visible !important;
}

md-tab-body {
  display: block;
  overflow: visible;
}


md-tab-body > div.md-tab-body-content, md-tab-body > div.mat-tab-body-content {
  transform: initial !important;
  overflow: visible;
}

md-tab-body > div.md-tab-body-content > div, md-tab-body > div.mat-tab-body-content > div {
  padding-bottom: 40px;
}

md-tab-body.mat-tab-body-active, md-tab-body.md-tab-body-active {
  display: initial !important;
  overflow: visible !important;
}

.mat-tab-header, .md-tab-header {
  margin-right: 36px !important;
}

.dropdown-tabs {
  position: absolute !important;
  right: 0;
  top: 4px;
}

form-renderer {
  display: block;
  position: relative;

}

.ui-dialog .component-title {
  margin-top: 0;
}

.dropdown-tabs a.dropdown-toggle {
  display: block;
  width:35px;
  padding:0;
  float: right;
  font-size: 32px;
  background-color: rgba(209,196,233,.3);
  text-align: center;
  height:45px;
  padding:0 !important;
}

.dropdown-tabs a.dropdown-toggle i {
  display: block;
  width:100%;
  line-height: 45px;
  height: 100%;
}

.dropdown-tab li {
  padding: 5px 20px;
}

.open > .dropdown-menu {
  clear: both;
}

.modal-main {
  transform: translate(0,0) !important;
  left: 0 !important;
}

time-picker .modal-main {
  left: auto !important;
  right: 0 !important;
}

.picker-wrap {
  width: 100% !important;
}

.login section .banner .logo-area {
  height: 70px;
  width: 220px;
  margin: 0 auto;
  background: url('img/ampath.png') no-repeat center center;
  background-size: contain;
}

date-time-picker {
  position: relative;
  display: block;
}

.wrapper {
  overflow: visible !important;
}

body p, body app-formentry label, body app-formentry .panel-heading {
  font-size: 18px !important;
}

body app-formentry {
  font-size: 16px !important;
}

.mat-tab-label, .md-tab-label {
  font-weight: 700 !important;
}

app-formentry p-dialog a.ui-dialog-titlebar-close {
  display: none !important;
}

.login input {
  font-size : 1.5em !important;
  height: auto !important;
}

.picker-month, .picker-year {
  height: auto !important;
  line-height: normal !important;
  padding: 10px;
}

.picker-header-content span.month:hover, .picker-header-content span.year:hover {
  cursor: pointer;
}

.selected-list .c-list {
  overflow: auto !important;
  white-space: nowrap !important;
  margin-right: 15px !important;
}
.c-list::-webkit-scrollbar {
  display: none !important;
}

.selected-list .c-list .c-token {
  float: none !important;
  display: inline-block !important;
}

.cdk-overlay-container {
  z-index: 1005;
}
.ng-select.sharp-corners .ng-select-container {
  border-radius: 0;
}

.ng-select.sharp-corners.ng-select-single .ng-select-container {
  height: 34px;
}
