<h4 class="component-title" style="color: green;"><span class="fa fa-calendar"></span> Monthly Schedule</h4>
<div [ngBusy]="busy">
  <div>
    <span>Key:
  <span class="label label-success">Visits</span>
    <span class="label label-info">Appointments</span>
    <span class="label label-warning">Not returned</span>
    </span>
  </div>
  <div class="row">
    <div class="text-center">
      <h2 class="text-center"></h2> <span class="btn-group">
        <button  (click)='navigateToMonth()' class="btn btn-primary"  mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate">
          Previous Month
        </button>
        <button  (click)='navigateToMonth()' class="btn btn-default"  mwlCalendarToday
        [(viewDate)]="viewDate">
          This Month
        </button>
        <button *ngIf="fetchError"  class="btn btn-danger" (click)="getAppointments()">
          <span class="glyphicon glyphicon-refresh"></span>
      <span>Retry</span>
      </button>
      <button (click)='navigateToMonth()' class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
          Next Month
        </button>
      </span>
    </div>
    <div class="col-md-12 text-center">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
  </div>
  <template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>

    <p *ngFor="let event of day.events;" [ngStyle]="{'margin': '5px'}" (click)="navigateToDaily(event)" [ngClass]="event.class">{{event.title}}</p>

  </template>
  <mwl-calendar-month-view [activeDayIsOpen]="activeDayIsOpen" [cellTemplate]="customCellTemplate" (dayClicked)="dayClicked($event.day)"
    [viewDate]="viewDate" (eventClicked)="handleEvent('Clicked', $event.event)" [events]="events" [dayModifier]="addBadgeTotal">
  </mwl-calendar-month-view>
</div>
