<h4 class="component-title" style="color: green;"><span class="glyphicon glyphicon-equalizer"></span> {{title}} </h4>
<div class="loader" *ngIf="isLoadingReport"><span><i class="fa fa-spinner fa-spin">
      </i>Loading...</span></div>
<report-filters     [enabledControls]="enabledControls" 
                    [(startDate)]="startDate" 
                    [(endDate)]="endDate" 
                    [start]="ageRangeStart" 
                    [end]="ageRangeEnd"
                    (onAgeChangeFinish)="onAgeChangeFinished($event)"
                    (onGenderChange)="getSelectedGender($event)"
                    (onIndicatorChange)="getSelectedIndicators($event)"
                    (onselectedLocationChange) ="getLocations($event)"
                    [selectedIndicators]="selectedIndicators"
                    [selectedGender]="selectedGender"
                    [reportName]="reportName" [parentIsBusy]="isLoadingReport"
                    (generateReport)="generateReport()">

</report-filters>