@import "../../../node_modules/materialize-css/dist/css/materialize.min.css";

.login section.login-wrapper {
	margin-top: 60px;
	display: inline-block;
	width: 100%;
	padding: 0px 0px 0 0px;
}

.login section .login-container {
	width: 900px;
	margin: 0 auto;
}

.login section .content-body {
	padding: 50px 30px 30px 30px;
	background-color: #fff;
	border: 0 solid rgba(0, 0, 0, 0.12);
}

.login section .box {
	margin: 15px 0 15px 0;
	background-color: transparent;
	-webkit-box-shadow: 0 1px 3px transparent, 0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px transparent, 0 2px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 1px 3px transparent, 0 2px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px transparent, 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px transparent, 0 2px 2px rgba(0, 0, 0, 0.1);
	border: none !important;
}

.login section .box .banner {
	margin-top: 60px;
	margin-bottom: 70px;
}

.login section .box .banner .region {
	height: 40px;
	display: inline-block;
	line-height: 42px;
	font-size: 32px;
	margin-bottom: 25px;
	border: none;
	text-align: center;
	width: 100%;
	margin-top: 25px;
	margin-left: 0;
	padding-left: 0px;
}

.login section .box header {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	background-color: transparent;
	border: 0 solid rgba(0, 0, 0, 0.12);
	border-bottom: 0 solid #673ab7;
}

.login section .box header .title {
	display: inline-block;
	padding: 10px 18px 0 30px;
	margin: 0;
	font-family: 'Source Sans Pro',Arial,Helvetica,sans-serif;
	font-size: 17px;
	font-weight: 600;
	line-height: 30px;
	color: #6e6e6e;
	text-transform: uppercase;
	border: 0 solid rgba(0, 0, 0, 0.12);
	border-bottom: 0;
	position: relative;
	width: auto;
	height: 30px;
	background-color: #FFF;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

.login section .box header .title:after {
	position: absolute;
	top: 0;
	right: -12px;
	z-index: 1;
	display: block;
	width: 30px;
	height: 35px;
	background-color: #FFF;
	border-right: 0 solid rgba(0, 0, 0, 0.12);
	content: " ";
	-webkit-transform: skewX(30deg);
	-moz-transform: skewX(30deg);
	-ms-transform: skewX(30deg);
	-o-transform: skewX(30deg);
	transform: skewX(30deg);
	-webkit-box-shadow: 0 1px 3px transparent, 1px 0 0 rgba(100, 100, 100, 0.05);
	-moz-box-shadow: 0 1px 3px transparent, 1px 0 0 rgba(100, 100, 100, 0.05);
	-ms-box-shadow: 0 1px 3px transparent, 1px 0 0 rgba(100, 100, 100, 0.05);
	-o-box-shadow: 0 1px 3px transparent, 1px 0 0 rgba(100, 100, 100, 0.05);
	box-shadow: 0 1px 3px transparent, 1px 0 0 rgba(100, 100, 100, 0.05);
}

.login .error {
	color: #d9534f;
	font-size: 16px;
	padding: 15px;
}

.login .login-buttons {
	margin-top: 40px;
}

.clear {
	clear: both;
}

a.btn-primary, button.btn-primary, .btn-primary:hover  {
  background-color: #3c8dbc;
  color: #fff !important;
}

input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]) {
  border-bottom-color: #3c8dbc;
  box-shadow: 0 1px 0 0 #3c8dbc;
}

@media only screen and (max-width: 350px) {
	.login section .login-container {
		width: 300px !important;
	}
	.login section .box .banner .title {
		font-size: 20px;
		height: 25px;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.btn-large {
		padding-left: 5px;
    padding-right: 5px;
	}
}

@media only screen and (min-width: 351px) and (max-width: 500px) {
	.login section .login-container {
		width: 350px;
	}
	.login section .box .banner .title {
		font-size: 20px;
		height: 25px;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.login section .box .banner .logo-area {
		height: 100px;
		width: 200px;
	}
	.btn-large {
		padding-left: 5px;
    padding-right: 5px;
	}
}

@media (min-width: 501px) and (max-width: 767px) {
	.login section .login-container {
		width: 450px;
	}
	.login section .box .banner .title {
		font-size: 20px;
		height: 25px;
		margin-top: 0px;
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) {
	.login section .login-container {
		width: 400px;
	}
	.login section .box .banner .title {
		font-size: 25px;
	}

  .sidebar-mini.sidebar-collapse .main-footer{
    margin-left: 0 !important;
  }
}

@media (min-width: 992px) {
	.login section .login-container {
		width: 600px;
	}
}

@media (min-width: 1200px) {
	.login section .login-container {
		width: 900px;
	}
}
