@media
only screen and (max-width: 448px){

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; margin-bottom: 12px; }

  .table > tbody > tr > td {

    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .table > tbody > tr > td:before {

    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "Vitals Flag"; }
  td:nth-of-type(2):before { content: "Date"; }
  td:nth-of-type(3):before { content: "BP"; }
  td:nth-of-type(4):before { content: "Pulse"; }
  td:nth-of-type(5):before { content: "Temperature"; }
  td:nth-of-type(6):before { content: "Oxygen Sat"; }
  td:nth-of-type(7):before { content: "Height"; }
  td:nth-of-type(8):before { content: "Weight"; }
  td:nth-of-type(9):before { content: "BMI"; }


}
