<div>
<h4 class="component-title"><span class="fa fa-heartbeat"></span> Patient Vitals</h4>
<div >
  <div [ngBusy]="{busy:loadingVitals,message:'Please Wait...'}"></div>

  <table class='table table-hover table-striped table-responsive'>
  <thead>
  <tr>
    <th></th>
    <th>Date</th>
    <th>BP</th>
    <th>Pulse</th>
    <th>Temperature</th>
    <th>Oxygen Sat</th>
    <th>Height</th>
    <th>Weight</th>
    <th>BMI</th>
  </tr>
  </thead>
  <tr *ngFor="let vitals of vitals; let i = index; ">
    <td>
        <span class="glyphicon glyphicon-warning-sign text-danger"
              *ngIf="(vitals.systolic_bp && (vitals.systolic_bp <= 80 || vitals.systolic_bp >= 140))
                  || (vitals.diastolic_bp && (vitals.diastolic_bp <= 50 || vitals.diastolic_bp >= 90)) || (vitals.pulse && vitals.pulse >= 100)
                  || (vitals.temp && (vitals.temp <= 35.0 || vitals.temp >= 38.0)) || (vitals.oxygen_sat && vitals.oxygen_sat <= 89)
                  || (vitals.BMI && (vitals.BMI <= 18 || vitals.BMI >= 30))" >
                </span>
    <td>{{(vitals.encounter_datetime | date:'dd-MM-yyyy')  || '&nbsp;'}}</td>
    <td>
      <span [style.color]="(vitals.systolic_bp && (vitals.systolic_bp <= 80 || vitals.systolic_bp >= 140)) ? 'red':''" >{{vitals.systolic_bp && vitals.systolic_bp + "/"}}</span>
      <span [style.color]="(vitals.diastolic_bp && (vitals.diastolic_bp <= 50 || vitals.diastolic_bp >= 90)) ? 'red':''">{{(vitals.diastolic_bp && vitals.diastolic_bp)  || '&nbsp;'}}</span>
    </td>
    <td>
      <span [style.color]="(vitals.pulse && (vitals.pulse <= 0 || vitals.pulse >= 100))? 'red':''">{{vitals.pulse  || '&nbsp;'}}</span>
    </td>
    <td>
      <span [style.color]="(vitals.temp && (vitals.temp <= 35.0 || vitals.temp >= 38.0)) ? 'red':''" >{{vitals.temp  || '&nbsp;'}}</span>
    </td>
    <td>
      <span [style.color]="(vitals.oxygen_sat && vitals.oxygen_sat <= 89)? 'red':''">{{vitals.oxygen_sat  || '&nbsp;'}}</span>
    </td>
    <td>{{vitals.height  || '&nbsp;'}}</td>
    <td>{{vitals.weight  || '&nbsp;'}}</td>
    <td>
      <span [style.color]="(vitals.BMI && (vitals.BMI <= 18 || vitals.BMI >= 30))? 'red':''" >{{vitals?.BMI || '&nbsp;'}}</span>
    </td>
  </tr>
</table>
<!--<pagination-controls (pageChange)="page = $event" style="cursor: pointer;"></pagination-controls>-->
<div *ngFor="let error of errors" class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> {{error.message}}
</div>
  <div *ngIf="!dataLoaded">
    <button [disabled]="isLoading" class="btn btn-info" (click)="loadMoreVitals()">
      <span > Load More </span>
      <i *ngIf="loadingVitals" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
    </button>
  </div>

<div *ngIf='dataLoaded'>
	<p class="bg-info" style="padding:4px; border-color: gray">
		<b>
			<span style="color:green; " class="glyphicon glyphicon-ok">All records loaded {{'[' + vitals.length + ']'}}</span></b>
		<p>
</div>
</div>

</div>
