<div class="practioner-profile-layout">
  <div class="row">
    <div class="loader" *ngIf="showLoader">
      <span> <i class="fa fa-spinner fa-spin"></i>{{ loadingMessage }} </span>
    </div>
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
      <div
        class="alert alert-success"
        *ngIf="showSuccessAlert"
        style="margin-top: 10px"
      >
        {{ successAlert }}
      </div>
      <div
        class="alert alert-danger"
        *ngIf="showErrorAlert"
        style="margin-top: 10px"
      >
        {{ errorAlert }}
      </div>
    </div>
    <ng-container *ngIf="practitioner">
      <div class="col-md-6">
        <h4>Personal Information</h4>
        <table class="table table-bordered table-sm">
          <tr>
            <th width="30%">Full Name</th>
            <td>{{ practitioner?.membership?.full_name }}</td>
          </tr>
          <tr>
            <th>National ID</th>
            <td>{{ practitioner?.identifiers?.identification_number }}</td>
          </tr>
          <tr>
            <th>Registration ID</th>
            <td>{{ practitioner?.membership?.registration_id }}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>
              <span class="badge">
                {{ practitioner?.membership?.status }}
              </span>
            </td>
          </tr>
          <tr>
            <th>Licensing Body</th>
            <td>{{ practitioner?.membership?.licensing_body }}</td>
          </tr>
        </table>
      </div>

      <div class="col-md-6">
        <h4>Contact Information</h4>
        <table class="table table-bordered table-sm">
          <tr>
            <th width="30%">Phone</th>
            <td>{{ practitioner?.contacts?.phone }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ practitioner?.contacts?.email || 'Not provided' }}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{ practitioner?.contacts?.postal_address }}</td>
          </tr>
        </table>
      </div>

      <div class="col-md-12 mt-3">
        <h4>Professional Details</h4>
        <table class="table table-bordered table-sm">
          <tr>
            <th width="20%">Professional Cadre</th>
            <td>
              {{ practitioner?.professional_details?.professional_cadre }}
            </td>
          </tr>
          <tr>
            <th>Practice Type</th>
            <td>{{ practitioner?.professional_details?.practice_type }}</td>
          </tr>
          <tr>
            <th>Qualifications</th>
            <td>
              {{
                practitioner?.professional_details.educational_qualifications
              }}
            </td>
          </tr>
        </table>
      </div>

      <div class="col-md-12 mt-3">
        <h4>License Information</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>License Type</th>
                <th>License ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reference ID</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let license of practitioner?.licenses">
                <td>{{ license?.license_type }}</td>
                <td>{{ license?.id }}</td>
                <td>{{ license?.license_start | date }}</td>
                <td>{{ license?.license_end | date }}</td>
                <td>{{ license?.external_reference_id }}</td>
                <td>
                  <span
                    class="label"
                    [ngClass]="{
                      'label-success': !isExpired(license?.license_end),
                      'label-danger': isExpired(license?.license_end)
                    }"
                  >
                    {{ isExpired(license?.license_end) ? 'Expired' : 'Active' }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>
