<div class="container-fluid" id="report-container">
        <h4 class="component-title" style="color: green;"><span class="fa fa-cart-plus"></span>{{title}}</h4>

        <app-hiv-enhanced-program-filters 
                [(startDate)]="startDate"
                [(endDate)]="endDate"
                [parentIsBusy]="isLoadingPatientList"
                [(viremiaFilter)]="viremiaFilter"
                (viremiaFilterChange)="viremiaFilterChange($event)"
        >
        </app-hiv-enhanced-program-filters>

        <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <ul class="nav nav-tabs">
                                <li class="tablink" [ngClass]="{'active': activeTab.not_in_enhanced_care}">
                                        <a class="btn" href="#not_in_enhanced_care" (click)="generateReport('not_virally_suppressed_not_in_enhanced_care')" data-toggle="tab">Patients Eligible</a>
                                </li>
                                <li class="tablink" [ngClass]="{'active': activeTab.in_enhanced_care}">
                                        <a class="btn" href="#in_enhanced_care" (click)="generateReport('not_virally_suppressed_in_enhanced_care')" data-toggle="tab">Patients Enrolled</a>
                                </li>
                                <li class="tablink" [ngClass]="{'active': activeTab.in_enhanced_care_vl_due}">
                                        <a class="btn" href="#in_enhanced_care_vl_due" (click)="generateReport('not_virally_suppressed_in_enhanced_care_vl_due')" data-toggle="tab">Patients Due for Repeat 3 Months VL</a>
                                </li>
                                <li class="tablink" [ngClass]="{'active': activeTab.mdt_form_completed}">
                                        <a class="btn" href="#mdt_form_completed" (click)="generateReport('mdt_form_completed')" data-toggle="tab">Patients Requiring MDT Form</a>
                                </li>

                        </ul>
                        <div class="tab-content">
                                <div class="tab-pane fade in active">
                                        <h4 class="center">{{sectionTittle}}</h4>
                                        <app-hiv-enhanced-patient-list
                                                [patientData]="patientData"
                                                [isLoadingPatientList]="isLoadingPatientList"
                                                [extraColumns]="extraColumns()"
                                                #enhanced>
                                        </app-hiv-enhanced-patient-list>
                                </div>
                        </div>
                </div>
        </div>
</div>
