.list-group-item {
    padding: 4px;
    margin-right: 0px;
    margin-left: 0px;
}

.list-group {
  padding-right: 0px;
}

.list-group-item:hover {
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer;
}

.fa-star {
  color: gold
}

.form-group , .input-group{
  width:100%;
}

.form-inline .input-group .input-group-btn {
  width: 1%;
}

.ladda-button {
  background: none !important;
}

.ladda-button[disabled], .ladda-button[data-loading], .ladda-button:hover {
    border-color: transparent;
}

.forms-list {
  margin-top: 4px;
  /*padding-left: 15px;*/
}

.link-item {
  padding: 0px;
  display: inline-block;
}
